{% extends 'LoginCidadaoCoreBundle::base.popup.html.twig' %}

{% block body %}
{% trans_default_domain 'FOSUserBundle' %}

<div class="popup-content">
    {{ form_start(form, {'attr': {'role':'form', 'class':'clearfix'}}) }} {{ form_errors(form) }}
    <div class="form-content">
        <h3 class="title">{{ 'cep.search.title'|trans }}</h3>
        <div class="form-group">
            {{ form_label(form.state) }}
            <div class="input-error">{{ form_errors(form.state) }}</div>
            {{ form_widget(form.state, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.city) }}
            <div class="input-error">{{ form_errors(form.city) }}</div>
            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.adress) }}
            <div class="input-error">{{ form_errors(form.adress) }}</div>
            {{ form_widget(form.adress, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.adressnumber) }}
            <div class="input-error">{{ form_errors(form.adressnumber) }}</div>
            {{ form_widget(form.adressnumber, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-bar text-right">
        <input class='btn btn-success btn-sm' type="submit" value="{{ 'grid.search.button'|trans }}" />
    </div>
    {{ form_end(form) }}
    <hr />

    <div class="common-grid-msg">
        <div>{{ 'grid.search.title'|trans }}</div>
        {% if ceps|length > 0 %}

        <div class="common-grid-results">
            <div class="row header">
                <div class="col-md-3">{{ 'form.adress'|trans }}</div>
                <div class="col-md-3">{{ 'form.district'|trans }}</div>
                <div class="col-md-3">{{ 'form.city'|trans }}</div>
                <div class="col-md-1">{{ 'form.state'|trans }}</div>
                <div class="col-md-1">{{ 'form.cep'|trans }}</div>
                <div class="col-md-1">{{ 'form.map'|trans }}</div>
            </div>
            {% for cep in ceps %}
            <div class="row common-grid-result">
                <input type="hidden" class="littlesecret" value="{{ cep|json_encode }}"/>
                <div class="col-md-3">
                    <dt>{{ 'form.adress'|trans }}</dt>
                    <dd>{{ cep.tipoLogradouro | title }} {{ cep.tituloLogradouro | title }} {{ cep.logradouro | title }} {% if cep.idParidade is not null %} {{ cep.idParidade == "P" ? '(lado par)' : '(lado ímpar)' }} {% endif %}</dd>
                </div>
                <div class="col-md-3">
                    <dt>{{ 'form.district'|trans }}</dt>
                    <dd>{{ cep.bairro | title }}</dd>
                </div>
                <div class="col-md-3">
                    <dt>{{ 'form.city'|trans }}</dt>
                    <dd>{{ cep.localidade | title }}</dd>
                </div>
                <div class="col-md-1">
                    <dt>{{ 'form.state'|trans }}</dt>
                    <dd>{{ cep.state }}</dd>
                </div>
                <div class="col-md-1">
                    <dt>{{ 'form.cep'|trans }}</dt>
                    <dd><a onclick="tryThisCep(this, event);" href="javascript:void(0);">{{ cep.cep|formatCep }}</a></dd>
                </div>
                <div class="col-md-1">
                    <a target="_blank" class="center-block text-center" title="maps" href="http://maps.google.com.br/maps?q={{ cep.logradouro|url_encode(true) }},{{ cep.bairro|url_encode(true) }},{{ cep.localidade|url_encode(true) }},{{ cep.state|url_encode(true) }}, {{ form.adressnumber.vars.value|url_encode(true) }}"><i class="glyphicon glyphicon-map-marker"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div>{{ 'grid.search.noresult'|trans }}</div>
        {% endif %}
    </div>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
function tryThisCep(obj, evt) {
    if (window.opener) {
        var ugly = 'window.opener.'+QueryString.callback+'('+$(obj).parent().parent().parent().find('.littlesecret').val()+')';
        eval(ugly);
    }
    window.close();
}
</script>
{% endblock %}
