{% extends "LoginCidadaoCoreBundle::base.loggedIn.html.twig" %}
{% block content %}
  <div id="statistics" class="content statistics-region clearfix">

    <h1>{{ 'statistics.userByRegion'|trans }}</h1>

    {% for item in data %}
      <div class="col-md-4">
        {% if item.id is defined %}
          {% set link %}href="{{ path('lc_statistics_user_city', {'stateId': item.id } ) }}"{% endset %}
        {% else %}
          {% set link = '' %}
        {% endif %}
        <a class="item" {{ link }} title="{{ 'statistics.checkCities'|trans }}">
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          <div>
            {{ item.name | trans }}
          </div>
          {% if item.country is defined %}
          <div>{{ item.country | trans }}</div>
          {% endif %}
          <div class="qty">{{ item.qty }}</div>
        </a>
      </div>
    {% endfor %}

  </div>
{% endblock %}