{% extends "LoginCidadaoCoreBundle::base.loggedIn.html.twig" %}
{% block content %}
  <div id="statistics" class="content statistics-badges badges-list">

    <h1>{{ 'statistics.userByBadge'|trans }}</h1>

        {% trans_default_domain "badges" %}
    {% for client, badges in data %}
      <div class="panel panel-default">
        <div class="panel-heading">
                    <h3 class="panel-title">{{ (client ~ '.title') | trans }}</h3>
        </div>
        <div class="panel-body">
          {% for badge, value in badges %}
            {% for key, item in value %}
              <div class="row badge-box">
                <div class="col-md-2">
                  <div class="badge-icon badge-{{ key }}"></div>
                  <div class="badge-title">{{ (client ~ '.' ~ key ~ '.title') | trans }}</div>
                </div>
                <div class="col-md-10 {{ item is iterable ? '' : 'badge-single'}}">
                  {% if item is iterable %}
                    {% for k, num in item %}
                      {% set w = (num * 100) / totalUsers %}
                      <div class="wrap clearfix">
                        <div>{{ (client ~ '.' ~ key ~ '.title') | trans }} - {{ k }}</div>
                        <div class="col-sm-11 badge-progress">
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" data-total="{{ totalUsers }}" aria-valuenow="{{ w|round }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ w|round(1, 'floor') }}%;">
                              {{ w|round(1, 'floor') }}%
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-1 badge-count">
                          <span class="label label-info">{{ num }}</span>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                      <div class="col-sm-11 badge-progress">
                        <div class="progress">
                          {% set w = (item * 100) / totalUsers %}
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{ w|round }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ w|round }}%;">
                            {{ w|round(1, 'floor') }}%
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-1 badge-count">
                        <span class="label label-info">{{ item }}</span>
                      </div>
                  {% endif %}
                </div>
              </div>

            {% endfor %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}

  </div>
{% endblock %}