{% if 'public_profile' not in scopes %}{% set scopes = scopes | merge(['public_profile']) %}{% endif %}
{% set verified %}
    <span class="label label-success"
          title="{{ 'organizations.validation.on_authorize.info.domain_verified' | trans }}">
        <span class="glyphicon glyphicon-ok"></span>
    </span>
{% endset %}
{% set not_verified %}
    <span class="label label-danger"
          title="{{ 'organizations.validation.on_authorize.info.domain_not_verified' | trans }}">
        <span class="glyphicon glyphicon-alert"></span>
    </span>
{% endset %}

<form action="{{ qs is defined ? '?' ~ qs|url_encode : path('fos_oauth_server_authorize') }}"
      method="post" class="fos_oauth_server_authorize">
    {% if is_granted('FEATURE_ORGANIZATIONS') %}
        {% if organization is empty or organization.isVerified is same as(false) %}
            {% set status_label = not_verified %}
            <div class="alert bg-danger small" role="alert">
                <strong class="text-center center-block">{{ 'organizations.validation.on_authorize.warn_not_verified.attention' | trans }}</strong>
                <p>{{ 'organizations.validation.on_authorize.warn_not_verified.text' | trans }}</p>
            </div>
        {% else %}
            {% set status_label = verified %}

            {% if warnUntrusted %}
                <div class="alert bg-warning small" role="alert">
                    <strong class="text-center center-block">{{ 'organizations.trust.warn_untrusted.attention' | trans | raw }}</strong>
                    <p>{{ 'organizations.trust.warn_untrusted.text' | trans | raw }}</p>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

    <h1>{{ 'authorization.title' | trans({ '%client_name%': client.name | e }) | raw }}</h1>

    <p class="msg">{{ 'authorization.description' | trans({'%client_name%': client.name | e}) | raw }}</p>

    <ul class="permissions">
        {% for scope, scopeTrans in scopes | scope(true) | sort %}
            {% set index = loop.index %}
            {% if scope | scope_has_description %}
                {% set details = include('LoginCidadaoCoreBundle::common.scope.details.attr.html.twig', { 'scope': scope }) %}
                {% set handle = include('LoginCidadaoCoreBundle::common.scope.details.handle.html.twig', { 'scope': scope }) %}
            {% else %}
                {% set details = '' %}
                {% set handle = '' %}
            {% endif %}
            {% if scopeTrans is empty %}
                {# If no translation is found, then it's a hidden scope #}
                <input type="hidden" name="scope[]" value="{{ scope }}">
            {% elseif scope == 'public_profile' %}
                <li class="checkbox">
                    <input type="checkbox" name="scope[]" checked disabled value="{{ scope }}" id="scope_{{ index }}">
                    <label for="scope_{{ index }}">
                        <span {{ details | raw }}>{{ scopeTrans }} {{ handle | raw }}</span>
                    </label>
                    <input type="hidden" name="scope[]" value="{{ scope }}">
                </li>
            {% else %}
                <li class="checkbox checkbox-primary">
                    <input type="checkbox" name="scope[]" checked value="{{ scope }}" id="scope_{{ index }}">
                    <label for="scope_{{ index }}">{{ scopeTrans }}</label>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    {% if is_granted('FEATURE_REMOTE_CLAIMS') and remoteClaims is not empty %}
        <div class="remote-claims">
            <p>{{ 'remote_claims.authZ.service_requesting' | trans({'%client_name%': client.name | e}) | raw }}</p>
            <div class="remote-claims-list list-group">
                {% for claim in remoteClaims %}
                    {{ include('LoginCidadaoRemoteClaimsBundle::remote_claim.html.twig', {'claim': claim, 'isForm': true}) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if is_granted('FEATURE_ORGANIZATIONS') %}
        {% if organization is not empty %}
            <div class="organization-status alert bg-success small" role="alert">
                <p>
                    {{ 'organizations.validation.on_authorize.info.provided_by' | trans({'%name%': organization.name | striptags, '%domain%': organization.domain | striptags, '%label%': status_label }) | raw }}
                    {{ 'organizations.validation.on_authorize.info.warn_trust' | trans({'%name%': organization.name | striptags, '%domain%': organization.domain | striptags}) | raw }}
                </p>
            </div>
        {% else %}
            <div class="organization-status alert bg-danger small" role="alert">
                <p>
                    {{ 'organizations.validation.on_authorize.info.no_organization.provided_by' | trans | raw }}
                    {{ 'organizations.validation.on_authorize.info.no_organization.warn_trust' | trans | raw }}
                </p>
            </div>
        {% endif %}
    {% endif %}

    <div class="buttons">
        <button type="submit" name="accepted" class="btn btn-block btn-success">
            {{ 'authorize.accept'|trans({}, 'FOSOAuthServerBundle') }}
        </button>
        <button type="submit" name="rejected" class="btn btn-block btn-danger btn-outline" style="color: #b00">
            {{ 'authorize.reject'|trans({}, 'FOSOAuthServerBundle') }}
        </button>
    </div>

    {% if client.description | trim | length > 0 %}
        <div class="authz-about-service">
            <h2>{{ 'authorization.about' | trans({ '%client_name%': client.name | e }) | raw }}</h2>
            <p>{{ client.description | nl2br }}</p>
        </div>
    {% endif %}
</form>
