{% extends "LoginCidadaoCoreBundle::grid_layout.html.twig" %}

{% block grid_header_data %}
<div class="col-md-4">{{ 'Service'|trans }}</div>
<div class="col-md-7">{{ 'URL'|trans }}</div>
{% endblock grid_header_data %}

{% block grid_row_action %}
<div class="col-md-1 action-column-grid">
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <a href="{{ path('lc_admin_app_edit', {'id': row.id}) }}">
                <button type="button" class="btn btn-warning edit-row-grid" id="{{ grid.getId }}-row-{{ row.id }}"  data-row="{{ grid.getRouteParams|merge({'id':row.id})|json_encode }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="label-action-column-grid">{{ 'edit'|trans }} </span>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock grid_row_action %}

{% block grid_row_data %}
<div class="col-md-3">
    <dt>{{ 'Service'|trans }}</dt>
    <dd>{{ row.name }}</dd>
</div>
<div class="col-md-7">
    <dt>{{ 'URL'|trans }}</dt>
    <dd>{{ row.siteurl }}</dd>
</div>
{% endblock grid_row_data %}

{% block grid_infinite_pagination %}
    <div class="btn-group btn-group-justified">
        {% if not grid.getRlast and grid.isInfiniteGrid %}
            {% set routeParams = { 'page': grid.page + 1 } %}
            <div class="btn-group">
                <button type="button" class="btn btn-info infinitescroll-next-button " data-retrive="#{{ grid.getId }}">
                  {{ 'load more'|trans }}
                </button>
            </div>
        {% endif %}
    </div>
{% endblock grid_infinite_pagination %}