{% extends 'PROCERGSLoginCidadaoCoreBundle::base.html.twig' %}

{% block body %}

{% block notificationExtreme %}
{{ include("PROCERGSLoginCidadaoCoreBundle::notification_extreme.html.twig", { columns: 'col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3' } ) }}
{% endblock %}

<div class="row">
    <div class="col-xs-12 text-center header-shadows">
        <h1>{% trans %}Citizen's Login{% endtrans %}</h1>
        <h2 class="slogan hidden-xs">{% trans %}One account. The entire Government.{% endtrans %}</h2>
    </div>
</div>

<div class="row">
    <div class="general-content col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        {% trans_default_domain 'FOSUserBundle' %}

        <div class="title">
            <h3>{% trans %}Reset Password{% endtrans %}</h3>
            <p>{% trans %}Enter your username or email{% endtrans %}</p>
        </div>

        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="user_resetting_request">
            <div class="form-content">
                <div class="form-group">
                    <label class="control-label invisible" for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input class="form-control username" placeholder="{{ 'resetting.request.username'|trans }}" type="text" name="username" required="required" />
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <div class="input-error">{% if invalid_username is defined %}{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username})}}{% endif %}</div>
                </div>
                <input class='btn btn-success' type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                <a href="{{ path('lc_home') }}" class='btn btn-default' />{% trans %}Cancel{% endtrans %}<a/>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block stylesheets_custom %}
    {% stylesheets '@lc_base_css' 'bundles/procergslogincidadaocore/css/home/*.css' filter='cssrewrite' filter='?uglifycss' %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function() {
        $('input.username').on('keyup', function(e) {
            validator.onKeyUpMultiformat(this, e);
        });
    });
</script>
{% endblock %}
