{% extends "LoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block title %}{{ 'Addresses' | trans }} | {{ parent() }}{% endblock title %}

{% block content %}
    <div class="content addresses">
        <h1 class="visible-xs">{{ 'Addresses' | trans }}</h1>
    {% block addresses %}{% endblock %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts  '@LoginCidadaoCoreBundle/Resources/public/js/components/typeahead.bundle.js'
                    '@LoginCidadaoCoreBundle/Resources/public/js/components/handlebars-v2.0.0.js'
                    '@LoginCidadaoCoreBundle/Resources/public/js/dynamic-form/locationSelect.js'
                    '@LoginCidadaoCoreBundle/Resources/public/js/person.address.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function () {
            locationSelection.formUrl = '{{ path('dynamic_form_location') }}';
        });
    </script>
{% endblock %}

{% block stylesheets_custom %}
    {{ parent() }}
    {% stylesheets '@LoginCidadaoCoreBundle/Resources/public/css/components/typeaheadjs.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
