{% if form is not defined and edit_form is defined %}
    {% set form = edit_form %}
{% endif %}
{% if embeded is defined and embeded == true %}
{% else %}
    {{ form_start(form) }}
    {% form_theme form 'LoginCidadaoCoreBundle::Form/fields.html.twig' %}
{% endif %}
<a name="form" class="anchor"></a>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title" style="padding-top: 7.5px;">
            {% if name_as_normal_field is defined and name_as_normal_field == true %}
                {{ 'Address' | trans }}
            {% else %}
                {{ form_label(form.name, null, {'label_attr': {'class': 'sr-only2' | trans} }) }}
                {{ form_widget(form.name, {'attr': {'placeholder': 'ex: Home Address' | trans} }) }}
                {{ form_errors(form.name) }}
            {% endif %}
        </h4>
    </div>

    <div class="panel-body">
        {% if name_as_normal_field is defined and name_as_normal_field == true %}
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'placeholder': 'ex: Home Address' | trans} }) }}
                {{ form_errors(form.name) }}
            </div>
        {% endif %}
        <div class="form-group">
            {{ form_label(form.postalCode) }}
            {{ form_widget(form.postalCode, {'attr': {'placeholder': 'ex: DE24 8SG' | trans} }) }}
            <span class="extra">{% trans %}Don't know your postal code?{% endtrans %}<a target='blank' href="{{ postalcode_search_link }}">{{ 'Search it!' | trans }}</a></span>
                {{ form_errors(form.postalCode) }}
        </div>
        {{ form_row(form.location) }}
        <div class="form-group">
            {{ form_label(form.address) }}
            {{ form_widget(form.address, {'attr': {'placeholder': 'ex: 221B Baker Street' | trans} }) }}
            {{ form_errors(form.address) }}
        </div>
        <div class="form-group">
            {{ form_label(form.addressNumber) }}
            {{ form_widget(form.addressNumber) }}
            {{ form_errors(form.addressNumber) }}
        </div>
        <div class="form-group">
            {{ form_label(form.complement) }}
            {{ form_widget(form.complement, {'attr': {'placeholder': 'ex: apartment 2' | trans} }) }}
            {{ form_errors(form.complement) }}
        </div>
    </div>
    {% if hide_footer is defined and hide_footer == true %}
    {% else %}
        <div class="panel-footer">
            <div class="form-group text-right">
                <input type="submit" value="{{ 'Send'|trans }}" class="btn btn-success">
            </div>
        </div>
    {% endif %}
</div>
{% if embeded is defined and embeded == true %}
{% else %}
    {{ form_end(form) }}
{% endif %}
