{% if app.user.addresses|length > 0 %}
    {% for address in app.user.addresses %}
        {% if edit_form is not defined or address.id != edit_form.vars.value.id %}
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">{{ address.name }}</h4>
                <div class="btn-group pull-right">
                    <a href="{{ path('lc_person_addresses_edit', { id: address.id }) }}" class="btn btn-default btn-sm" title="{{ 'Edit' | trans }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <button type="button" class="btn btn-danger btn-sm address-remove" data-address-id="{{ address.id }}" title="{{ 'Remove' | trans }}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
            {% set form = deleteForms[address.id] %}
            {{ form_start(form, {'action': path('lc_person_addresses_delete', { id: address.id }), 'attr': {'role': 'form'}}) }}
            <div class="panel panel-danger remove-box" data-address-id="{{ address.id }}" style="margin-bottom: 0">
                <div class="panel-heading clearfix">
                    <span class="pull-left">{{ 'Are you sure you want to remove this address?' | trans }}</span>
                    <span class="pull-right">
                        {{ form_widget(form.delete) }}
                        <button type="button" class="btn btn-default btn-xs cancel">{{ 'No' | trans }}</button>
                    </span>
                </div>
            </div>
            {{ form_end(form) }}

            <div class="panel-body">
                <address>
                {% if address.address %}
                	{{ address.address }}
	                {% if address.addressNumber %}
	                	, {{ address.addressNumber }}
	                {% endif %}
                	<br/>
                {% endif %}
                {% if address.complement %}
                	{{ address.complement }}<br/>
                {% endif %}
                {% if address.postalCode %}
                	{{ address.postalCode }}<br/>
                {% endif %}
                {% if address.city %}
                    {{ address.city.name }}
                    {% if address.city.state.acronym %}
                    	, <abbr title="{{ address.city.state.name }}">{{ address.city.state.acronym }}</abbr>
					{% else %}
						, {{ address.city.state.name }}
                    {% endif %}
                    	, {{ address.city.state.country.name | trans }}
                {% endif %}
                </address>
            </div>
        </div>
        {% else %}
            {{ include("LoginCidadaoCoreBundle:PersonAddress:form.component.html.twig", { 'form': edit_form } ) }}
        {% endif %}
    {% endfor %}
{% else %}
    <p class="empty">{% trans %}You don't have an address registered yet. Use the button below to add one.{%  endtrans %}</p>
{% endif %}