{% extends "LoginCidadaoCoreBundle:PersonAddress:base.html.twig" %}

{% if form is not defined and edit_form is defined %}
    {% set form = edit_form %}
{% endif %}

{% block addresses %}
    {{ include("LoginCidadaoCoreBundle:PersonAddress:list.component.html.twig") }}
    {% if edit_form is not defined %}
        {{ include("LoginCidadaoCoreBundle:PersonAddress:form.component.html.twig") }}
    {% endif %}
    <script>
        var selectors = {
            'city': {
                'url': '{{ path('api_1_get_cities', {'city': 'QUERY', '_format': 'json'}) }}'.replace('QUERY', '%QUERY'),
                'template': '<p><strong>{\{name}}</strong>, {\{state.acronym}}</p>',
                'displayKey': function (city) {
                    return city.name + ', ' + city.state.acronym;
                },
            },
            'state': {
                'url': '{{ path('api_1_get_states', {'state': 'QUERY', '_format': 'json'}) }}'.replace('QUERY', '%QUERY'),
                'template': '<p><strong>{\{name}}</strong>, {\{country.iso2}}</p>',
                displayKey: function (state) {
                    return state.name + ', ' + state.country.iso2;
                }
            },
            'country': {
                'url': '{{ path('api_1_get_countries', {'country': 'QUERY', '_format': 'json'}) }}'.replace('QUERY', '%QUERY'),
                'template': '<p><strong>{\{name}}</strong></p>',
                displayKey: function (country) {
                    return country.name;
                }
            }
        };

    </script>
{% endblock %}
