{% extends "::base.html.twig" %}

{% trans_default_domain "LoginCidadaoTOSBundle" %}

{% block title %}{{ 'tos.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'tos.agreement.title' | trans }}</h1>

    <p>{{ 'tos.agreement.intro' | trans }}</p>

    <div class="terms">
        {{ render(controller('LoginCidadaoTOSBundle:TermsOfService:showLatest')) }}
    </div>

    {{ form_start(form) }}
    <p>{{ 'tos.agreement.ask' | trans }}</p>
    {{ form_end(form) }}
{% endblock %}
