{% set myController = app.request.get('_template').get('controller')|trim %}
<div class="settings-nav col-sm-3 col-lg-2">
    <ul class="nav nav-pills nav-stacked">
        {% block menu_admin_items %}
            <li class="profile glyph">
                <a href="{{ path('lc_home') }}" role="button">
                    <i class="glyphicon glyphicon-arrow-left icon"></i>
                    <span>{{ 'Back to main menu'|trans }}</span>
                </a>
            </li>
            <li class="services glyph {{ myController == 'Admin\\Client' ? 'active' }}">
                <a href="{{ path('lc_admin_app') }}">
                    <span>{{ 'admin.apps.list'|trans() }}</span>
                    <i class="glyphicon glyphicon-th icon"></i>
                </a>
            </li>
            {% if is_granted('FEATURE_IMPERSONATION_REPORTS') %}
                <li class="services glyph {{ myController == 'Admin\\ImpersonationReport' ? 'active' }}">
                    <a href="{{ path('lc_admin_impersonation_report_index') }}">
                        <span>{{ 'admin.impersonation_report.menu'|trans() }}</span>
                        <i class="glyphicon glyphicon-sunglasses icon"></i>
                    </a>
                </li>
            {% endif %}
            <li class="services glyph {{ myController == 'Admin\\Suggestion' ? 'active' }}">
                <a href="{{ path('lc_admin_sugg') }}">
                    <span>{{ 'admin.sugg.list'|trans() }}</span>
                    <i class="glyphicon glyphicon-th-list icon"></i>
                </a>
            </li>
            <li class="services glyph {{ myController == 'Admin\\Person' ? 'active' }}">
                <a href="{{ path('lc_admin_person') }}">
                    <span>{{ 'admin.person.list'|trans() }}</span>
                    <i class="glyphicon glyphicon-user icon"></i>
                </a>
            </li>
            {% if is_granted('ROLE_AUDIT_PROFILE_VIEWS') %}
                <li class="services glyph {{ myController == 'Admin\\ProfileViews' ? 'active' }}">
                    <a href="{{ path('lc_admin_profile_views_report') }}">
                        <span>{{ 'admin.person.profile_views_status.menu'|trans() }}</span>
                        <i class="glyphicon glyphicon-user icon"></i>
                    </a>
                </li>
            {% endif %}
        {% endblock %}
    </ul>
</div>
