{% extends 'PROCERGSLoginCidadaoCoreBundle:Dev:base.html.twig' %} {% block content %}
<div id="app-detail" class="content app-admin clearfix">
    <h5>{{ 'Notification config'|trans }}</h5>
    <a id="add_category" class="btn-sm btn-primary glyphicon glyphicon-plus" href="{{ path('lc_dev_not_new') }}"></a>
    <label for="add_service">{{ 'add'|trans }} {{ 'Config'|trans }}</label>           
    {% render(controller("PROCERGSLoginCidadaoCoreBundle:Dev/Notification:grid")) %}
</div>

{% endblock %} 

{% block javascripts %} 
{{ parent() }}
<script type="text/javascript">
</script>
{% endblock %}
