{% extends 'PROCERGSLoginCidadaoCoreBundle:Dev:base.html.twig' %} {% block content %}
<div id="profile-edit" class="content clearfix">
    <h1>{{ 'Notification config'|trans }}</h1>
    <div class="form-content">
                {{ form_start(form, {'attr' : {'role' : 'form'}}) }} 
                {{ form_errors(form) }}
                <div class="row clearfix">
                    <div class="col-md-12">
						<div class="form-group">
                            {{ form_label(form.id, 'Id' | trans) }} 
                            {{ form_errors(form.id) }} 
                            {{ form_widget(form.id) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.client, 'Service' | trans) }} 
                            {{ form_errors(form.client) }} 
                            {{ form_widget(form.client) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.name, 'Name'| trans) }} 
                            {{ form_errors(form.name) }} 
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.defaulticon, 'Default Icon' | trans) }}
                            {{ form_errors(form.defaulticon) }}
                            {{ form_widget(form.defaulticon) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.defaulttitle, 'Default title' | trans) }}
                            {{ form_errors(form.defaulttitle) }}
                            {{ form_widget(form.defaulttitle) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.defaultshorttext, 'Default shorttext' | trans) }}
                            {{ form_errors(form.defaultshorttext) }}
                            {{ form_widget(form.defaultshorttext) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.markdowntemplate, 'Markdown template' | trans) }} 
                            {{ form_errors(form.markdowntemplate) }} 
                            {{ form_widget(form.markdowntemplate, {'attr' : {'class' :'form-control', 'rows': '3' }}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.mailtemplate, 'Mail template' | trans) }} 
                            {{ form_errors(form.mailtemplate) }} 
                            {{ form_widget(form.mailtemplate, {'attr' : {'class' :'form-control', 'rows': '3' }}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.mailsenderaddress, 'Mail domain'| trans) }} 
                            {{ form_errors(form.mailsenderaddress) }} 
                            {{ form_widget(form.mailsenderaddress) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.emailable, 'Mail send' | trans) }} 
                            {{ form_errors(form.emailable) }} 
                            {{ form_widget(form.emailable) }}
                        </div>
                    </div>
                </div>
                <div class="form-bar text-right">
                    <input class='btn btn-success' type="submit" value="{{ 'Send'|trans }}" />
                </div>
                {{ form_end(form) }}
            </div>
    </div>
</div>
{% endblock %}
