{% extends 'PROCERGSLoginCidadaoCoreBundle:Dev:base.html.twig' %} {% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'Notification config'|trans }}</h3>
        </div>
    </div>
<div id="notification_id">
    {{ form_start(form, {'attr' : {'role' : 'form'}}) }} {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'General'|trans }}</h3>
        </div>
        <div class="panel-body">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="form-group">{{ form_label(form.id, 'Id' | trans) }} {{ form_errors(form.id) }} {{ form_widget(form.id) }}</div>
                    <div class="form-group">{{ form_label(form.client, 'Service' | trans) }} {{ form_errors(form.client) }} {{ form_widget(form.client) }}</div>
                    <div class="form-group">{{ form_label(form.name, 'Name'| trans) }} {{ form_errors(form.name) }} {{ form_widget(form.name) }}</div>
                    <div class="form-group">{{ form_label(form.defaulticon, 'Default Icon' | trans) }} {{ form_errors(form.defaulticon) }} {{ form_widget(form.defaulticon) }}</div>
                    <div class="form-group">{{ form_label(form.defaulttitle, 'Default title' | trans) }} {{ form_errors(form.defaulttitle) }} {{ form_widget(form.defaulttitle) }}</div>
                    <div class="form-group">{{ form_label(form.defaultshorttext, 'Default shorttext' | trans) }} {{ form_errors(form.defaultshorttext) }} {{ form_widget(form.defaultshorttext) }}</div>
                    <div class="form-group">{{ form_label(form.emailable, 'Mail send' | trans) }} {{ form_errors(form.emailable) }} {{ form_widget(form.emailable) }}</div>
                    <div class="form-group">{{ form_label(form.mailsenderaddress, 'Mail sender' | trans) }} {{ form_errors(form.mailsenderaddress) }} {{ form_widget(form.mailsenderaddress) }}</div>

                    <div class="form-bar text-right">
                        <input class='btn btn-success' type="submit" value="{{ 'Send'|trans }}" />
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'Templates'|trans }}</h3>
        </div>
        <div class="panel-body">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="form-group">{{ form_label(form.markdowntemplate, 'Markdown template' | trans) }} {{ form_errors(form.markdowntemplate) }} {{ form_widget(form.markdowntemplate, {'attr' : {'class' :'form-control', 'rows': '3' }}) }}</div>
                    <div class="form-group">{{ form_label(form.mailtemplate, 'Mail template' | trans) }} {{ form_errors(form.mailtemplate) }} {{ form_widget(form.mailtemplate, {'attr' : {'class' :'form-control', 'rows': '3' }}) }}</div>

                    <div class="form-bar text-right">
                        <input class='btn btn-success' type="submit" value="{{ 'Send'|trans }}" />
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Placeholders'|trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="row clearfix">
            <div class="col-md-12">
                <div id="placeholder-grid-place">
                {% include "PROCERGSLoginCidadaoCoreBundle:Dev/Notification:placeholderGrid.html.twig" with {'grid': placeholderGrid} %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="placeholder-edit"></div>
<style>
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
	{
	border-color: black black rgba(0, 0, 0, 0);
}

.nav-tabs {
	border-bottom: 1px solid black;
}

.tab-pane {
	margin-top: 10px;
}
</style>
{% endblock %}

{% block javascripts %} 
{{ parent() }}
<script>
var categoryId = '#{{ form.id.vars.id }}';
var routePlaceholderEdit = '{{ path('lc_dev_not_placeholder_edit') }}';
var routePlaceholderRemove = '{{ path('lc_dev_not_placeholder_remove') }}';
var routePlaceholderGrid = '{{ path('lc_dev_not_placeholder_grid') }}';
var placeholderGrid = {};
placeholderGrid.getGrid = function() {
	if (!$(categoryId).length) {
	}
	$.ajax({
		type: 'get',
		url: routePlaceholderGrid + '?category_id='+ $(categoryId).val(),
		dataType : 'html',
		success : function(data, textStatus, jqXHR) {
			$('#placeholder-grid-place').html(data);
			$(data).each(lcInitInfinityGrid);
			$('html, body').animate({scrollTop: $('#placeholder-grid-place').offset().top});
		}
    });
};
$(document).on('click', '#new_placeholder',  function() {	
	if (!$(categoryId).length) {
		return;
	}
	$.ajax({
		type: 'get',
		url: routePlaceholderEdit + '?category_id='+ $(categoryId).val(),
		dataType : 'html',
		success : function(data, textStatus, jqXHR) {
			$('#placeholder-edit').html(data);
			$('html, body').animate({scrollTop: $('#placeholder-edit').offset().top});
		}
    });
});
$(document).on('click', '#placeholder-grid .edit-row-grid',  function() {
	if (!$(categoryId).length) {
		return;
	}
	var $id = $.parseJSON($(this).attr('data-row')).id;
	$.ajax({
		type: 'get',
		url: routePlaceholderEdit + '?id='+ $id,
		dataType : 'html',
		success : function(data, textStatus, jqXHR) {
			$('#placeholder-edit').html(data);
			$('html, body').animate({scrollTop: $('#placeholder-edit').offset().top});
		}
    });
});
$(document).on('click', '#placeholder-grid .remove-row-grid',  function() {	
	if (!$(categoryId).length) {
		return;
	}
	var $id = $.parseJSON($(this).attr('data-row')).id;
	$.ajax({
		type: 'get',
		url: routePlaceholderRemove + '?id='+ $id,
		dataType : 'html',
		success : function(data, textStatus, jqXHR) {
			$('#placeholder-edit').html(data);			
		}
    });
});
</script>
{% endblock %}
