{% extends "::base.html.twig" %}

{% trans_default_domain "LoginCidadaoTOSBundle" %}

{% block title %}{{ 'tos.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'tos.admin.list.title' | trans }}</h1>
    <a href="{{ path('tos_admin_new') }}">{{ 'tos.admin.new.link' | trans }}</a>

    <ol>
        {% for version in terms %}
            <li>
                {% if latest.id == version.id %}<strong>{% endif %}
                    {{ 'tos.admin.list.item' | trans({ '%date%': version.createdAt | date('Y-m-d H:i:s') }) }}
                    {% if latest.id == version.id %}</strong>{% endif %}
                <a href="{{ path('tos_admin_edit', { 'id': version.id }) }}">{{ 'tos.admin.edit' | trans }}</a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
