{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(generalDocsForm, {'action': path('lc_documents'), 'attr': {'role':'form' } }) }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'General'|trans }}</h2>
    </div>
    <div class="panel-body">
        {{ form_errors(generalDocsForm) }}
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    {{ form_label(generalDocsForm.cpf) }}
                    {% if generalDocsForm.cpf.vars.value is not null %}
                        {% if personMeuRS.nfgAccessToken is null %}
                            {{ form_widget(generalDocsForm.cpf, {'attr': {'class': 'form-control', 'maxlength' : '14'}}) }}
                        {% else %}
                            {{ form_widget(generalDocsForm.cpf, {'attr': {'type': 'hidden', 'style' : 'display: none;'}}) }}
                            <span> {{ generalDocsForm.cpf.vars.value|formatCpf }} </span>
                        {% endif %}
                    {% endif %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {{ form_errors(generalDocsForm.cpf) }}
                </div>
                <div class="form-group">
                    {{ form_label(generalDocsForm.personMeuRS.voterRegistration) }}
                    {% if personMeuRS.nfgAccessToken is not null %}
                        {% if generalDocsForm.personMeuRS.voterRegistration.vars.value is null or generalDocsForm.personMeuRS.voterRegistration.vars.value == '' %}
                            {{ form_widget(generalDocsForm.personMeuRS.voterRegistration, {'attr': {'class': 'form-control', 'maxlength' : '12'}}) }}
                            {{ form_errors(generalDocsForm.personMeuRS.voterRegistration) }}
                            <span class="extra">{% trans %}Don't know your Voter Registration number?{% endtrans %}<a target='blank' href="{{ tre_search_link }}">{{ 'Search it!' | trans }}</a></span>
                            <span class="extra">{% trans %}Use your account on Nota Fiscal Gaúcha and validate your Voter Registration{% endtrans %}</span>
                        {% else %}
                            {% if personMeuRS.nfgProfile != null and (personMeuRS.nfgProfile.voterRegistrationSit is null or personMeuRS.nfgProfile.voterRegistrationSit == 0) %}
                                {{ form_widget(generalDocsForm.personMeuRS.voterRegistration, {'attr': {'class': 'form-control', 'maxlength' : '12'}}) }}
                                {{ form_errors(generalDocsForm.personMeuRS.voterRegistration) }}
                                <span class="extra">{% trans %}Use your account on Nota Fiscal Gaúcha and authorize us to validate your Voter Registration{% endtrans %}</span>
                            {% elseif personMeuRS.nfgProfile != null and personMeuRS.nfgProfile.voterRegistrationSit == 1 %}
                                {{ form_widget(generalDocsForm.personMeuRS.voterRegistration, {'attr': {'type': 'hidden', 'style' : 'display: none;'}}) }}
                                {{ form_errors(generalDocsForm.personMeuRS.voterRegistration) }}
                                <span>{{ generalDocsForm.personMeuRS.voterRegistration.vars.value }}</span>
                            {% else %}
                                {{ form_widget(generalDocsForm.personMeuRS.voterRegistration, {'attr': {'class': 'form-control', 'maxlength' : '12'}}) }}
                                {{ form_errors(generalDocsForm.personMeuRS.voterRegistration) }}
                                <span class="extra">{% trans %}The Voter Registration used is not valid according to Nota Fiscal Gaúcha. Please type your Voter Registration correctly{% endtrans %}</span>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {{ form_widget(generalDocsForm.personMeuRS.voterRegistration, {'attr': {'class': 'form-control', 'maxlength' : '12'}}) }}
                        {{ form_errors(generalDocsForm.personMeuRS.voterRegistration) }}
                        <span class="extra">{% trans %}Don't know your Voter Registration number?{% endtrans %} <a target='blank' href="{{ tre_search_link }}">{{ 'Search it!' | trans }}</a></span>
                        {% endif %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        <input class="btn btn-success" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</div>
{{ form_end(generalDocsForm) }}
