{% extends 'LoginCidadaoCoreBundle:Dev:base.html.twig' %}
{% block content %}
<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{ 'Shout'|trans }}</h2>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{ 'Pickup a category'|trans }}</h2>
        </div>
        <div class="panel-body">
            <div class="row clearfix">
                <div class="col-md-12">
                    {{ include("LoginCidadaoCoreBundle:Dev/Shout:stepCategory.html.twig") }}
                </div>
            </div>
        </div>
    </div>
    <div id="ajax-result"></div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
var routeChoise = '{{ path('lc_dev_shout_step_placeholder') }}';
$(document).on('click', '#shout-category-grid .edit-row-grid', function() {
  var data = $(this).data('row');
  $('#ajax-result').html('');
  $.ajax({
    url: routeChoise + '?id='+ data.id,
    type: 'get',
    dataType : 'html',
    success : function(data, textStatus, jqXHR) {
      $('#ajax-result').html(data);
    }
  });
});
</script>
{% endblock javascripts %}