{% form_theme form 'LoginCidadaoCoreBundle::Form/fields.html.twig' %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'Fill the placeholders'|trans }}</h2>
    </div>
    <div class="panel-body">
        <div class="row clearfix">
            <div class="col-md-12">
             {{ form_start(form) }}
             {{ form_widget(form) }}
                <div class="form-bar text-right">
                    <input class='btn btn-success' type="button" value="{{ 'Send'|trans }}" />
                </div>
             {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>