{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %} {% block content %}
<div id="profile-edit" class="content">
    <h1>{{ 'admin.sugg.list.title'|trans }}</h1>
    {{ form_start(form, {'action': path('lc_admin_sugg_list_query'), 'attr': {'role':'form' , 'class' : 'form-ajax', 'ajax-target' : '#ajax-result' }}) }} {{ form_errors(form) }}
    <div class="form-content">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">{{ form_label(form.username, 'sugg.username') }} {{ form_errors(form.username) }} {{ form_widget(form.username) }}</div>
                <div class="form-group">{{ form_label(form.dateini, 'sugg.dateini') }} {{ form_errors(form.dateini) }} {{ form_widget(form.dateini) }}</div>
                <div class="form-group">{{ form_label(form.dateend, 'sugg.dateend') }} {{ form_errors(form.dateend) }} {{ form_widget(form.dateend) }}</div>
                <div class="form-group">{{ form_label(form.text, 'sugg.text') }} {{ form_errors(form.text) }} {{ form_widget(form.text) }}</div>
                <button type="submit" class="btn btn-success pull-right">{{ 'Send'|trans }}</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <div id="ajax-result"></div>
</div>
{% endblock %}
