{% extends 'LoginCidadaoCoreBundle::compact.base.html.twig' %}

{% block panel_body_class %}nfg-unavailable{% endblock %}

{% block panel_body %}
    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'nfg.unavailable.close' | trans }}"><span
                            aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>{{ 'nfg.unavailable.title' | trans }}</h1>

    <p>{{ 'nfg.unavailable.body' | trans }}</p>
{% endblock %}
