{% extends 'LoginCidadaoCoreBundle::base.html.twig' %}

{% block header %}
{% endblock %}

{% block footer %}
    <footer class="row">
        <div class="content col-xs-12 text-center">
            <span>Copyleft @2014, 2016</span>
        </div>
    </footer>
{% endblock %}

{% block body %}

    <div class="vertical-cente r">
        <div class="panel panel-home center-block">
            <div class="panel-heading">
                <img src="" alt="" class="logo">
                <a href="#register" class="btn btn-home-register pull-right">{{ 'home.register.button' | trans }}</a>
                <a href="#login" class="btn btn-home-login pull-right" style="display: none">
                    {{ 'home.login.button' | trans }}
                </a>
            </div>
            <div class="panel-body">
                <div class="login">
                    {% set form1 = lc_getForm() %}
                    {{ include('LoginCidadaoCoreBundle::common.login.html.twig') }}
                </div>
                <div class="registration" style="display: none">
                    {% if form is not defined %}
                        {% set form = lc_getFormFactory() %}
                    {% endif %}
                    {{ include('LoginCidadaoCoreBundle::common.register.html.twig') }}
                </div>
            </div>
            <div class="panel-footer">
                {{ include('LoginCidadaoCoreBundle::common.3rd_party_login.html.twig') }}
            </div>
        </div>
    </div>

    {#
    {% set form1 = lc_getForm() %}
    {% if form is not defined %}
        {% set form = lc_getFormFactory() %}
    {% endif %}

    <div class="container lc-box-group">

        {% embed "LoginCidadaoCoreBundle:Default:login_register.html.twig" %}
            {% block left %}
                <div class="box box-register">
                    {{ include('LoginCidadaoCoreBundle::common.register.html.twig') }}
                </div>
            {% endblock %}

            {% block right %}
                <div class="box">
                    {{ include('LoginCidadaoCoreBundle::common.login.html.twig') }}
                </div>
            {% endblock %}
        {% endembed %}

        {{ include('LoginCidadaoCoreBundle::common.3rd_party_login.html.twig') }}
    </div>
    #}
{% endblock %}

{% block stylesheets_custom %}
    {% stylesheets '@bootstrap_css' '@LoginCidadaoCoreBundle/Resources/public/css/home/home2.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('form').preventDoubleSubmission();

            $('.panel-heading .btn').on('click', function (event) {
                event.stopPropagation();
                if ($(this).is('a')) {
                    var button = $(this).is('.btn-home-login') ? 'login' : 'registration';
                    history.pushState({'button': button}, '', $(this).attr('href'));
                }
                showBoxes(this);
                return false;
            });
        });

        function showBoxes(element) {
            if ($(element).is('.btn-home-login')) {
                $('.registration').not('a').slideUp('medium', function () {
                    $('.btn-home-register').show();
                    $(element).hide();
                    $('.login').not('a').slideDown('medium', function () {
                        $('.login form input:first').focus();
                    });
                });
            } else {
                $('.login').not('a').slideUp('medium', function () {
                    $('.btn-home-login').show();
                    $(element).hide();
                    $('.registration').not('a').slideDown('medium', function () {
                        $('.registration form input:first').focus();
                    });
                });
            }
        }

        window.onpopstate = function (event) {
            if ($(window).width() >= 768) {
                return;
            }
            if (event.state) {
                showBoxes($("a." + event.state.button));
            } else {
                $('.box-register').not('a').slideUp('medium');
            }
        };
    </script>
{% endblock %}
