{% extends 'LoginCidadaoCoreBundle::compact.base.html.twig' %}

{% set form1 = lc_getForm() %}
{% set is_lc_home = app.request.attributes.get('_route') == 'lc_home' %}
{% set is_login_page = is_lc_home or app.request.attributes.get('_route') == 'fos_user_security_login' %}
{% set is_register_page = app.request.attributes.get('_route') == 'fos_user_registration_register' %}
{% set requested_page = is_login_page ? 'login' : 'register' %}

{% block top_buttons %}
    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-home-register"
            {{ is_register_page ? 'style="display: none"' : '' }}>{{ 'home.register.button' | trans }}</a>
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-home-login"
            {{ is_login_page ? 'style="display: none"' : '' }}>
        {{ 'home.login.button' | trans }}
    </a>
{% endblock %}

{% block panel_body %}
    <div class="login" {{ is_register_page ? 'style="display: none"' : '' }}>
        {{ include('LoginCidadaoCoreBundle::common.login.html.twig') }}
    </div>
    <div class="registration" {{ is_login_page ? 'style="display: none"' : '' }}>
        {% if form is not defined %}
            {% set form = lc_getFormFactory() %}
        {% endif %}
        {{ include('LoginCidadaoCoreBundle::common.register.html.twig') }}
    </div>
{% endblock %}

{% block panel_footer_class %}{% endblock %}
{% block panel_footer %}
    <div class="panel panel-3rd-party-login">
        <div class="panel-heading">
            <h2>{{ 'home.3rd_party.call_to_action' | trans }}</h2>
        </div>
        <div class="panel-body">
            {{ include('LoginCidadaoCoreBundle::common.3rd_party_login.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block stylesheets_custom %}
    {% stylesheets '@lc_login_register_css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if form1.recaptcha is defined %}
        <script src="//www.google.com/recaptcha/api.js?hl={{ app.request.locale }}"></script>
    {% endif %}

    {% javascripts '@intl_tel_input_utils_js' filter='uglifyjs2' %}
    <script>
        var intlTelInputUtilsScriptUrl = '{{ asset_url }}';
        var intlTelInputPreferredCountries = {{ intl_tel_input_preferred_countries | json_encode | raw }};
    </script>
    {% endjavascripts %}

    {% javascripts '@intl_tel_input_js' '@LoginCidadaoCoreBundle/Resources/public/js/components/intl-tel-input.js' '@LoginCidadaoCoreBundle/Resources/public/js/login_register/*.js' filter='?uglifyjs2' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
