{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}
{% block content %}
<div id="dashboard" class="content">
   <div class="row">
      {# Profile description #}
      <div class="col-xs-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               {% trans %}Profile{% endtrans %}
               <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-xs btn-section pull-right" role="button" title="{% trans %}more{% endtrans %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
            <div class="panel-body">
               <img src="{{ include("PROCERGSLoginCidadaoCoreBundle:Person:currentUserPicture.html.twig", {'targetPerson': app.user}) }}" class="profile-picture pull-left">
               <div class="about pull-left">
                  <h4 class="media-heading">
                     <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                     {{ app.user.firstName }}
                  </h4>
                  {% if app.user.birthdate is not null %}
                  <div class="birthdate">{{ app.user.birthdate | date('birthdate.format' | trans) }}</div>
                  {% endif %}
                  <div>
                     <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                     {{ app.user.email }}
                  </div>
                  {% if app.user.state is not null %}
                  <div>
                     <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                     {{ app.user.state.name ~ (app.user.city ? ' - ' ~ app.user.city.name) }}
                  </div>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      {# Active services #}
      <div class="col-xs-12 services">
         <div class="panel panel-default">
            <div class="panel-heading">
               {% trans %}Services{% endtrans %}
                <a href="{{ path('lc_authorization_list') }}" class="btn btn-primary btn-xs btn-section pull-right" role="button" title="{% trans %}more{% endtrans %}"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="panel-body">
               {% if app.user.getAuthorizations|length > 0 %}
                 {% for auth in app.user.getAuthorizations %}
                    {% if auth.client.uid != defaultClientUid %}
                      <a href="{{ auth.client.siteUrl }}" target="_blank" title="{{ auth.client.name }}">
                      <img src="{{ include('PROCERGSLoginCidadaoCoreBundle:Client:imageUrl.html.twig', { 'client': auth.client }) }}" width="65" height="65" class="media-object service-img">
                      </a>
                    {% endif %}
                 {% endfor %}
               {% else %}
                 <p class="text-center">{% trans %}You don't have any active service.{% endtrans %}</p>
                 <p class="text-center"><a href="">{{ 'Check the services available' | trans }}</a></p>
               {% endif %}
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      {# Badges #}
      <div class="col-xs-12 col-md-6 badges-list">
         <div class="panel panel-default">
            <div class="panel-heading">
               {{ 'Badges' | trans }}
               <a href="{{ path('lc_profile_badges') }}" class="btn btn-primary btn-xs btn-section pull-right" role="button" title="{% trans %}more{% endtrans %}"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="panel-body">
               {% if userBadges|length == 0 %}
               <div class="alert alert-warning" role="alert">{% trans %}You don't have any badges yet!{% endtrans %}</div>
               {% endif %}
               {% for client, badges in allBadges %}
               {% for badge, content in badges %}
               {% set key = client ~ '.' ~ badge  %}
               {% if key in userBadges|keys %}
               <div class="badge-icon badge-{{ badge }}"></div>
               {% endif %}
               {% endfor %}
               {% endfor %}
            </div>
         </div>
      </div>
      <div class="col-xs-12 col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               {% trans %}Notifications{% endtrans %}
            </div>
            <div class="panel-body">
               <div class="list-group">
                  {% if notifications|length == 0 %}
                  <div class="alert alert-warning" role="alert">{% trans %}You don't have any unread notification.{% endtrans %}</div>
                  {% endif %}
                  {% for notification in notifications %}
                    <a href="{{ path('lc_notifications', { id: notification.id }) }}" class="list-group-item notification">
                    {{ notification.sender.name }} - {{ notification.title }} - {{ notification.createdAt|date("d/m/Y H:i:s") }}
                    </a>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
     {# Logs #}
      <div class="col-xs-12 col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               {% trans %}Login Log{% endtrans %}
            </div>
            <div class="panel-body">
               <ul class="list-group">
                  {% if logs.logins|length == 0 %}
                  <div class="alert alert-warning" role="alert">{% trans %}You don't have any login log.{% endtrans %}</div>
                  {% endif %}
                  {% for log in logs.logins %}
                  <li class="list-group-item">
                    {% trans with {'%ip%': log.ip ,'%date%': log.createdAt|date("d/m/y H:i")} %}Login by <span class="label label-info">%ip%</span> at <span class="label label-info">%date%</span>{% endtrans %}
                  {% endfor %}
               </ul>
            </div>
         </div>
      </div>
      {# Logs #}
      <div class="col-xs-12 col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               {% trans %}Activity Log{% endtrans %}
            </div>
            <div class="panel-body">
               <ul class="media-list">
                  {% if logs.activity|length == 0 %}
                  <div class="alert alert-warning" role="alert">{% trans %}You don't have any activity log.{% endtrans %}</div>
                  {% endif %}
                  {% for log in logs.activity %}
                  <li class="media">
                    <div class="media-left">
                      <img src="{{ include('PROCERGSLoginCidadaoCoreBundle:Client:imageUrl.html.twig', { 'client': log.client }) }}" width="35" alt="">
                    </div>

                    <div class="media-body">
                      <h5 class="media-heading">{{ log.client.name }}</h5>

                      {% if log.actionType == 'SELECT' %}
                        <span class="log-about">{% trans with {'%date%': log.createdAt | date('log.date.format' | trans) } %}Information viewed at %date%{% endtrans %}</span>
                      {% else %}
                      <span class="log-about">{% trans with {'%date%': log.createdAt | date('log.date.format' | trans) } %}Information changed at %date%{% endtrans %}</span>
                      {% endif %}
                    </div>
                  </li>
                  {% endfor %}
               </ul>
            </div>
         </div>
      </div>
   </div>

</div>
{% endblock %}