{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}
{% block content %}

  <div id="dashboard" class="content">

    <div class="row">

      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            {% trans %}Profile{% endtrans %}
            </div>
            <div class="panel-body">

              <img src="{{ include("PROCERGSLoginCidadaoCoreBundle:Person:currentUserPicture.html.twig", {'targetPerson': app.user}) }}" class="profile-picture pull-left">

              <div class="about pull-left">
                <h4 class="media-heading">{{ app.user.firstName }}</h4>
                <div>{{ app.user.email }}</div>
                <div>{{ app.user.birthdate }}</div>
                <div>
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                  {{ app.user.state.name }} - {{ app.user.city.name }}
                </div>
              </div>
            </div>
            <div class="panel-footer clearfix">
              <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-section pull-right" role="button">Editar</a>
            </div>
          </div>
        </div>

        <div class="col-xs-6 services">
          <div class="panel panel-default">
            <div class="panel-heading">
              {% trans %}Services{% endtrans %}
              </div>
              <div class="panel-body">
                {% if user.getAuthorizations|length > 0 %}
                  {% for auth in user.getAuthorizations %}
                    {% if auth.client.getPictureWebPath is not null and auth.client.getPictureWebPath != '' %}
                      <img src="/{{ auth.client.getPictureWebPath }}" width="65" height="65" alt="" class="media-object service-img">
                      {% else %}
                      <img src="//placehold.it/65x65" alt="" class="service-img">
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                {% trans %}Log de acesso{% endtrans %}
                </div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

        </div>

      {% endblock %}