{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}
{% block content %}

  <div id="dashboard" class="content">

    <div class="row">


      {# Profile description #}
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            {% trans %}Profile{% endtrans %}
              <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-xs btn-section pull-right" role="button">Editar</a>
            </div>
            <div class="panel-body">

              <img src="{{ include("PROCERGSLoginCidadaoCoreBundle:Person:currentUserPicture.html.twig", {'targetPerson': app.user}) }}" class="profile-picture pull-left">

              <div class="about pull-left">
                <h4 class="media-heading">{{ app.user.firstName }}</h4>
                <div>{{ app.user.email }}</div>
                {% if app.user.birthdate is not null %}
                  <div>{{ app.user.birthdate | date('birthdate.format' | trans) }}</div>
                {% endif %}
                {% if app.user.state is not null %}
                  <div>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    {{ app.user.state.name ~ (app.user.city ? ' - ' ~ app.user.city.name) }}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>


        {# Active services #}
        <div class="col-xs-12 col-md-6 services">
          <div class="panel panel-default">
            <div class="panel-heading">
              {% trans %}Services{% endtrans %}
              </div>
              <div class="panel-body">
                {% if app.user.getAuthorizations|length > 0 %}
                  {% for auth in app.user.getAuthorizations %}
                    <a href="{{ auth.client.siteUrl }}">
                      {% if auth.client.getPictureWebPath is not null and auth.client.getPictureWebPath != '' %}
                        <img src="/{{ auth.client.getPictureWebPath }}" width="65" height="65" alt="" class="media-object service-img">
                        {% else %}
                        <img src="//placehold.it/65x65" alt="" class="service-img">
                      {% endif %}
                    </a>
                  {% endfor %}
                  {% else %}
                  <p class="text-center">{% trans %}You don't have any active service.{% endtrans %}</p>
                  <p class="text-center"><a href="">{{ 'Check the services available' | trans }}</a></p>
                {% endif %}
              </div>
            </div>
          </div>

          {# Logs #}
          <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                {% trans %}Activity Log{% endtrans %}
                </div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6 badges-list">

              <div class="panel panel-default">
                <div class="panel-heading">
                  {{ 'Badges' | trans }}
                </div>
                <div class="panel-body">
                  {% if userBadges|length == 0 %}
                    <div class="alert alert-warning" role="alert">{% trans %}You don't have any badges yet!{% endtrans %}</div>
                  {% endif %}

                  {% for client, badges in allBadges %}
                    {% for badge, content in badges %}
                      {% set key = client ~ '.' ~ badge  %}
                        {% if key in userBadges|keys %}
                          <div class="badge-icon badge-{{ badge }}"></div>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </div>
                </div>
              </div>

            </div>
          </div>

        {% endblock %}
