{% extends 'PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12 text-right">
        {# <h1>{% trans with {'%user.name%': user.firstName} %}Welcome %user.name%{% endtrans %}</h1> #}
        <button class="btn btn-app-display active" data-display="list"><i></i></button>
        <button class="btn btn-app-display" data-display="icon"><i></i></button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {# <h2>{% trans %}Available Applications and Sites{% endtrans %}</h2> #}

        <div id="profile" class="col-sd-3 col-md-3">
            <div class="row">
                <div class="col-xs-12">
                    <img src="http://placehold.it/122x122">
                    <h4 class="profile-name text-right">{{ user.fullname }}</h4>
                    <p class="text-right"><a href="{{ path('fos_user_profile_edit') }}">{% trans %}Edit profile{%  endtrans %}</a></p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <dl>
                        <dt>{{ 'Username' | trans }}
                        <dd>{{ user.username }}

                        <dt>{{ 'Email' | trans }}
                        <dd>{{ user.email }}

                        <dt>{{ 'Birthdate' | trans }}
                        <dd>{{ user.birthdate|date('d/m/Y') }}

                        <dt>{{ 'CPF' | trans }}
                        <dd>{{ user.cpf }}

                        <dt>{{ 'CEP' | trans }}
                        <dd>{{ user.cep }}
                    </dl>
                </div>
            </div>
        </div>

        <ul id="applications" class="col-sd-9 col-md-9 list">
        {% for auth in user.getAuthorizations %}
            <li>
                <img src="http://placehold.it/120x120" alt="" class="img-rounded center-block">
                <h4 class="center-block text-center">{{ auth.client.name }}</h4>

                {#
                <a href="{{ path('ui_revoke', { 'clientId': auth.client.id }) }}" data-token="{{ csrf_token(path('ui_revoke', { 'clientId': auth.client.id })) }}" class="btn btn-float btn-danger revoke">{{ 'Revoke Access' | trans }}</a>
                <p>
                {% for scope in auth.scope %}
                    <span class="label label-default">{{ ('scope.' ~ scope) | trans }}</span>
                {% endfor %}
                </p>
                #}

                <div class="onoffswitch center-block onoffswitch-checked">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1" checked>
                    <label class="onoffswitch-label" for="myonoffswitch1">
                        <div class="onoffswitch-inner"></div>
                        <div class="onoffswitch-switch"></div>
                    </label>
                </div>
            </li>
        {% endfor %}
        {% for client in apps %}
            <li>
                <img src="http://placehold.it/120x120" alt="" class="img-rounded center-block">
                <h4 class="center-block text-center">
                    <a href="{{ client.siteUrl }}">{{ client.name }}</a>
                </h4>
                <div class="onoffswitch center-block onoffswitch-checked">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch{{ client.id }}">
                    <label class="onoffswitch-label" for="switch{{ client.id }}">
                        <div class="onoffswitch-inner"></div>
                        <div class="onoffswitch-switch"></div>
                    </label>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function(){
        $(".list-group-item").on('click', 'a.btn-danger.revoke', function(event) {
            $(this).removeClass("btn-danger")
                    .addClass("btn-warning")
                    .html("{{ 'Click again to confirm' | trans }}");
            event.stopPropagation();
            event.preventDefault();
        });
        $(".list-group-item").on('click', 'a.btn-warning.revoke', function(event) {
            var button = $(this);
            button.addClass('disabled')
                    .prop('disabled', true)
                    .html("{{ 'Please, wait...' | trans }}");

            $.post(
                button.attr('href'),
                { token: button.data('token') },
                function (data) {
                    button.addClass("btn-success disabled")
                            .removeClass("btn-danger btn-warning")
                            .html("{{ 'Revoked' | trans }}")
                            .click(function(e) {
                                e.preventDefault();
                            });
                }
            ).fail(function () {
                button.addClass("btn-danger")
                        .removeClass("btn-warning disabled")
                        .prop("disabled", false)
                        .html("{{ 'Revoke Access' | trans }}");
            });

            event.stopPropagation();
            event.preventDefault();
        });
        $(".list-group-item").on('click', 'a:disabled', function(event) {
            event.stopPropagation();
            event.preventDefault();
        });
    });
</script>
{% endblock %}
