{% extends 'PROCERGSLoginCidadaoCoreBundle::base.html.twig' %}

{% block body %}
{% set form1 = logincidadao_initializeForm() %}
{% if error %}
<div class="msg-popup error">
    <div class="content">
        <div class="icon"></div>
        <div class="info">
            <h4>Nome ou número do Alerta!</h4>
            <p>
                {{ error|trans }}
            </p>
        </div>
        <button type="button" class="btn">ok</button>
    </div>
</div>
{% endif %}

<div class="container col-sm-offset-1 col-xs-offset-0 col-sm-10">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>{% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/gov_2x.png' %}
                <img src="{{ asset_url }}" alt="{%trans%}Government of Rio Grande do Sul - Promoting equality makes the difference{%endtrans%}">
                {% endimage %}
            </h1>
            <h2>{% trans %}One account. All that the Government offers.{% endtrans %}</h2>
        </div>
    </div>


        <div class="row">
            <div class="col-md-7">
                <div id='register-aside'>
                    <h3 class="title">Com apenas um cadastro</h3>
                    <p class="text">Acesso a todos serviços oferecidos pelo Governo do Estado.</p>
                    {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/logo_strip_2x.png' %}
                    <img src="{{ asset_url }}" alt="{%trans%}Available services{%endtrans%}" class="center-block">
                    {% endimage %}
                    <p class="text">Apenas com senha e CPF. Tornando muito mais simples o acesso aos serviços.</p>
                    {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/logo_ng.png' %}
                    <img src="{{ asset_url }}" alt="{%trans%}Logo Nota Fiscal Gaúcha{%endtrans%}" class="center-block">
                    {% endimage %}
                </div>
            </div>

            <div class="col-md-5">
                <div id="register-box">
                    <header><h3 class="text-center">{% trans %}Open your account{% endtrans %}</h3></header>
                    {{ form_start(form1, {'action' : path("fos_user_security_check"), 'attr' : {'role' : 'form'}}) }}
                            <div class="form-group text-center">
                                {{ form_label(form1.username, null, {'label_attr' : {'class': 'sr-only'}}) }}
                                {{ form_errors(form1.username) }}
                                {{ form_widget(form1.username, {'class':'form-control', 'attr' : {'placeholder' : 'security.login.username', 'onKeyUp' : 'validador.onKeyUpMultiformat(this, event)'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form1.password, null , {'label_attr' : {'class': 'sr-only'}}) }}
                                {{ form_errors(form1.password) }}
                                {{ form_widget(form1.password, {'class':'form-control', 'attr' : {'placeholder' : 'security.login.password'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form1.recaptcha, {'class':'form-control'}) }}
                            </div>
                            <button type="submit" class="btn btn-success btn-block">{{ 'security.login.submit'|trans }}</button>

                        {{ form_end(form1) }}
                </div>
            </div>

            <div class="col-md-5" style="display:none;">
                {{ form_start(form1, {'action' : path("fos_user_security_check"), 'attr' : {'role' : 'form', 'class':'well well-lg'}}) }}
                    {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/logo_2x.png' %}
                        <img class="center-block" src="{{ asset_url }}" alt="{%trans%}Citizen's Login{%endtrans%}">
                    {% endimage %}
                        <div class="form-group">
                            {{ form_label(form1.username, null, {'label_attr' : {'class': 'sr-only'}}) }}
                            {{ form_errors(form1.username) }}
                            {{ form_widget(form1.username, {'class':'form-control', 'attr' : {'placeholder' : 'security.login.username', 'onKeyUp' : 'validador.onKeyUpMultiformat(this, event)'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form1.password, null , {'label_attr' : {'class': 'sr-only'}}) }}
                            {{ form_errors(form1.password) }}
                            {{ form_widget(form1.password, {'class':'form-control', 'attr' : {'placeholder' : 'security.login.password'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form1.recaptcha, {'class':'form-control'}) }}
                        </div>
                        <button type="submit" class="btn btn-success btn-block">{{ 'security.login.submit'|trans }}</button>

                        <div class="row">
                        	<div class="col-xs-6">
                        	   <div class="fbpo">{{ facebook_login_button({ 'label': 'Connect using Facebook' | trans }) }}</div>
                        	</div>
                        	<div class="col-xs-6">
                        	   <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter'}) }}">{% trans %}Connect using Twitter{% endtrans %}</a>
                        	</div>
                        </div>

                        <p class="text-right"><a href="{{ path("fos_user_resetting_request") }}">{%trans%}Need help?{%endtrans%}</a></p>

                        <div class="checkbox sr-only">
                            <label for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            {{ 'security.login.remember_me'|trans }}
                            </label>
                        </div>

                        <p class="text-center">{{ '%link_start%Create your account%link_end%' | trans({'%link_start%' : '<a href="'~path('fos_user_registration_register')~'">', '%link_end%' : '</a>' }) | raw }}</p>

                    {{ form_end(form1) }}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-lg-6 col-lg-offset-3 text-center">
                    <div class="well services">
                        <p>{%trans%}One account to all of the Government's services{%endtrans%}</p>
                        {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/logo_strip_2x.png' %}
                        <img src="{{ asset_url }}" alt="{%trans%}Available services{%endtrans%}">
                        {% endimage %}
                    </div>
                </div>
            </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}


            <script type="text/javascript">

                    var authurl = '{{ path('_security_check_facebook') }}';

                    function goLogIn(){
                        window.location = authurl;
                    }

                    function onFbInit() {
                        if (typeof(FB) != 'undefined' && FB != null ) {
                            FB.Event.subscribe('auth.statusChange', function(response) {
                                setTimeout(goLogIn, 500);
                            });
                        }
                    }

            </script>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class='footer-login font-a'>
        <div>
            <nav>
                <ul>
                    <li>{%trans%}Government of Rio Grande do Sul{%endtrans%}</li>
                    <li><a href="#">{%trans%}Privacy and Terms of Service{%endtrans%}</a></li>
                    <li><a href="#">{{ 'Help' | trans }}</a></li>
                </ul>
            </nav>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    String.prototype.repeat = function( num ) {
        return new Array( num + 1 ).join( this );
    }

    function isValidCpf(cpf)
    {
        var cleanup = new RegExp('[. -A-Za-z]', 'g');
        var checkRepeat = new RegExp('([0-9])\\1{10}', 'g');

        cpf = cpf.replace(cleanup, '');
        var digitoUm = 0;
        var digitoDois = 0;

        if (cpf.length !== 11 || checkRepeat.test(cpf)) {
            return false;
        }

        for (var i = 0, x = 10; i <= 8; i++, x--) {
            digitoUm += cpf[i] * x;
        }
        for (var i = 0, x = 11; i <= 9; i++, x--) {
            var iStr = i.toString();
            if (iStr.repeat(11) === cpf) {
                return false;
            }
            digitoDois += cpf[i] * x;
        }

        var calculoUm = ((digitoUm % 11) < 2) ? 0 : 11 - (digitoUm % 11);
        var calculoDois = ((digitoDois % 11) < 2) ? 0 : 11 - (digitoDois % 11);
        if (calculoUm.toString() !== cpf[9] || calculoDois.toString() !== cpf[10]) {
            return false;
        }
        return true;
    }

    function formatCPF(element, cpf)
    {
        if ($.isNumeric(cpf) && cpf.length === 11) {
            var cpfRegex = new RegExp('([0-9]{3})([0-9]{3})([0-9]{3})([0-9]{2})', 'gi');
            cpf = cpf.replace(cpfRegex, '$1.$2.$3-$4');
            element.val(cpf).data('masked', true);
        }
    }
    var validador = {};
    validador.onKeyUpMultiformat = function (obj, e) {
        var c= String.fromCharCode(e.which);
        var isWordcharacter = c.match(/\w/);

        var val = $(obj).val().trim();
        var masked = $(obj).data('masked');
        var cpf = val;
        var cleanup = new RegExp('[. \\-]', 'gi');
        cpf = cpf.replace(cleanup, '');


        if (!isWordcharacter && e.keyCode !== 0) {
            formatCPF($(obj), cpf);
            return;
        }

        if ($.isNumeric(cpf)) {
            if (cpf.length > 11) {
                cpf = cpf.substr(0,11);
            }
            formatCPF($(obj), cpf);
        } else {
            if (masked === true) {
                val = val.replace(/([0-9]{3})[.]([0-9]{3})[.]([0-9]{3})-([0-9]{2})/, '$1$2$3$4');
                $(obj).val(val);
            }
        }

        return false;
   };
   $(document).ready(function(){

	   //$('#'+daa).trigger('onKeyup');
	   });

</script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    {% stylesheets 'bundles/procergslogincidadaocore/css/login/*.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
