{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %} {% block content %}
<div id="app-detail" class="content clearfix">
    <div>{{ 'grid.admin.apps.title'|trans }}</div>
    <div class="form-bar">
        <a href="{{ path('lc_admin_app_new') }}">{{ 'grid.admin.apps.new'|trans }} </a>
    </div>
    {% if clients|length > 0 %}
    <div class="content">
        <div class="row header">
            <div class="col-md-1">{{ 'form.checkbox'|trans }}</div>
            <div class="col-md-2">{{ 'form.show'|trans }}</div>
            <div class="col-md-2">{{ 'form.edit'|trans }}</div>
            <div class="col-md-3">{{ 'form.name'|trans }}</div>
            <div class="col-md-4">{{ 'form.siteurl'|trans }}</div>
        </div>
        {% for client in clients %}
        <div class="row cep-result">
            <div class="col-md-1">
                <dt>{{ 'form.checkbox'|trans }}</dt>
                <dd>
                    <input type="checkbox" />
                </dd>
            </div>
            <div class="col-md-2">
                <a href="{{ path('lc_admin_app_show', {'id': client.id}) }}"> 
                <span> 
                {{ 'grid.admin.apps.show'|trans }} <i class="glyphicon glyphicon-user pull-right"></i>
                </span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="{{ path('lc_admin_app_edit', {'id': client.id}) }}"> 
                <span> 
                {{ 'grid.admin.apps.edit'|trans }} <i class="glyphicon glyphicon-user pull-right"></i>
                </span>
                </a>
            </div>            
            <div class="col-md-3">
                <dt>{{ 'form.name' | trans }}</dt>
                <dd>{{ client.name | trans }}</dd>
            </div>
            <div class="col-md-4">
                <dt>{{ 'form.siteurl' | trans }}</dt>
                <dd>{{ client.siteurl }}</dd>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>{{ 'grid.admin.apps.noresult'|trans }}</div>
    {% endif %}

</div>

{% endblock %} {% block javascripts %} {{ parent() }}
<script type="text/javascript">
</script>
{% endblock %}
