{% block form_row %}
    {% spaceless %}
    <div class="form-group {%- if errors[0] is defined %} has-error has-feedback {% endif -%}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
    {% endspaceless %}
{% endblock form_row %}

{% block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}" 
    {%- if read_only %} readonly="readonly"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}    
    {%- if attr.class is not defined %}
        class='form-control'     
    {% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes %}

{% block birthday_widget -%}
{% if widget == 'single_text' %}
{{- block('form_widget_simple') -}}
{% else -%}
<div {%- if attr.class is not defined %} class='form-inline birthdate' {% endif -%} {{ block('widget_container_attributes') }}>
{{- date_pattern|replace({
'{{ year }}': form_widget(form.year),
'{{ month }}': form_widget(form.month),
'{{ day }}': form_widget(form.day),
})|raw -}}
</div>
{%- endif %}
{%- endblock birthday_widget %}

{% block form_errors %}
    {% spaceless %}
    {% if errors[0] is defined %}
        {% if compound %}
            <div class="alert alert-danger">
                <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div class="input-error">
                <ul>
                {%- for error in errors -%}
                    <li>{{ error.message }}</li>
                {%- endfor -%}
                </ul>
            </div>
        {% endif %}
    {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block hidden_entity_row -%}
{% spaceless %}
<div style="display:none;">{{ form_widget(form) }}</div>
{% endspaceless %}
{%- endblock hidden_entity_row %}

{% block switch_widget -%}
<p>{{ block('checkbox_widget') }}</p>
{%- endblock switch_widget %}

{% block ajax_choice_label -%}
{{ block('form_label') }}<a class="glyphicon glyphicon-pencil ajax-choice-label" type="button" ></a>
{%- endblock ajax_choice_label %}

{% block ajax_choice_widget -%}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <div class="ajax-choise-sandbox">
        {% set options = choices -%}
        {%- if options|length > 0 -%}
        <div class="btn-toolbar" role="toolbar">
        {% for group_label, choice in options %}
            {%- if choice is not iterable -%}
                {% if choice is selectedchoice(value) %}
                <div class="btn-group">
                    <span class="label label-info" type="button">{{ choice.label|trans({}, translation_domain) }}</span>
                </div>
                {% endif %}
            {%- endif -%}
        {% endfor %}
        </div>
        {%- endif -%}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {%- endif %}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {% if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif %}
            {%- endif -%}
            {% set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default">Buscar!</button>
          </span>
        </div>
    </div>
{%- endblock ajax_choice_widget %}

{% block ajax_choice_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock ajax_choice_options %}