{% set myController = app.request.get('_template').get('controller')|trim %}
<div class="settings-nav col-sm-3">
    <ul class="nav nav-pills nav-stacked">
        <li class="profile glyph {{ myController == 'Dev\\Client' ? 'active' }}">
            <a href="{{ path('lc_dev_client') }}"> 
                <span>{{ 'Services'|trans }}<i class="glyphicon glyphicon-user pull-right"></i></span>
            </a>
        </li>
        <li class="profile glyph {{ myController == 'Dev\\Notification' ? 'active' }}">
            <a href="{{ path('lc_dev_not') }}"> 
                <span>{{ 'Config notifications'|trans }}<i class="glyphicon glyphicon-user pull-right"></i></span>
            </a>
        </li>
        <li class="profile glyph {{ myController == 'Dev\\Shouts' ? 'active' }}">
            <a href="{{ path('lc_dev_shout') }}"> 
                <span>{{ 'Config shouts'|trans }}<i class="glyphicon glyphicon-user pull-right"></i></span>
            </a>
        </li>        
    </ul>
</div>