{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}
{% block content %}
    <div id="statistics" class="content statistics-services clearfix">

        <h1>{{ 'statistics.userByService'|trans }}</h1>

        {% for item in data %}
            <div class="row item">
                <div class="col-md-3 text-center">
                    <img src="{{ include('PROCERGSLoginCidadaoCoreBundle:Client:imageUrl.html.twig', { 'client': item.client }) }}" width="65" height="65" alt="" class="service-img center-block">
                    <span class="client-name">{{ item.client.name | trans }}</span>
                </div>
                <div class="col-md-6">

                </div>
                <div class="col-md-3 qty">
                    <div class="vcenter">
                        <strong>{{ (item.total + 50000) | number_format(0, ',', '.') }}</strong>
                        <small>{{ 'users' | trans }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['line']}]}"></script>
    <script>
        google.setOnLoadCallback(updateChart);
        
        var data = {{ item.data | json_encode }};

        function formatNumber(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        function drawStuff(chartData) {
            var data = new google.visualization.arrayToDataTable(chartData);

            var options = {
                title: 'Votos por Minuto',
                width: '100%',
                legend: {position: 'none'},
                chart: {subtitle: 'Consulta Popular 2015 - 19/08/2015'},
                bar: {groupWidth: "90%"}
            };

            var chart = new google.charts.Bar(document.getElementById('top_x_div'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
        ;

        function updateChart() {
            $.getJSON('{{ path('lc_statistics_service_users_day', { '_format': 'json' }) }}', function (rawData) {
                var chartData = [
                    ['Time', 'Votes']
                ];
                var total = 0;
                for (var index = 0; index < rawData.length; ++index) {
                    var time = rawData[index].time;
                    var votes = rawData[index].votes;
                    chartData.push([new Date(time), votes]);
                    total += votes;
                    if (index === rawData.length - 2) {
                        $('.last-minute').html(time.split(' ')[1]);
                        $('.vpm').html(votes);
                    }
                }
                drawStuff(chartData);

                $('.total').html(formatNumber(total));
            }).always(function () {
                setTimeout(function () {
                    updateChart();
                }, 20000);
            });
        }
        ;
    </script>
{% endblock %}