{% extends "LoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block title %}{{ 'Services' | trans }} | {{ parent() }}{% endblock title %}

{% block content %}
    <div class="content applications">

        <h1 class="visible-xs">{{ 'services.title' | trans }}</h1>

        {# ################# #
         #  ACTIVE SERVICES  #
         # ################# #}
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="panel-title">{{ 'services.active_services.title' | trans }}</h2></div>
            <div class="panel-body">
                {% if user.getAuthorizations(defaultClientUid) | length > 0 %}
                    <ul class="list-group">
                        {% for auth in user.getAuthorizations(defaultClientUid) %}
                            <li class="list-group-item service clearfix">
                                <div class="media clearfix">
                                    <div class="pull-left">
                                        <img src="{{ include('LoginCidadaoCoreBundle:Client:imageUrl.html.twig', { 'client': auth.client }) }}"
                                             width="65" height="65" alt="" class="media-object">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">{{ auth.client.name }}</h5>
                                        <a href="{{ path('lc_app_details', {'clientId': auth.client.id}) }}"
                                           class="btn btn-link btn-sm pull-left link-detail">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                            {{ 'services.active_services.details' | trans }}
                                        </a>
                                    </div>
                                    <a href="{{ auth.client.siteUrl }}" target="_blank"
                                       class="btn btn-link btn-sm pull-right">
                                        <span class="glyphicon glyphicon-link"></span>
                                        {{ 'services.active_services.go_to' | trans }}
                                    </a>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <p class="empty">{{ 'dashboard.active_services.no_entries' | trans }}</p>
                {% endif %}
            </div>
        </div>

        {# ################ #
         #  OTHER SERVICES  #
         # ################ #}
        {% if apps|length > 0 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'services.unauthorized.title' | trans }}</h2>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for client in apps %}
                            <li class="list-group-item service">
                                <div class="media clearfix">
                                    <div class="pull-left">
                                        <img src="{{ include('LoginCidadaoCoreBundle:Client:imageUrl.html.twig', { 'client': client }) }}"
                                             width="65" height="65" alt="" class="media-object">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">{{ client.name }}</h5>
                                        <a href="{{ path('lc_app_details', {'clientId': client.id}) }}"
                                           class="btn btn-link btn-sm pull-left link-detail">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                            {{ 'services.unauthorized.details' | trans }}
                                        </a>
                                    </div>
                                    <a href="{{ client.siteUrl }}" target="_blank"
                                       class="btn btn-link btn-sm pull-right">
                                        <span class="glyphicon glyphicon-link"></span>
                                        {{ 'services.unauthorized.go_to' | trans }}
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {# ################# #
         #  SUGGESTION FORM  #
         # ################# #}
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="panel-title">{{ 'Suggest a Service' | trans }}</h2></div>
            <div class="panel-body">
                {{ form_start(form, { 'attr': {'role':'form' } }) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.text, { 'label': 'Suggestion'|trans } ) }}
                        <div class="text-right">
                            <input class="btn btn-success" type="submit" value="{{ 'Send' |trans }}"/>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
                <div class="row">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="col-sm-12">
                                <div class="text-center bg-success flash-{{ type }}">
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div class="last-suggestions clearfix">
                <h5 class="title">{{ 'Your last suggested Services'|trans }}</h5>
                {% if suggestions|length > 0 %}
                    {% for suggestion in suggestions %}
                        <span class="label label-info">{{ suggestion.text }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
