{% extends "LoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block title %}{{ 'Badges' | trans }} | {{ parent() }}{% endblock title %}

{% block content %}
    <div class="content clearfix badges-list">

        <h1 class="visible-xs">{% trans %}Badges{% endtrans %}</h1>

        <div class="well">
            <h4>{{ 'badges.list.title'|trans }}</h4>
            {{ 'badges.list.description'|trans }}
        </div>
        {% if userBadges|length == 0 %}
            <div class="alert alert-warning" role="alert">{% trans %}You don't have any badges yet!{% endtrans %}</div>
        {% endif %}

        {% trans_default_domain "badges" %}
        {% for client, badges in allBadges %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ (client ~ '.title') | trans }}</h3>
                </div>
                <div class="panel-body">
                    {% for badge, content in badges %}
                        {% set key = client ~ '.' ~ badge %}
                        <div class="media {{ key in userBadges|keys ? '' : 'locked' }}">
                            <div class="media-left">
                                <div class="badge-icon badge-{{ badge }}"></div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ (client ~ '.' ~ badge ~ '.title') | trans }}</h4>
                                {{ content.description }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
