{% form_theme form 'LoginCidadaoCoreBundle::Form/fields.html.twig' %}

{{ form_start(form, {'action': path('lc_profile_doc_rg_edit'), 'attr': {'role':'form', 'id': 'form-rg', 'class' : 'form-ajax', 'ajax-target' : 'div:has(#form-rg):last'} }) }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'RG'|trans }}</h2>
    </div>
    <div class="panel-body">
        <div class="row clearfix">
            {{ form_errors(form) }}
            <div class="col-md-12">
                {{ form_row(form.state) }}
                {{ form_row(form.issuer) }}
                {{ form_row(form.val) }}
            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        <input type="submit" value="{{ 'Send'|trans }}" class="btn btn-success">
    </div>
</div>
{{ form_end(form) }}