{% extends "LoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block title %}{{ 'Security' | trans }} | {{ parent() }}{% endblock title %}

{% block content %}
    <div class="form-content">
        <div class="content security clearfix">
            <h1 class="visible-xs">{{ 'Security' | trans }}</h1>
            <p>{{ 'force_password_change.description' | trans }}</p>
            {{ include("LoginCidadaoCoreBundle:Person:changePassword.html.twig") }}
        </div>
    </div>
{% endblock %}

{% block content_columns %}container{% endblock %}
{% block sidebar %}{% endblock %}
{% block notificationExtreme %}
    {{ include("LoginCidadaoCoreBundle::notification_extreme.html.twig", { columns: block('content_columns') } ) }}
{% endblock %}
{% block footer %}
    {% set columns = block('content_columns') %}
    {{ include("LoginCidadaoCoreBundle::footer.html.twig") }}
{% endblock %}
