{% extends "LoginCidadaoCoreBundle::compact.base.html.twig" %}

{% block title %}{{ 'Security' | trans }} | {{ parent() }}{% endblock title %}

{% block panel_body %}
    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'Close' | trans }}"><span
                            aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>{{ 'force_password_change.title' | trans }}</h1>
    <p>{{ 'force_password_change.description' | trans }}</p>

    {{ form_start(form) }}
    {% if form.current_password is defined %}
        {{ form_row(form.current_password) }}
    {% endif %}
    {{ form_row(form.plainPassword) }}
    <input class="btn btn-success btn-block" type="submit" value="{{ 'force_password_change.submit' | trans }}"/>
    {{ form_end(form) }}
{% endblock %}
