{% extends 'LoginCidadaoCoreBundle::compact.base.html.twig' %}

{% set form_has_errors = not form.vars.valid %}

{% block panel_body_class %}task-fill-email{% endblock %}

{% block panel_body %}
    <h1>{{ 'tasks.fill_email.title' | trans }}</h1>

    {{ form_start(form) }}

    <p>{{ 'tasks.fill_email.body' | trans({'%service%': service | capitalize}) }}</p>
    {{ form_row(form.email) }}

    <button type="submit" class="btn btn-block btn-success">
        {{ 'Continue' | trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}

{% block stylesheets_custom %}
    {% stylesheets '@lc_task_email_validation_css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
