{#
{% extends '::base.html.twig' %}

{% block header %}
#}
<div id="external">
    {% include "PROCERGSLoginCidadaoCoreBundle::navbar.html.twig" %}

    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/jquery.js'
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/bootstrap.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</div>
{#
{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/bootstrap.css'
                    'bundles/procergslogincidadaocore/css/navbar.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie7.css' filter='cssrewrite' %}
<!--[if IE 7]>
  <link rel="stylesheet" href="{{ asset_url }}" />
<![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie8.css' filter='cssrewrite' %}
<!--[if IE 8]>
  <link rel="stylesheet" href="{{ asset_url }}" />
<![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie9.css' filter='cssrewrite' %}
<!--[if IE 9]>
  <link rel="stylesheet" href="{{ asset_url }}" />
<![endif]-->
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
<script>
    var navbar = '';
    document.domain = '{{ domain }}';
    $(document).ready(function() {
        $('body', window.parent.document).prepend($("#external"));
    });
</script>
{% endblock %}
#}