{% extends 'LoginCidadaoCoreBundle::compact.base.html.twig' %}

{% block top_buttons %}
    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-home-register">
        {{ 'home.register.button' | trans }}
    </a>
{% endblock %}

{% block panel_body %}
    <h1>{{ 'resetting.request.title' | trans }}</h1>

    <p>{{ 'resetting.request.description' | trans }}</p>

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="user_resetting_request">
        <div class="form-content">
            <div class="form-group">
                <label class="control-label sr-only" for="username">{{ 'resetting.request.username.label'|trans }}</label>
                <input class="form-control username" type="text" name="username" required="required"
                       placeholder="{{ 'resetting.request.username.placeholder'|trans }}"/>
                {% if invalid_username is defined %}
                    <div class="input-error">
                        {{ 'resetting.request.invalid_username' | trans({'%username%': invalid_username}) }}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <a href="{{ path('fos_user_security_login') }}" class='btn btn-default'>{% trans %}Cancel{% endtrans %}</a>
                </div>
                <div class="col-xs-7 text-right">
                    <input class='btn btn-success' type="submit" value="{{ 'resetting.request.submit'|trans }}"/>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('input.username').on('keyup', function (e) {
                validator.onKeyUpMultiformat(this, e);
            });
        });
    </script>
{% endblock %}

{% block stylesheets_custom %}
    {% stylesheets '@lc_login_register_css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
