{% extends 'LoginCidadaoCoreBundle::compact.base.html.twig' %}

{% block top_buttons %}
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-compact-text">
        {{ 'home.login.button' | trans }}
    </a>
{% endblock %}

{% block panel_body %}
    <h1>{{ 'resetting.reset.title' | trans }}</h1>

    <p>{{ 'resetting.reset.description' | trans }}</p>

    {{ form_start(form, {'action': path('fos_user_resetting_reset', {'token': token}), 'attr': {'role':'form', 'class':'user_resetting_reset'}}) }}
    {{ form_errors(form) }}
    <div class="form-content">
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <div class="row">
            <div class="col-sm-6">
                <a href="{{ path('lc_home') }}" class='btn btn-default'>{% trans %}Cancel{% endtrans %}</a>
            </div>
            <div class="col-sm-6 text-right">
                {{ form_widget(form.save, { 'label': 'resetting.reset.submit' | trans,  'attr': { 'class': 'btn btn-success' } }) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
