{% extends 'LoginCidadaoCoreBundle::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-xs-12 text-center header-shadows">
        <h1>{% trans %}Citizen's Login{% endtrans %}</h1>
        <h2 class="slogan hidden-xs">{% trans %}One account. The entire Government.{% endtrans %}</h2>
    </div>
</div>

<div class="row">
    <div class="general-content col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        {% trans_default_domain 'FOSUserBundle' %}

        <div class="col-md-12 title">
            <h3>{% trans %}Register with Twitter{% endtrans %}</h3>
            <p>{% trans %}Since twitter won't share your email, we need you to type your email manually.{% endtrans %}</p>
            <p>{% trans %}This email will be used for future contact and can also be user to log in, so this must be a valid email.{% endtrans %}</p>
        </div>
		{% form_theme form 'LoginCidadaoCoreBundle::Form/fields.html.twig' %}
        {{ form_start(form, {'action': path('lc_before_register_twitter'), 'attr': {'role':'form', 'class':'lc_before_register_twitter'}}) }}
            <div class="form-content">
                <div class="col-md-8">
                	{{ form_row(form.email) }}
                    {{ form_widget(form.save, { 'label': 'Continue Registration' | trans, 'attr': { 'class': 'btn btn-success btn-sm pull-right' } }) }}
                    <a href="{{ path('lc_home') }}" class='btn btn-default' />{% trans %}Cancel{% endtrans %}<a/>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block stylesheets_custom %}
    {% stylesheets '@lc_base_css' 'bundles/logincidadaocore/css/home/*.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
