{% extends "PROCERGSLoginCidadaoCoreBundle:Dev:base.html.twig" %}

{% block content %}
<div class="content broadcast">

    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">{{ 'Broadcasts' | trans }}</h2></div>
      <div class="panel-body">
        <a href="{{ path('lc_dev_broadcasts_clients') }}" role="button" class="btn btn-primary">{{ 'New Broadcast' | trans }}</a>
        <div class="list-group broadcasts-list">
          {% for broadcast in broadcasts %}              
            <a href="{{ path('lc_dev_broadcast_about', {'broadcastId': broadcast.id}) }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ broadcast.category.name }}</h4>                
                <p class="list-group-item-text">{{ broadcast.title }}</p>
                <p class="list-group-item-text">{{ broadcast.shortText }}</p>
                <p class="list-group-item-text">{{ broadcast.createdat|date('d/m/Y h:i:s') }}</p>
            </a>
        {% endfor %}
        </div>        
      </div>
    </div>
</div>
{% endblock content %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@PROCERGSLoginCidadaoNotificationBundle/Resources/public/css/broadcast.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}