{% extends 'LoginCidadaoCoreBundle::base.loggedIn.html.twig' %}
{% block content %}

  <div id="popup-content" class="content clearfix">

    <h1>{{ 'cpf.registration.title'|trans }}</h1>

    {{ form_start(form) }} {{ form_errors(form) }}
    <div class="form-content">

      <div class="panel panel-default">
        <div class="panel-body">
          {% if isExpired %}
            <h2>{% trans %}We're almost done!{% endtrans %}</h2>
            <p>{% trans %}Your account is created, but you must have a CPF.{% endtrans %}</p>
            <p>{% trans %}Your CPF will give some realibility to your account.{% endtrans %}</p>
          {% endif %}

          <div class="form-group">
            {% if messages %}
              <div class="input-error alert-danger">
                {{ messages|trans }}
              </div>
            {% endif %}
          </div>
          {% if form.cpf is defined %}
            <div class="form-group">
              {{ form_label(form.cpf, 'form.cpf'| trans({}, 'FOSUserBundle')) }}
              {{ form_errors(form.cpf) }}
              {{ form_widget(form.cpf) }}
            </div>
          {% endif %}
        </div>
        <div class="panel-footer text-right">
          <input class='btn btn-success btn-sm' type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
      </div>
      {{ form_end(form) }}
    </div>

  </div>

  {% endblock %}

  {% block javascripts %}
    {{ parent() }}
    <script>
      $(document).ready(function() {
        {% if form.cpf is defined %}
        $('#{{ form.cpf.vars.id }}').mask('000.000.000-00');
        {% endif %}
      });
    </script>
  {% endblock %}