{% extends 'LoginCidadaoCoreBundle::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-xs-12 text-center header-shadows">
        <h1>{% trans %}Citizen's Login{% endtrans %}</h1>
        <h2 class="slogan hidden-xs">{% trans %}One account. The entire Government.{% endtrans %}</h2>
    </div>
</div>

<div class="row">
    {% set common_row_class = 'col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-md-push-6 col-lg-4 col-lg-offset-1' %}
    {{ include("LoginCidadaoCoreBundle::common.register.html.twig") }}
    {% trans_default_domain 'messages' %}
    <div class="col-xs-12 hidden-xs col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-md-pull-6 col-lg-5 col-lg-offset-2">
      <div id="register-aside">
          <h3 class="title">{% trans %}With only one account{% endtrans %}</h3>

          <p class="text">{% trans %}Access to all services offered by the Government{% endtrans %}</p>
          <p class="text">{% trans %}With only the password and CPF. Making accessing the services much simpler.{% endtrans %}</p>
      </div>
    </div>
</div>

{% endblock %}

{% block credits %}
<div class="bg-credits">{% trans with { '%name%': background_helper.backgroundImage.author, '%link%': background_helper.backgroundImage.url } %}<a href="%link%">Background picture</a> by %name%{% endtrans %}</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {% javascripts
            '@LoginCidadaoCoreBundle/Resources/public/js/register/register.js' filter='uglifyjs2' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var emailAvailableUrl = '{{ path('lc_email_available') }}';
    </script>
{% endblock %}

{% block stylesheets_custom %}
    {% stylesheets '@lc_base_css' 'bundles/logincidadaocore/css/home/*.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block head %}
    <!-- Facebook Conversion Code for cadastro -->
    <script type="text/javascript">
        var fb_param = {};
        fb_param.pixel_id = '6015342483576';
        fb_param.value = '0.01';
        fb_param.currency = 'BRL';
        (function(){
            var fpw = document.createElement('script');
            fpw.async = true;
            fpw.src = '//connect.facebook.net/en_US/fp.js';
            var ref = document.getElementsByTagName('script')[0];
            ref.parentNode.insertBefore(fpw, ref);
        })();
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6015342483576&amp;value=0.01&amp;currency=BRL" /></noscript>
{% endblock %}