{% extends "LoginCidadaoCoreBundle:Admin:base.html.twig" %}
{% block content %}
{% form_theme form 'LoginCidadaoCoreBundle::Form/fields.html.twig' %}
<div id="suggestion_id" class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{ 'admin.sugg.list.title'|trans }}</h2>
        </div>
        <div class="panel-body">
            <div class="row clearfix">
                <div class="col-md-12">
                {{ form_start(form, {'action': path('lc_admin_sugg_list_query'), 'attr': {'role':'form' , 'class' : 'form-ajax', 'ajax-target' : '#ajax-result' }}) }}
                {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-md-6">
                        {{ form_row(form.dateini) }}
                        </div>
                        <div class="col-md-6">
                        {{ form_row(form.dateend) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.username) }}
                            {{ form_row(form.text) }}
                            <button type="submit" class="btn btn-success pull-right">{{ 'Send'|trans }}</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div id="ajax-result"></div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
  $('.date').mask('00/00/0000', {'translation': {0: {pattern: /[0-9*]/}}});
</script>
{% endblock %}