{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="applications" class="content clearfix">

    <div class="clearfix">
        <h3 class="pull-left">{% trans %}Services{% endtrans %}</h3>
        <div class="app-toggle pull-right">
            <button type="button" class="btn btn-default btn-lg active" data-display="grid">
              <span class="glyphicon glyphicon-th-large"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" data-display="list">
              <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </div>
    </div>

    <div class="list-group">
        <h4>{% trans %}Active Services{% endtrans %}</h4>
        {% if user.getAuthorizations|length > 0 %}
            <ul class="grid clearfix">
            {% for auth in user.getAuthorizations %}

                <li>
                    <a href="{{ path('lc_app_details', {'clientId': auth.client.id}) }}">
                        {% if auth.client.getPictureWebPath is not null and auth.client.getPictureWebPath != '' %}
                            <img src="/{{ client.getPictureWebPath }}" width="65" height="65" alt="" class="center-block">
                        {% else %}
                            <img src="http://placehold.it/65x65" alt="" class="center-block">
                        {% endif %}
                        <span class="name center-block text-center">{{ auth.client.name }}</span>
                        <span class="activated status">{% trans %}Activated{%  endtrans %}</span>
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="empty">{% trans %}No service activated{%  endtrans %}</p>
        {% endif %}

        <h4>{% trans %}Other Services{% endtrans %}</h4>
        {% if apps|length > 0 %}
            <ul class="grid clearfix">
                {% for client in apps %}

                    <li>
                        <a href="{{ path('lc_app_details', {'clientId': client.id}) }}">
                            {% if client.getPictureWebPath is not null and client.getPictureWebPath != '' %}
                                <img src="/{{ client.getPictureWebPath }}" width="65" height="65" alt="" class="center-block">
                            {% else %}
                                <img src="http://placehold.it/65x65" alt="" class="center-block">
                            {% endif %}
                            <span class="name center-block text-center">{{ client.name }}</span>
                            <span class="status">{% trans %}Deactivated{%  endtrans %}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="empty">{% trans %}No service deactivated{%  endtrans %}</p>
        {% endif %}
    </div>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

$(function() {
    // switch display application list
    $('.app-toggle .btn').on('click', function() {

        if ( !$(this).hasClass('active') ) {

            $('.app-toggle .btn').removeClass('active');
            $(this).addClass('active');
            $('#applications .list-group').css({'margin-top': '-30px', 'opacity' : 0 });

            var self = $(this);
            setTimeout( function(){
                switch (self.data("display")) {
                    case 'list':
                        $('#applications ul').removeClass('grid').addClass('list');
                        break;
                    case 'grid':
                        $('#applications ul').removeClass('list').addClass('grid');
                        break;
                }
                $('#applications .list-group').css({'margin-top' : 0, 'opacity' : 1});
            }, 1000);

        }
    });

    $(window).resize(function() {

        if ($(this).width() < 768) {
            $('.app-toggle .btn[data-display="grid"]').trigger('click');
            $('.app-toggle .btn[data-display="list"]').attr('disabled', 'disabled');
        } else {
            $('.app-toggle .btn[data-display="list"]').removeAttr('disabled');
        }

    });

});

</script>
{% endblock %}