{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="app-detail" class="content clearfix">
     {# {{dump(client)}} #}
    <h3>{{ client.name }}</h3>

        <div class="desc row">
            <div class="col-sm-12 col-md-4">
                <img src="http://placehold.it/220x220">
            </div>

            <div class="col-sm-12 col-md-7 col-md-offset-1">
                <p>{{ client.description }}</p>
            </div>

        </div>

        <div class="msg text-center">
            {% if (user.hasAuthorization(client)) %}
                <p class="activated">{% trans %}This service is already active in your Citizen's Login account{%  endtrans %}</p>
                <a href="#" class="btn" id="app-deactivate" role="button">{% trans %}Deactivate this service{% endtrans %}</a>

                <div class="alert alert-danger" id="deactivate-box">
                  <h4>Você quer mesmo desativar esse serviço?</h4>
                  <p>
                    <a role="button" class="btn btn-danger" data-action="enable">Sim</a>
                    <a role="button" class="btn btn-default" data-action="disable">Não</a>
                  </p>
                </div>
            {% else %}
                <p>{% trans %}This service is not active in your Citizen's Login account{%  endtrans %}</p>
                <a href="{{ client.landingPageURL }}" class="btn btn-success" role="button">{% trans %}Activate this service{% endtrans %}</a>
            {% endif %}
        </div>

        <p style="margin-top:50px;">Este serviço utiliza os seguintes dados da sua conta do Login Cidadão</p>

        <ul class="permissions pull-left">
            {% for key, status in scopes %}
                <li class="{{ status ? 'allow' : 'deny' }}">
                    {{ status ? '<i class="glyphicon glyphicon-ok"></i>' : '<i class="glyphicon glyphicon-remove"></i>' }}
                    <span>{{ ('scope.' ~ key) | trans }}</span>
                </li>
            {% endfor %}
        </ul>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function() {
    $('#app-deactivate').on('click', function() {
        $('#deactivate-box').slideDown();
    });

    $('#deactivate-box .btn').on('click', function() {
        var action = $(this).data('action');

        if (action == 'enable') {
            $.ajax({
                url: "{{ path('ui_revoke', {'clientId': client.id}) }}",
                type: 'GET',
                success: function(data){
                    console.log(data);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(XMLHttpRequest);
                    console.log(textStatus);
                }
            });
        } else {
            $(this).closest('#deactivate-box').slideUp();
        }
    });
});
</script>
{% endblock %}