{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'action': path('fos_user_change_password'), 'attr': {'role':'form', 'class':'lc_change_password'}}) }}
{{ form_errors(form) }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'Account Password' | trans }}</h2>
    </div>
    <div class="panel-body">
        <div class="row clearfix">
            <div class="col-md-12">
                {% if form.current_password is defined %}
                    {{ form_row(form.current_password) }}
                {% endif %}

                {{ form_row(form.plainPassword) }}

            </div>

            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="col-md-12">
                        <div class="text-center bg-success flash-{{ type }}">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="panel-footer text-right">
        <input class="btn btn-success btn-sm" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</div>
{{ form_end(form) }}
