{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="profile-change-password" class="content clearfix">
    <h1>{%trans%}Change password{%endtrans%}</h1>


    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'action': path('fos_user_change_password'), 'attr': {'role':'form', 'class':'lc_change_password'}}) }}
        {{ form_errors(form) }}
        <div class="form-content">
          <div class="panel panel-default">
           <div class="panel-body">
            <div class="row clearfix">
                <div class="col-md-8">
                {% if form.current_password is defined %}
                    <div class="form-group">
                        {{ form_label(form.current_password, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <div class="input-error">{{ form_errors(form.current_password) }}</div>
                    </div>
                {% endif %}

                    <div class="form-group">
                        {{ form_widget(form.plainPassword) }}
                        <div class="input-error">{{ form_errors(form.plainPassword) }}</div>
                    </div>

                </div>

                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                    <div class="col-md-8">
                        <div class="text-center bg-success flash-{{ type }}">
                            {{ message }}
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
          </div>
          <div class="panel-footer text-right">
              <input class="btn btn-success btn-sm" type="submit" value="{{ 'change_password.submit'|trans }}" />
          </div>
        </div>
    </div>

    {{ form_end(form) }}

</div>
{% endblock %}