{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="profile-change-password">
    <h3>{%trans%}Change password{%endtrans%}</h3>

    {% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
    <div class="flash-{{ type }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endfor %}

    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'action': path('fos_user_change_password'), 'attr': {'role':'form', 'class':'lc_change_password'}}) }}
        {{ form_errors(form) }}
        <div class="form-content">

            <div class="row clearfix">
                <div class="col-md-8">

                    <div class="form-group">
                        {{ form_label(form.current_password, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <div class="input-error">{{ form_errors(form.current_password) }}</div>
                    </div>

                    <div class="form-group">
                        {{ form_widget(form.plainPassword) }}
                        <div class="input-error">{{ form_errors(form.plainPassword) }}</div>
                    </div>

                </div>
            </div>
    </div>
    <div class="form-bar">
        <input class='btn btn-success btn-sm pull-right' type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
    {{ form_end(form) }}

</div>
{% endblock %}