<style scoped>
    #profile-edit .nfg {
        background-color: #EF9618;
        {% image '@LoginCidadaoCoreBundle/Resources/public/images/meurs_connect_nfg.png' %}
        background-image: url('{{ asset_url | e('css') }}');
        {% endimage %}
        background-repeat: no-repeat;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% if personMeuRS.nfgAccessToken is null %}
    <div class="connect nfg disabled">
        <a data-href="{{ path('nfg_wait', { 'action': 'connect' }) }}" href="javascript:void(0);" class="col-xs-11 col-xs-offset-1 username nfgpopup">{{ 'Connect to the Nota Fiscal Gaúcha' | trans }}</a>
    </div>
{% else %}
    <div class="connect nfg" data-service-name="Nota Fiscal Gaúcha">
        <span class="col-xs-9 col-xs-offset-1 username">{{ app.user.cpf | formatCpf }}</span>
        {% if app.user.hasPassword %}
            <a class="col-xs-2 unlink text-right"  href="{{ path('old_nfg_unbind') }}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        {% endif %}
    </div>
{% endif %}
