{% extends "LoginCidadaoCoreBundle::base.loggedIn.html.twig" %} {% block content %}
    <div id="profile-edit" class="content">

        <h1 class="visible-xs">{% trans %}Documents{% endtrans %}</h1>

        {% trans_default_domain 'FOSUserBundle' %}

        <div class="form-content">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'General'|trans }}</h2>
                </div>
                {{ form_start(form, {'action': path('lc_profile_doc_edit'), 'attr': {'role':'form' } }) }}
                <div class="panel-body">
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                {{ form_label(form.cpf) }}
                                {% if form.cpf.vars.value is not null %}
                                    {% if personMeuRS.nfgAccessToken is null %}
                                        {{ form_widget(form.cpf, {'attr': {'class': 'form-control', 'maxlength' : '14'}}) }}
                                    {% else %}
                                        {{ form_widget(form.cpf, {'attr': {'type': 'hidden', 'style' : 'display: none;'}}) }}
                                        <span> {{ form.cpf.vars.value|formatCpf }} </span>
                                    {% endif %}
                                {% endif %}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                {{ form_errors(form.cpf) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.personMeuRS.voterRegistration) }}
                                {% if personMeuRS.nfgAccessToken is not null %}
                                    {% if form.personMeuRS.voterRegistration.vars.value is null or form.personMeuRS.voterRegistration.vars.value == '' %}
                                        {{ form_widget(form.personMeuRS.voterRegistration, {'attr': {'class': 'form-control', 'maxlength' : '12'}}) }}
                                        {{ form_errors(form.personMeuRS.voterRegistration) }}
                                        <span class="extra">{% trans %}Don't know your Voter Registration number?{% endtrans %}<a target='blank' href="{{ tre_search_link }}">{{ 'Search it!' | trans }}</a></span>
                                        <span class="extra">{% trans %}Use your account on Nota Fiscal Gaúcha and validate your Voter Registration{% endtrans %}</span>
                                    {% else %}
                                        {% if app.user.nfgProfile.voterRegistrationSit is null or app.user.nfgProfile.voterRegistrationSit == 0 %}
                                            {{ form_widget(form.personMeuRS.voterRegistration, {'attr': {'class': 'form-control', 'maxlength' : '12'}}) }}
                                            {{ form_errors(form.personMeuRS.voterRegistration) }}
                                            <span class="extra">{% trans %}Use your account on Nota Fiscal Gaúcha and authorize us to validate your Voter Registration{% endtrans %}</span>
                                        {% elseif app.user.nfgProfile.voterRegistrationSit == 1 %}
                                            {{ form_widget(form.personMeuRS.voterRegistration, {'attr': {'type': 'hidden', 'style' : 'display: none;'}}) }}
                                            {{ form_errors(form.personMeuRS.voterRegistration) }}
                                            <span>{{ form.personMeuRS.voterRegistration.vars.value }}</span>
                                        {% else %}
                                            {{ form_widget(form.personMeuRS.voterRegistration, {'attr': {'class': 'form-control', 'maxlength' : '12'}}) }}
                                            {{ form_errors(form.personMeuRS.voterRegistration) }}
                                            <span class="extra">{% trans %}The Voter Registration used is not valid according to Nota Fiscal Gaúcha. Please type your Voter Registration correctly{% endtrans %}</span>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {{ form_widget(form.personMeuRS.voterRegistration, {'attr': {'class': 'form-control', 'maxlength' : '12'}}) }}
                                    {{ form_errors(form.personMeuRS.voterRegistration) }}
                                    <span class="extra">{% trans %}Don't know your Voter Registration number?{% endtrans %} <a target='blank' href="{{ tre_search_link }}">{{ 'Search it!' | trans }}</a></span>
                                    {% endif %}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <input class="btn btn-success" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'RGs'|trans }}</h2>
                </div>
                <div class="panel-body">
                    <div id="rg-grid-place">
                        {{ include("LoginCidadaoCoreBundle:Person:docRgList.html.twig", {'grid': grid} ) }}
                    </div>
                </div>
            </div>
            <div id="rg-edit"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@LoginCidadaoCoreBundle/Resources/public/js/idCard.js' filter='uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
    var routeRgEdit = '{{ path('lc_profile_doc_rg_edit') }}';
    var routeRgRemove = '{{ path('lc_profile_doc_rg_remove') }}';
    var routeRgGrid = '{{ path('lc_profile_doc_rg_list') }}';
    var rgGrid = {};
    rgGrid.getGrid = function () {
        $.ajax({
            type: 'get',
            url: routeRgGrid,
            dataType: 'html',
            success: function (data, textStatus, jqXHR) {
                $('#rg-grid-place').html(data);
                $('html, body').animate({scrollTop: $('#rg-grid-place').offset().top});
            }
        });
    };
    $(document).on('click', '#new_rg', function () {
        $.ajax({
            type: 'get',
            url: routeRgEdit,
            dataType: 'html',
            success: function (data, textStatus, jqXHR) {
                $('#rg-edit').html(data);
                $('html, body').animate({scrollTop: $('#rg-edit').offset().top});
            }
        });
    });
    $(document).on('click', '#rg-grid .edit-row-grid', function () {
        var $id = $(this).data('row').id;
        $.ajax({
            type: 'get',
            url: routeRgEdit + '?id=' + $id,
            dataType: 'html',
            success: function (data, textStatus, jqXHR) {
                $('#rg-edit').html(data);
                $('html, body').animate({scrollTop: $('#rg-edit').offset().top});
            }
        });
    });
    $(document).on('click', '#rg-grid .remove-row-grid', function () {
        var $id = $(this).data('row').id;
        $.ajax({
            type: 'get',
            url: routeRgRemove + '?id=' + $id,
            dataType: 'html',
            success: function (data, textStatus, jqXHR) {
                $('#rg-edit').html(data);
            }
        });
    });
    var profileDocEdit = {};
    profileDocEdit.cpfId = '#{{ form.cpf.vars.id }}';
    profileDocEdit.voterRegistrationId = '#{{ form.personMeuRS.voterRegistration.vars.id }}';

    var messages = {
        form: {
            voter_registration: {
                "invalid": "{{ 'form.voter_registration.invalid' | trans({}, "validators") }}"
            },
            id_card: {
                "allIdsLoaded": "{{ 'No more documents' | trans }}"
            }
        }
    };

    $(function () {
        $(profileDocEdit.cpfId).mask('000.000.000-00');

        $(profileDocEdit.voterRegistrationId).mask('000000000000');
        $(profileDocEdit.voterRegistrationId).on('blur', function () {
            if (!this.value.length) {
                return;
            }
            this.value = zeroPadding(this.value, 12);
        {#if (!checkVoterRegistration(this.value)) {
            validator.check.error(this, messages.form.voter_registration.invalid);
        }#}
              });
          });
    </script>
{% endblock %}
