{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="profile-edit" class="content clearfix">

    <h3>Perfil</h3>

    {% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
    <div class="flash-{{ type }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endfor %}

    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'action': path('fos_user_profile_edit'), 'attr': {'role':'form' } }) }}
    {{ form_errors(form) }}

    <div class="form-content">
        <div class="row clearfix">
            <div class="col-md-7">
                <div class="form-group">
                    {{ form_label(form.firstName) }}
                    <div class="input-error">{{ form_errors(form.firstName) }}</div>
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.surname) }}
                    <div class="input-error">{{ form_errors(form.surname) }}</div>
                    {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email) }}
                    <div class="input-error">{{ form_errors(form.email) }}</div>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-inline form-group birthdate">
                    {{ form_label(form.birthdate) }}
                    <div class="input-error">{{ form_errors(form.birthdate) }}</div>
                    {{ form_widget(form.birthdate) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.cep) }}
                    <div class="input-error">{{ form_errors(form.cep) }}</div>
                    {{ form_widget(form.cep, {'attr': {'class': 'form-control', 'onkeypress' : 'validador.mask.cep(this, event)', 'onblur' : 'validador.check.cep(this, event) && validador.cep.findByCep(this, \'city_id\', \'uf_id\')'}}) }}
                    <span>
                        Não sabe o CEP,
                        <a onclick="validador.cep.popupConsult(this, event, '{{ form.cep.vars.id }}', 'city_id', 'uf_id');" href="javascript:void(0);" data-href="{{ path('lc_consultaCep') }}">consulte aqui</a>
                    </span>
                </div>
                <div class="form-group">
                    <label for="city_id">{{ 'form.city'|trans }}</label>
                    <input type="text" class="form-control" name="city_id" id="city_id" readonly="readonly"/>
                    <label for="uf_id">{{ 'form.uf'|trans }}</label>
                    <input type="text" class="form-control" name="uf_id" id="uf_id" readonly="readonly"/>
                </div>
                <div class="form-group">
                    {{ form_label(form.cpf) }}
                    <div class="input-error">{{ form_errors(form.cpf) }}</div>
                    {{ form_widget(form.cpf, {'attr': {'class': 'form-control', 'onkeypress' : 'validador.mask.cpf(this, event)', 'onblur' : 'validador.check.cpf(this, event)'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.mobile) }}
                    <div class="input-error">{{ form_errors(form.mobile) }}</div>
                    {{ form_widget(form.mobile, {'attr': {'class': 'form-control', 'onkeypress' : 'validador.mask.mobile(this, event)', 'onblur' : 'validador.check.mobile(this, event)'}}) }}
                </div>
            </div>

            <div class="col-md-5">
                <img src="{% include 'PROCERGSLoginCidadaoCoreBundle:Person:currentUserPicture.html.twig' %}">

                <div class="file-upload">
                    <button type="button" class="btn btn-success btn-upload">Alterar foto</button>
                    <div class="file-name"></div>
                    {{ form_widget(form.pictureFile) }}
                </div>


                {% if app.user.facebookUsername is null %}
                <a class="connect facebook disabled" href="{{ path('lc_link_facebook') }}">{{ 'Connect with Facebook' | trans }}</a>
                {% else %}
                <span class="connect facebook">{{ app.user.facebookUsername }}</span>
                {% endif %}

                {% if app.user.twitterUsername is null %}
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter'}) }}" class="connect twitter disabled">{{ 'Connect with Twitter' | trans }}</a>
                {% else %}
                <span class="connect twitter">{{ app.user.twitterUsername }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-bar">
        <input class='btn btn-success btn-sm pull-right' type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
    {{ form_end(form) }}

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function() {	
	$('#' + '{{ form.cep.vars.id }}').trigger('keypress');
	$('#' + '{{ form.cep.vars.id }}').trigger('blur');
	$('#' + '{{ form.mobile.vars.id }}').trigger('keypress');
	$('#' + '{{ form.mobile.vars.id }}').trigger('blur');
	$('#' + '{{ form.cpf.vars.id }}').trigger('keypress');
	$('#' + '{{ form.cpf.vars.id }}').trigger('blur');
	
});
</script>
{% endblock %}
