{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="profile-edit" class="content clearfix">

    <h3>{% trans %}Profile{% endtrans %}</h3>

    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'action': path('fos_user_profile_edit'), 'attr': {'role':'form' } }) }}
    {{ form_errors(form) }}

    <div class="form-content">
        <div class="row clearfix">
            <div class="col-md-7">
                <div class="form-group">
                    {{ form_label(form.firstName) }}
                    <div class="input-error">{{ form_errors(form.firstName) }}</div>
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.surname) }}
                    <div class="input-error">{{ form_errors(form.surname) }}</div>
                    {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email) }}
                    <div class="input-error">{{ form_errors(form.email) }}</div>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-inline form-group birthdate">
                    {{ form_label(form.birthdate) }}
                    <div class="input-error">{{ form_errors(form.birthdate) }}</div>
                    {{ form_widget(form.birthdate) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.cep) }}
                    <div class="input-error">{{ form_errors(form.cep) }}</div>
                    {{ form_widget(form.cep, {'attr': {'class': 'form-control', 'maxlength' : '10'}}) }}
                    <span>
                        {% trans %}Don't know your CEP?{% endtrans %}
                        <a class="search-cep" href="{{ path('lc_consultaCep') }}">{{ 'Search it!' | trans }}</a>
                    </span>
                </div>
                <div class="form-group">
                    <label for="user_address">{{ 'Your address'|trans }}</label>
                    <span id="user_address"></span>
                </div>
                <div class="form-group">
                    {{ form_label(form.cpf) }}
                    <div class="input-error">{{ form_errors(form.cpf) }}</div>
                    {{ form_widget(form.cpf, {'attr': {'class': 'form-control', 'maxlength' : '14'}}) }}
                    {{ form_widget(form.cpfNfg, {'attr': {'type': 'hidden', 'style' : 'display: none;'}}) }}
                    {% if form.cpf.vars.value is not null %}
	                    {% if form.cpfNfg.vars.value is null or form.cpfNfg.vars.value == '' %}
	                    <span>
                            {{ 'cpf.profile.nfg.check.invite' | trans({}, 'messages')  }}
	                        <a class="check-cpf" href="{{ path('lc_registration_cpf') }}">{{ 'cpf.profile.nfg.check.button' | trans({}, 'messages') }}</a>
	                    </span>
	                    {% else %}
	                    <span>
	                        {{ 'cpf.registration.nfg.checked.at' | trans({'%date1%' : form.cpfNfg.vars.value}, 'messages')  }}
	                    </span>
	                    {% endif %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(form.mobile) }}
                    <div class="input-error">{{ form_errors(form.mobile) }}</div>
                    {{ form_widget(form.mobile, {'attr': {'class': 'form-control', 'maxlength' : '14'}}) }}
                </div>
            </div>

            <div class="col-md-5">
                <img src="{% include 'PROCERGSLoginCidadaoCoreBundle:Person:currentUserPicture.html.twig' %}">

                <div class="file-upload">
                    <button type="button" class="btn btn-success btn-upload">Alterar foto</button>
                    <div class="file-name"></div>
                    {{ form_widget(form.pictureFile) }}
                </div>


                {% if app.user.facebookUsername is null %}
                <a class="connect facebook disabled" href="{{ path('lc_link_facebook') }}">{{ 'Connect with Facebook' | trans }}</a>
                {% else %}
                <span class="connect facebook">{{ app.user.facebookUsername }}</span>
                {% endif %}

                {% if app.user.twitterUsername is null %}
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter'}) }}" class="connect twitter disabled">{{ 'Connect with Twitter' | trans }}</a>
                {% else %}
                <span class="connect twitter">{{ app.user.twitterUsername }}</span>
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                <div class="col-md-12">
                    <div class="text-center bg-success flash-{{ type }}">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>


    </div>

    <div class="form-bar text-right">
        <input class="btn btn-success btn-sm" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
    {{ form_end(form) }}

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
var profileEdit = {};
profileEdit.cepId = '#{{ form.cep.vars.id }}';
profileEdit.cpfId = '#{{ form.cpf.vars.id }}';

profileEdit.popLocation = function (dneData) {
    $(profileEdit.cepId).val(dneData.cep);
    $(profileEdit.cepId).mask('00000-000');
    var street = dneData.tipoLogradouro.capitalize(true, true) + ' ' + dneData.logradouro.capitalize(true, true);
    var city = dneData.localidade.capitalize(true, true);
    var state = dneData.uf;

    $('#user_address').html(city + ', ' + state);
};
$(document).ready(function() {
    $(profileEdit.cepId).mask('00000-000');
    $(profileEdit.cpfId).mask('000.000.000-00');
    $("#{{ form.mobile.vars.id }}").mask("(00) 0000-00009").focusout(function () {
        var phone, element;
        element = $(this); element.unmask();
        phone = element.val().replace(/\D/g, '');
        if (phone.length > 10) {
            element.mask("(00) 90000-0000");
        } else {
            element.mask("(00) 0000-00009");
        }
    });

    $('.search-cep').click(function(event) {
    	event.preventDefault();
        validador.cep.popupConsult(this, event, 'profileEdit.popLocation');
        return false;
    });
    $('.check-cpf').click(function(event) {
    	event.preventDefault()
        var url = $(this).attr('href');
        window.open(url, '', "width=600,height=450");
        return false;
    });
    $(profileEdit.cepId).blur(function(event) {
    	validador.cep.findByCep(this, profileEdit.popLocation);
    });
    $(profileEdit.cepId).trigger('blur');
});
</script>
{% endblock %}
