{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="profile-edit" class="content clearfix">

    <h3>Perfil</h3>

    {% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
    <div class="flash-{{ type }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endfor %}

    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'action': path('fos_user_profile_edit'), 'attr': {'role':'form' } }) }}
    {{ form_errors(form) }}

    <div class="form-content">
        <div class="row clearfix">
            <div class="col-md-7">
                <div class="form-group">
                    {{ form_label(form.firstName) }}
                    <div class="input-error">{{ form_errors(form.firstName) }}</div>
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.surname) }}
                    <div class="input-error">{{ form_errors(form.surname) }}</div>
                    {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email) }}
                    <div class="input-error">{{ form_errors(form.email) }}</div>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-inline form-group birthdate">
                    {{ form_label(form.birthdate) }}
                    <div class="input-error">{{ form_errors(form.birthdate) }}</div>
                    {{ form_widget(form.birthdate) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.cep) }}
                    <div class="input-error">{{ form_errors(form.cep) }}</div>
                    {{ form_widget(form.cep, {'attr': {'class': 'form-control', 'maxlength' : '10'}}) }}
                    <span>
                        {% trans %}Don't know your CEP?{% endtrans %}
                        <a class="search-cep" href="{{ path('lc_consultaCep') }}">{{ 'Search it!' | trans }}</a>
                    </span>
                </div>
                <div class="form-group">
                    <label for="user_address">{{ 'Your address'|trans }}</label>
                    <span id="user_address"></span>
                </div>
                <div class="form-group">
                    {{ form_label(form.cpf) }}
                    <div class="input-error">{{ form_errors(form.cpf) }}</div>
                    {{ form_widget(form.cpf, {'attr': {'class': 'form-control', 'maxlength' : '14'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.mobile) }}
                    <div class="input-error">{{ form_errors(form.mobile) }}</div>
                    {{ form_widget(form.mobile, {'attr': {'class': 'form-control', 'maxlength' : '14'}}) }}
                </div>
            </div>

            <div class="col-md-5">
                <img src="{% include 'PROCERGSLoginCidadaoCoreBundle:Person:currentUserPicture.html.twig' %}">

                <div class="file-upload">
                    <button type="button" class="btn btn-success btn-upload">Alterar foto</button>
                    <div class="file-name"></div>
                    {{ form_widget(form.pictureFile) }}
                </div>


                {% if app.user.facebookUsername is null %}
                <a class="connect facebook disabled" href="{{ path('lc_link_facebook') }}">{{ 'Connect with Facebook' | trans }}</a>
                {% else %}
                <span class="connect facebook">{{ app.user.facebookUsername }}</span>
                {% endif %}

                {% if app.user.twitterUsername is null %}
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter'}) }}" class="connect twitter disabled">{{ 'Connect with Twitter' | trans }}</a>
                {% else %}
                <span class="connect twitter">{{ app.user.twitterUsername }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-bar">
        <input class='btn btn-success btn-sm pull-right' type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
    {{ form_end(form) }}

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
var profileEdit = {};
profileEdit.popLocation = function (dneData) {    
    $('#{{ form.cep.vars.id }}').val(dneData.cep);
    validador.mask.cep($('#{{ form.cep.vars.id }}')[0], {});
    var street = $('#adress_id').val(dneData.tipoLogradouro.capitalize(true, true) + ' ' + dneData.logradouro.capitalize(true, true));
    var city = $('#city_id').val(dneData.localidade.capitalize(true, true));
    var state = $('#uf_id').val(dneData.uf);

    $('#user_address').html(city + ', ' + state);
};
$(document).ready(function() {
    $("#{{ form.cep.vars.id }}").mask('00000-000');
    $("#{{ form.cpf.vars.id }}").mask('000.000.000-00');
    $("#{{ form.mobile.vars.id }}").mask("(00) 0000-00009").focusout(function () {
        var phone, element;
        element = $(this); element.unmask();
        phone = element.val().replace(/\D/g, '');
        if (phone.length > 10) {
            element.mask("(00) 90000-0000");
        } else {
            element.mask("(00) 0000-00009");
        }
    });

    $('.search-cep').click(function() {
        validador.cep.popupConsult(this, event, '{{ form.cep.vars.id }}', 'profileEdit.popLocation');
        return false;
    });
});
</script>
{% endblock %}
