{% extends 'PROCERGSLoginCidadaoCoreBundle::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-xs-12 text-center header-shadows">
        <h1>{% trans %}Citizen's Login{% endtrans %}</h1>
        <h2 class="slogan hidden-xs">{% trans %}One account. All that the Government offers.{% endtrans %}</h2>
    </div>
</div>

<div class="row">
    <div id="register-box" class="lc-box col-md-5 col-md-offset-1 col-lg-4 pull-right">
        <h3 class="title text-center">{% trans %}Create your account{% endtrans %}</h3>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% trans_default_domain 'FOSUserBundle' %}

        {{ form_start(form, {'action': path('fos_user_registration_register'), 'attr': {'role':'form', 'class':'fos_user_registration_register clearfix'}}) }}
            <div class="form-content">
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.email, 'form.email' | trans, {'label_attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder' : 'form.email' }}) }}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <div class="input-error alert-danger">{{ form_errors(form.email) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(form.plainPassword, 'form.plainPassword' | trans, {'label_attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder' : 'form.plainPassword' }}) }}
                    <div class="input-error alert-danger">{{ form_errors(form.plainPassword) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(form.mobile, 'form.phone' | trans, {'label_attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.mobile, {'attr': {'class': 'form-control', 'placeholder' : ('form.phone' | trans) ~ (' (optional)' | trans)}}) }}
                    <div class="input-error alert-danger">{{ form_errors(form.mobile) }}</div>
                </div>

                <p class='terms'>Ao clicar em abrir conta, você concorda com nosso <a href="">Termos</a> e que você leu nossa <a href="">Política de uso de dados</a>, incluindo nosso <a href="">Uso de cookies</a></p>
                <button class="btn btn-success center-block" type="submit">{{ 'registration.submit'|trans }}</button>
            </div>
        {{ form_end(form) }}
            <a class="connect facebook" href="{{ path("lc_link_facebook") }}">Inscreva-se usando o facebook</a>
            <a href="{{ path('lc_before_register_twitter') }}" class="connect twitter">Inscreva-se usando o twitter</a>
    </div>
    {% trans_default_domain 'messages' %}
    <div id="register-aside" class="col-xs-12 col-md-6 col-lg-7 hidden-xs pull-left">
        <h3 class="title">{% trans %}With only one account{% endtrans %}</h3>

        <p class="text">{% trans %}Access to all services offered by the Government{% endtrans %}</p>
        {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/logo_strip_2x.png' %}
        <img src="{{ asset_url }}" alt="{%trans%}Available services{%endtrans%}" class="center-block">
        {% endimage %}

        <p class="text">{% trans %}With only the password and CPF. Making accessing the services much simpler.{% endtrans %}</p>
        {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/logo_ng.png' %}
        <img src="{{ asset_url }}" alt="{%trans%}Logo Nota Fiscal Gaúcha{%endtrans%}" class="center-block">
        {% endimage %}
    </div>
</div>

{% endblock %}

{% block credits %}
<div class="bg-credits">{% trans with { '%name%': background_picture_author, '%link%': background_picture_link } %}<a href="%link%">Background picture</a> by %name%{% endtrans %}</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/register/register.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var emailAvailableUrl = '{{ path('lc_email_available') }}';
    </script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    {% stylesheets 'bundles/procergslogincidadaocore/css/home/*.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
