{% extends 'PROCERGSLoginCidadaoCoreBundle::base.popup.html.twig' %}
{% block body %}


    <div class="popup-content">

        {{ form_start(form) }} {{ form_errors(form) }}
        <div class="form-content">
            <h3 class="title">{{ 'cpf.registration.title'|trans }}</h3>

            {% if isExpired %}
            <h1>{% trans %}We're almost done!{% endtrans %}</h1>
            <p>{% trans %}Your account is created, but you must have a CPF.{% endtrans %}</p>
            <p>{% trans %}Your CPF will give some realibility to your account.{% endtrans %}</p>
            {% endif %}

            <div class="form-group">
              {% if messages %}
                <div class="input-error alert-danger">
                    {{ messages|trans }}
                </div>
              {% endif %}
            </div>
            {% if form.cpf is defined %}
            <div class="form-group">
		        {{ form_label(form.cpf, 'form.cpf'| trans({}, 'FOSUserBundle')) }}
		        {{ form_errors(form.cpf) }}
		        {{ form_widget(form.cpf) }}
		    </div>
		    {% endif %}
        </div>
	    <div class="form-bar text-right">
	        <input class='btn btn-success btn-sm' type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
	    </div>
	    {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function() {
	{% if form.cpf is defined %}
    $('#{{ form.cpf.vars.id }}').mask('000.000.000-00');
    {% endif %}
});
</script>
{% endblock %}