{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
    <div id="profile-change-username" class="content change-username clearfix">
        <h1>{%trans%}Change username{%endtrans%}</h1>

        {{ form_start(form, {'action': path('lc_update_username'), 'attr': {'role':'form', 'class':'lc_change_username'}}) }}
            {{ form_errors(form) }}
            <div class="form-content">
    <div class="panel panel-default">
      <div class="panel-body">
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="form-group">
                            {{ form_label(form.username, 'Username:' | trans, {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            <div class="input-error">{{ form_errors(form.username) }}</div>
                        </div>
                    </div>

                    {% if emptyPassword == true %}
                        <div class="col-md-12">
                            <h2>{% trans %}You'll need a password{% endtrans %}</h2>
                            <p>{% trans %}To make sure that you can access the Citizen's Login even if you lose access to your Facebook or Twitter account, please define a password.{% endtrans %}</p>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                {{ form_label(form.plainPassword.first, 'Type in your password here:' | trans, {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <div class="input-error">{{ form_errors(form.plainPassword.first) }}</div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                {{ form_label(form.plainPassword.second, 'And then confirm it here:' | trans, {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <div class="input-error">{{ form_errors(form.plainPassword.second) }}</div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-12">
                            <p>{% trans %}To confirm your change, type your current password below:{% endtrans %}</p>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                {{ form_label(form.current_password, 'Current password:' | trans, {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <div class="input-error">{{ form_errors(form.current_password) }}</div>
                            </div>
                        </div>
                    {% endif %}

                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="col-md-8">
                                <div class="text-center bg-success flash-{{ type }}">
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}

                </div>
            </div>
      <div class="panel-footer text-right">
                {{ form_widget(form.save, { 'label': 'Save' | trans, 'attr': { 'class': 'btn btn-success btn-sm' } }) }}
            </div>
    </div>

  </div>
        {{ form_end(form) }}
    </div>
{% endblock %}