{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block body %}
<h1>{% trans %}We're almost done!{% endtrans %}</h1>
<p>{% trans %}Your account is created, but we recommend you choose a better username.{% endtrans %}</p>
<p>{% trans %}Your username will be used to quickly refer to yourself on Citizen's Login, just like Twitter's @ replies.{% endtrans %}</p>

{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.username, 'Username:' | trans) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
    </div>

    {% if emailMissing == true %}
    <p>{% trans %}We'll also need you to type your email address, since Twitter didn't tell it to us.{% endtrans %}</p>
    <div class="form-group">
        {{ form_label(form.email, 'Email:' | trans) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    {% endif %}

    {% if emptyPassword == true %}
        <h2>{% trans %}You'll need a password{% endtrans %}</h2>
        <p>{% trans %}To make sure that you can access the Citizen's Login even if you lose access to your Facebook or Twitter account, please define a password.{% endtrans %}</p>

        <div class="form-group">
            {{ form_label(form.plainPassword.first, 'Type in your password here:' | trans) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword.second, 'And then confirm it here:' | trans) }}
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
    {% else %}
        <p>{% trans %}To confirm your change, type your current password below:{% endtrans %}</p>
        <div class="form-group">
            {{ form_label(form.current_password, 'Current password:' | trans) }}
            {{ form_errors(form.current_password) }}
            {{ form_widget(form.current_password) }}
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_widget(form.save, { 'label': 'Save' | trans, 'attr': { 'class': 'btn btn-success' } }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
