{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block body %}
<h1>{% trans %}We're almost done!{% endtrans %}</h1>
<p>{% trans %}Your account is created, but we recommend you choose a better username.{% endtrans %}</p>
<p>{% trans %}Your username will be used to quickly refer to yourself on Citizen's Login, just like Twitter's @ replies.{% endtrans %}</p>

{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.username, 'Username:' | trans) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.saveUsername, { 'label': 'Save' | trans, 'attr': { 'class': 'btn btn-success' } }) }}
    </div>

<h2>{% trans %}Since you're here...{% endtrans %}</h2>
<p>{% trans %}Wouldn't you like to define a password so that you can login using your username and password as well?{% endtrans %}</p>

    <div class="form-group">
        {{ form_label(form.password.first, 'If so, type in your password here:' | trans) }}
        {{ form_errors(form.password.first) }}
        {{ form_widget(form.password.first) }}
    </div>

    <div class="form-group">
        {{ form_label(form.password.second, 'And then confirm it here:' | trans) }}
        {{ form_errors(form.password.second) }}
        {{ form_widget(form.password.second) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.saveUsernamePassword, { 'label': 'Save username and password' | trans, 'attr': { 'class': 'btn btn-success' } }) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
