{% set claimInfo %}
    <span style="display: block">{{ claim.displayName }}</span>
    <span>{{ 'remote_claims.details.issued_by' | trans({'%claim_provider%': claim.provider.name | e}) | raw }}</span>
{% endset %}
<div class="list-group-item {{ isForm ? 'checkbox checkbox-primary' }}">
    <div class="list-group-item-heading remote-claim-display-name" {{ isForm ? 'style="padding-left: 20px;"' }}>
        {% if isForm %}
            {% set inputId = 'remote_scope_' ~ claim.id %}
            <input type="checkbox" name="scope[]" checked value="{{ claim.name }}" data-size="mini" id="{{ inputId }}">
            <label for="{{ inputId }}">
                {{ claimInfo }}
            </label>
        {% else %}
            {{ claimInfo }}
        {% endif %}
    </div>
    {% if not hideDetails | default(false) %}
        {{ include('LoginCidadaoRemoteClaimsBundle::remote_claim.details.html.twig') }}
    {% endif %}
</div>
