{% extends 'PROCERGSLoginCidadaoCoreBundle::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-xs-12 text-center header-shadows">
        <h1>{% trans %}Citizen's Login{% endtrans %}</h1>
        <h2 class="slogan hidden-xs">{% trans %}One account. The entire Government.{% endtrans %}</h2>
    </div>
</div>

<div class="row">
    <div id="register-box" class="lc-box col-xs-12 col-md-5 col-md-offset-1 pull-right">
        <h3 class="title text-center">{% trans %}Create your account{% endtrans %}</h3>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% trans_default_domain 'FOSUserBundle' %}

        {{ form_start(form, {'action': path('fos_user_registration_register'), 'attr': {'role':'form', 'class':'fos_user_registration_register clearfix'}}) }}
            <div class="form-content">
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.email, 'form.email' | trans, {'label_attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder' : 'form.email' }}) }}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <div class="input-error alert-danger">{{ form_errors(form.email) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(form.plainPassword, 'form.plainPassword' | trans, {'label_attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder' : 'form.plainPassword' }}) }}
                    <div class="input-error alert-danger">{{ form_errors(form.plainPassword) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(form.mobile, 'form.phone' | trans, {'label_attr': {'class': 'sr-only'}}) }}
                    {{ form_widget(form.mobile, {'attr': {'class': 'form-control', 'placeholder' : ('form.phone' | trans) }}) }}
                    <div class="input-error alert-danger">{{ form_errors(form.mobile) }}</div>
                </div>

                <p class='terms'>{% trans with { '%linkTerms%': path("lc_privacy")} %}By clicking on create account, you agree to our <a href="%linkTerms%">Privacy and Terms of Service</a>, including our Use of Cookies.{% endtrans %}</p>
                <button class="btn btn-success" type="submit">{{ 'registration.submit'|trans }}</button>
            </div>
        {{ form_end(form) }}
            <div class="connect-box">
                <div><hr><span>{% trans %}or{% endtrans %}</span></div>
                <p>{% trans %}Use accounts from other services{% endtrans %}</p>
                <div class="row">
                    <div class="col-sm-4 no-right-padding text-center"><a class="connect facebook" data-href="{{ path("lc_link_facebook") }}">Facebook</a></div>
                    <div class="col-sm-4 no-right-padding text-center"><a class="connect twitter" href="{{ path('lc_before_register_twitter') }}">Twitter</a></div>
                    <div class="col-sm-4 text-center"><a class="connect nfg nfgpopup" data-href="{{ path('nfg_create') }}">NFG</a></div>
                </div>
            </div>

    </div>
    {% trans_default_domain 'messages' %}
    <div id="register-aside" class="col-xs-12 col-md-6 hidden-xs pull-left">
        <h3 class="title">{% trans %}With only one account{% endtrans %}</h3>

        <p class="text">{% trans %}Access to all services offered by the Government{% endtrans %}</p>
        {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/logo_strip_2x.png' %}
        <img src="{{ asset_url }}" alt="{%trans%}Available services{%endtrans%}" class="center-block">
        {% endimage %}

        <p class="text">{% trans %}With only the password and CPF. Making accessing the services much simpler.{% endtrans %}</p>
        {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/logo_ng.png' %}
        <img src="{{ asset_url }}" alt="{%trans%}Logo Nota Fiscal Gaúcha{%endtrans%}" class="center-block">
        {% endimage %}
    </div>
</div>

{% endblock %}

{% block credits %}
<div class="bg-credits">{% trans with { '%name%': background_helper.backgroundImage.author, '%link%': background_helper.backgroundImage.url } %}<a href="%link%">Background picture</a> by %name%{% endtrans %}</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/register/register.js' filter='uglifyjs2' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var emailAvailableUrl = '{{ path('lc_email_available') }}';
    </script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    {% stylesheets 'bundles/procergslogincidadaocore/css/home/*.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block head %}
    <!-- Facebook Conversion Code for cadastro -->
    <script type="text/javascript">
        var fb_param = {};
        fb_param.pixel_id = '6015342483576';
        fb_param.value = '0.01';
        fb_param.currency = 'BRL';
        (function(){
            var fpw = document.createElement('script');
            fpw.async = true;
            fpw.src = '//connect.facebook.net/en_US/fp.js';
            var ref = document.getElementsByTagName('script')[0];
            ref.parentNode.insertBefore(fpw, ref);
        })();
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6015342483576&amp;value=0.01&amp;currency=BRL" /></noscript>
{% endblock %}