{% set myController = app.request.get('_template').get('controller')|trim %}
<div class="settings-nav col-sm-3">
    <ul class="nav nav-pills nav-stacked">
        <li class="services glyph {{ myController == 'Admin\\Client' ? 'active' }}">
            <a href="{{ path('lc_admin_app') }}"> 
                <span>{{ 'admin.apps.list'|trans() }}<i class="glyphicon glyphicon-th pull-right"></i></span>
            </a>
        </li>
        <li class="services glyph {{ myController == 'Admin\\Suggestion' ? 'active' }}">
            <a href="{{ path('lc_admin_sugg') }}"> 
                <span>{{ 'admin.sugg.list'|trans() }}<i class="glyphicon glyphicon-th pull-right"></i></span>
            </a>
        </li>
    </ul>
</div>