{% trans_default_domain 'messages' %}

{% block subject %}
    {% autoescape false %}
        {{ subject }}
    {% endautoescape %}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ body | striptags | raw }}

{{ 'View this notification on Citizen Login' | trans }}: {{ url('lc_notifications', { id: id }) }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
    {% set notificationUrl = url('lc_notifications', { id: id }) %}
    {% set bodyWithLink = body ~ '<p><a href="' ~ notificationUrl ~ '">' ~ 'View this notification on Citizen Login' | trans ~ '</a></p>' %}
{% autoescape false %}
{{ bodyWithLink | raw }}
{% endautoescape %}
{% endblock %}
