{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="profile-edit" class="content">

    <h1>{% trans %}Profile{% endtrans %}</h1>

    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'action': path('fos_user_profile_edit'), 'attr': {'role':'form' } }) }}
    {{ form_errors(form) }}

    <div class="form-content">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <div class="input-error">{{ form_errors(form.firstName) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.surname) }}
                    {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <div class="input-error">{{ form_errors(form.surname) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <div class="input-error">{{ form_errors(form.email) }}</div>
                </div>
                <div class="form-inline form-group birthdate">
                    {{ form_label(form.birthdate) }}
                    {{ form_widget(form.birthdate) }}
                    <div class="input-error">{{ form_errors(form.birthdate) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.cep) }}
                    {{ form_widget(form.cep, {'attr': {'class': 'form-control', 'maxlength' : '10'}}) }}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <div class="input-error">{{ form_errors(form.cep) }}</div>
                    <span class="extra">
                        {% trans %}Don't know your CEP?{% endtrans %}
                        <a class="search-cep" href="{{ path('lc_consultaCep') }}">{{ 'Search it!' | trans }}</a>
                    </span>
                </div>
                <div class="form-group">
                    <label for="user_address">{{ 'Your address'|trans }}</label>
                    <span id="user_address">
                    {% if app.user.adress is not null %}
                        {{ app.user.adress|title }},{{ app.user.city.name|title }},{{ app.user.uf.acronym }}
                    {% endif %}
                    </span>
                </div>
                <div class="form-group">
                    {{ form_label(form.cpf) }}
                    {% if form.cpf.vars.value is not null %}
	                    {% if app.user.nfgAccessToken is null %}
	                    {{ form_widget(form.cpf, {'attr': {'class': 'form-control', 'maxlength' : '14'}}) }}
	                    {% else %}
	                    {{ form_widget(form.cpf, {'attr': {'type': 'hidden', 'style' : 'display: none;'}}) }}
	                    <span>
	                       {{ form.cpf.vars.value|formatCpf }}
	                    </span>
	                    {% endif %}
                    {% endif %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <div class="input-error">{{ form_errors(form.cpf) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.voterRegistration) }}
                    {% if app.user.nfgAccessToken is not null %}
                        {% if form.voterRegistration.vars.value is null or form.voterRegistration.vars.value == '' %}
                            {{ form_widget(form.voterRegistration, {'attr': {'class': 'form-control', 'maxlength' : '12'}}) }}
		                    <span class="extra">
		                        {% trans %}voterreg.offer.search{% endtrans %}
		                        <a target='blank' href="{{ tre_search_link }}">{{ 'Search it!' | trans }}</a>
		                    </span>
		                    <span class="extra">{% trans %}voterreg.nfg.offer.complete{% endtrans %}</span>
                        {% else %}
                            {% if app.user.nfgProfile.voterRegistrationSit is null or app.user.nfgProfile.voterRegistrationSit == 0 %}
                                {{ form_widget(form.voterRegistration, {'attr': {'class': 'form-control', 'maxlength' : '12'}}) }}
                                <span class="extra">{% trans %}voterreg.nfg.offer.auth{% endtrans %}</span>
                            {% elseif app.user.nfgProfile.voterRegistrationSit == 1 %}
                                {{ form_widget(form.voterRegistration, {'attr': {'type': 'hidden', 'style' : 'display: none;'}}) }}
                                <span>{{ form.voterRegistration.vars.value }}</span>
                            {% else %}
                                {{ form_widget(form.voterRegistration, {'attr': {'class': 'form-control', 'maxlength' : '12'}}) }}
                                <span class="extra">{% trans %}voterreg.nfg.fixit{% endtrans %}</span>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {{ form_widget(form.voterRegistration, {'attr': {'class': 'form-control', 'maxlength' : '12'}}) }}
	                    <span class="extra">
	                        {% trans %}voterreg.offer.search{% endtrans %}
	                        <a target='blank' href="{{ tre_search_link }}">{{ 'Search it!' | trans }}</a>
	                    </span>
                    {% endif %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <div class="input-error">{{ form_errors(form.voterRegistration) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.mobile) }}
                    {{ form_widget(form.mobile, {'attr': {'class': 'form-control', 'maxlength' : '14'}}) }}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <div class="input-error">{{ form_errors(form.mobile) }}</div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="row">
                    <div class="col-xs-12">
                <img src="{% include 'PROCERGSLoginCidadaoCoreBundle:Person:currentUserPicture.html.twig' %}">

                <div class="file-upload text-center">
                    <button type="button" class="btn btn-success btn-upload">{% trans %}Upload another picture{% endtrans %}</button>
                    <div class="file-name"></div>
                    {{ form_widget(form.image) }}
                    <div class="input-error">{{ form_errors(form.image) }}</div>
                        </div>
                    </div>
                </div>


                <div class="row social-networks">
                    <div class="col-xs-12">
                {% if app.user.facebookId is null %}
                        <div class="connect facebook disabled">
                            <a class="col-xs-11 col-xs-offset-1 username" href="{{ path('lc_link_facebook') }}">{{ 'Connect with Facebook' | trans }}</a>
                        </div>
                {% else %}
                        <div class="connect facebook">
                            {% if app.user.facebookUsername is not null %}
                                <span class="col-xs-9 col-xs-offset-1 username">{{ app.user.facebookUsername }}</span>
                            {% else %}
                                <span class="col-xs-9 col-xs-offset-1 username">{{ 'facebook.nousername'|trans }}</span>
                            {% endif %}
                            {% if app.user.hasPassword %}
                            <a class="col-xs-2 unlink"  href="{{ path('lc_unlink_facebook') }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            {% endif %}
                        </div>
                {% endif %}

                {% if app.user.twitterId is null %}
                        <div class="connect twitter disabled">
                            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter'}) }}" class="col-xs-11 col-xs-offset-1 username">{{ 'Connect with Twitter' | trans }}</a>
                        </div>
                {% else %}
                        <div class="connect twitter">
                            {% if app.user.twitterUsername is not null %}
                                <span class="col-xs-9 col-xs-offset-1 username">{{ app.user.twitterUsername }}</span>
                            {% else %}
                                <span class="col-xs-9 col-xs-offset-1 username">{{ 'twitter.nousername'|trans }}</span>
                            {% endif %}
                            {% if app.user.hasPassword %}
                            <a class="col-xs-2 unlink" href="{{ path('lc_unlink_twitter') }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            {% endif %}
                        </div>
                {% endif %}
                {% if app.user.nfgAccessToken is null %}
                        <div class="connect nfg disabled">
                            <a data-href="{{ path('nfg_bind') }}" class="col-xs-11 col-xs-offset-1 username nfgpopup">{{ 'Connect to the NFG' | trans }}</a>
                        </div>
                {% else %}
                        <div class="connect nfg">
                            <span class="col-xs-9 col-xs-offset-1 username">{{ form.cpf.vars.value | formatCpf }}</span>
                            {% if app.user.hasPassword %}
                            <a class="col-xs-2 unlink"  href="{{ path('nfg_unbind') }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            {% endif %}
                        </div>
                {% endif %}
                        <div class="row unlink-confirmation">
                            <div class="alert alert-danger col-xs-12">
                                <p class="title">{% trans %}Do you really want to unlink <strong class="social-network-name"></strong>?{%  endtrans %}</p>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#" class="btn btn-danger btn-sm btn-block confirm">{% trans %}Yes{% endtrans %}</a>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <a role="button" class="btn btn-default btn-sm btn-block cancel">{% trans %}Cancel{%  endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                <div class="col-md-12">
                    <div class="text-center bg-success flash-{{ type }}">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>


    </div>

    <div class="form-bar text-right">
        <input class="btn btn-success" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
    {{ form_end(form) }}

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
var profileEdit = {};
profileEdit.cepId = '#{{ form.cep.vars.id }}';
profileEdit.cpfId = '#{{ form.cpf.vars.id }}';
profileEdit.voterRegistrationId = '#{{ form.voterRegistration.vars.id }}';

profileEdit.popLocation = function (dneData) {
    $(profileEdit.cepId).val(dneData.cep);
    $(profileEdit.cepId).mask('00000-000');
    var street = dneData.tipoLogradouro.capitalize(true, true);
    if (dneData.tipoLogradouro != dneData.tituloLogradouro) {
        street += ' ' + dneData.tituloLogradouro.capitalize(true, true);
    }
    street += ' ' + dneData.logradouro.capitalize(true, true);
    var city = dneData.localidade.capitalize(true, true);
    var state = dneData.uf;

    $('#user_address').html(street + ',' + city + ', ' + state);
};
$(document).ready(function() {
    $(profileEdit.cepId).mask('00000-000');
    $(profileEdit.cpfId).mask('000.000.000-00');
    $(profileEdit.voterRegistrationId).mask('000000000000');
    $("#{{ form.mobile.vars.id }}").mask("(00) 0000-00009").focusout(function () {
        var phone, element;
        element = $(this); element.unmask();
        phone = element.val().replace(/\D/g, '');
        if (phone.length > 10) {
            element.mask("(00) 90000-0000");
        } else {
            element.mask("(00) 0000-00009");
        }
    });

    $('.search-cep').click(function(event) {
    	event.preventDefault();
        validador.cep.popupConsult(this, event, 'profileEdit.popLocation');
        return false;
    });
    $(profileEdit.cepId).blur(function(event) {
    	validador.cep.findByCep(this, profileEdit.popLocation);
    });
    var messages = {'0' : "{{ 'form.voterreg.invalid' | trans }}"};
    var trevoterId = '#{{ form.voterRegistration.vars.id }}';
      $(trevoterId).on('blur', function () {
          if (!this.value.length) {return;}
          this.value = completaZerosEsquerda(this.value, 12);
          if (!validarTitulo(this.value)) {alert(messages[0]);}
          });

    $(".connect a.unlink").on('click', function() {
        var confirmDialog = $('.unlink-confirmation');
        var parent = $(this).parent();
        var href = $(this).attr('href');
        var serviceName = '';
        if (parent.is('.facebook')) {
            serviceName = 'facebook';
        } else if (parent.is('.twitter')) {
            serviceName = 'twitter';
        }
        confirmDialog.slideUp('fast', function() {
            $('a.confirm', $('.unlink-confirmation')).attr('href', href);
            $('.social-network-name', $('.unlink-confirmation')).html(serviceName);
            confirmDialog.insertAfter(parent).slideDown();
        });

        return false;
    });

    $('.unlink-confirmation .cancel').on('click', function() {
        $('.unlink-confirmation').slideUp();
    });
});
</script>
{% endblock %}
