{% extends "PROCERGSLoginCidadaoCoreBundle:Notification:base.html.twig" %}
{% block content %}
<div id="inbox-config" class="content app-admin clearfix">
  <div class="panel-group" id="accordion">
      <div class="panel panel-default">
            <div class="panel-heading">
            <h4 class="panel-title">{{ 'notification.config.category.title'|trans }}</h4>
            </div>
        </div>
      {% for idx, row in resultset %}
      <div class="panel panel-default">
          <div class="panel-heading">

                <div class="media">
                    <a data-toggle="collapse" data-parent="#accordion" href="{{ '#collapse-config-' ~ row.id  }}" class="pull-left collapsed">
                      {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/userav.png' %}
                        {% if row.client.getPictureWebPath != '' %}
                           {% set asset_url = '/' ~ row.client.getPictureWebPath  %}
                        {% endif %}
                        <img alt="{{ row.client.name }}" class="media-object notification-panel-main-img" src="{{ asset_url }}"/>
                      {% endimage %}
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ row.client.name }}</h4>
                        <div class="media">
                            <a data-toggle="collapse" data-parent="#accordion" href="{{ '#collapse-config-' ~ row.id  }}" class="pull-left collapsed">
                                <span class="media-object notification-panel-sub-icon {{ row.getDefaultIcon }}"/>
                            </a>
                            <div class="media-body">
                                <a data-toggle="collapse" data-parent="#accordion" href="{{ '#collapse-config-' ~ row.id  }}" class="collapsed">
                                    <div class="media-heading">{{ row.name }}<span class="badge pull-right"><span class="caret"></span></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

          </div>
          <div id="{{ 'collapse-config-' ~ row.id  }}" class="panel-collapse collapse">
              {% set form = forms[idx] %}
              {{ include("PROCERGSLoginCidadaoCoreBundle:Notification:configChange.html.twig") }}
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
