{% form_theme form 'PROCERGSLoginCidadaoCoreBundle::Form/fields.html.twig' %}
{{ form_start(form) }}
<div class="panel-body">	
    <div class="col-md-12">
        {{ form_errors(form) }}
        <div class="">
            {{ form_label(form.sendEmail, 'notification.config.user.offer.send.email') }}
            <div class="radio">
            {{ form_label(form.sendEmail.0) }}
            {{ form_widget(form.sendEmail.0,{'attr': {'class':''}} ) }}
            </div>
            <div class="radio">
            {{ form_label(form.sendEmail.1) }}
            {{ form_widget(form.sendEmail.1,{'attr': {'class':''}} ) }}
            </div>                    
            {{ form_errors(form.sendEmail) }}	                 
        </div>
        <div class="form-bar text-right">            
            <input class='btn btn-success' type="submit" value="{{ 'Send'|trans }}" />
        </div>
        {%- if form_message is defined%}
        <div class="form-bar alert-info text-center">{{ form_message|trans }}</div>
        {%endif%}
    </div>
</div>
{{ form_end(form) }} 