{% extends "PROCERGSLoginCidadaoCoreBundle::grid_layout.html.twig" %}

{% block grid_header %}
{% endblock grid_header %}

{% block grid_row_action %}
{% endblock grid_row_action %}

{% block grid_row_data %}
    <div class="media">
      <div class="pull-left">
        {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/userav.png' %}
        {% if row.client_picture != '' %}
           {% set asset_url = '/' ~ lc_client_picture_web_path(row.client_picture)  %}
        {% endif %}
        <img alt="{{ row.client_name }}" class="media-object" src="{{ asset_url }}" width="64" height="64" />
      {% endimage %}
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ row.title }}</h4>
        <div class="client-name">{{ row.client_name }}</div>
        <div class="date">{{ row.createdat|date('d/m/Y h:i:s') }}</div>
      </div>
    </div>
{% endblock grid_row_data %}

{% block grid_row %}
<div class="row notification common-grid-result {{ row.isread  ? 'notification-read' : 'notification-unread' }} {{ grid.rlast != true ? 'row-last' }}"
     data-row="{{ grid.routeParams|merge({'notification':row.id, 'client_id': row.client_id})|json_encode }}"
     title="{{ 'Click to read'|trans }}">
  {{ block('grid_row_action') }}
  {{ block('grid_row_data') }}
</div>
{% endblock grid_row %}
