<div id="{{ grid.getId }}" class="common-grid-results {{ grid.isInfinityGrid ? 'infinity-grid' }}">
	
	{% block grid_pagination %}
	<ul class="pagination" role="tablist" style="{{ grid.isInfinityGrid ? 'display: none;' }}">
		{% if grid.getPage > 0 %}
			<li><a href="{{ path(grid.getRoute, grid.getRouteParams|merge({page:grid.getPage-1})) }}">&laquo;</a></li>
		{% endif %}
		{% for i in 0..grid.getRpage  %}
			<li><a href="#page{{ (i+1)+grid.getRstart }}" role="tab" data-toggle="tab">{{ (i+1)+grid.getRstart }}</a></li>
		{% endfor %}
		{% if grid.getRlast %}		
			<li><a href="{{ path(grid.getRoute, grid.getRouteParams|merge({page:grid.getPage+1})) }}">&raquo;</a></li>
		{% endif %}
	</ul>
	{% endblock grid_pagination %}
	
	<div class="tab-content">
		<div class="tab-pane active" id="page{{ grid.getRstart+1 }}">
			{% block grid_header %}
			<div class="row header">
				{% block grid_header_rows %}
			    <div class="col-md-1">{{ 'actions'|trans }}</div>
			    <div class="col-md-3">{{ 'service'|trans }}</div>
			    <div class="col-md-6">{{ 'shorttext'|trans }}</div>
			    <div class="col-md-2">{{ 'createdat'|trans }}</div>
			    {% endblock grid_header_rows %}
			</div>
			{% endblock grid_header %}
	    {% for row in grid.getResultset %}
		    <div class="row common-grid-result {{ row.isread  ? 'notification-read' : 'notification-unread' }} {{ grid.getRlast != true ? 'row-last' }}">
		    	{% block grid_rows %}
		        <div class="col-md-1">
		            <a class="center-block text-center glyphicon glyphicon-search edit-grid" title="{{ 'Show'|trans }}" href="javascript:void(0)" data-href="{{ path('lc_not_inbox_show2',{'notification':row.id}) }}"></a>
		        </div>
		        <div class="col-md-3">
		            <dt>{{ 'service'|trans }}</dt>
		            <dd>{{ row.client_name }}</dd>
		        </div>
		        <div class="col-md-6">
		            <dt>{{ 'shorttext'|trans }}</dt>
		            <dd>{{ row.shorttext }}</dd>
		        </div>
		        <div class="col-md-2">
		            <dt>{{ 'createdat'|trans }}</dt>
		            <dd>{{ row.createdat|date('d/m/Y h:i:s') }}</dd>
		        </div>
		        {% endblock grid_rows %}
		    </div>
			{% if loop.index%grid.getPerpage==0 %}
				</div>			
				<div class="tab-pane" id="page{{ (loop.index/grid.getPerpage)+grid.getRstart+1 }}">
					{{ block('grid_header') }}
			{% endif%}
	    {% endfor %}
	    </div>
	</div>
	{% if grid.getRlast and grid.isInfinityGrid %}
		<button type="button" class="btn btn-lg btn-primary infinityscroll-next-button ">
		<span class="glyphicon glyphicon-star"></span> {{ 'more'|trans }}
		</button>
	{% endif %}
</div>