<div class="common-grid-results">
	<ul class="pagination" role="tablist">
		{% if start > 0 %}
			<li><a href="{{ path( (_route is defined ? _route : app.request.attributes.get('_route')), (_route_params is defined ? _route_params|merge({start:start-1}) : app.request.attributes.get('_route_params')|merge({start:start-1}) )) }}">&laquo;</a></li>
		{% endif %}
		{% set rstart = ((start*maxresultset)/perpage) %}
		{% set rlength = (resultset|length) %}
		{% for i in 0..((rlength/perpage)-((rlength - maxresultset) > 0 ? 1 :0)) %}
			<li><a href="#page{{ (i+1)+rstart }}" role="tab" data-toggle="tab">{{ (i+1)+rstart }}</a></li>
		{% endfor %}
		{% if (rlength - maxresultset) > 0 %}		
			<li><a href="{{ path( (_route is defined ? _route : app.request.attributes.get('_route')), (_route_params is defined ? _route_params|merge({start:start+1}) : app.request.attributes.get('_route_params')|merge({start:start+1}) )) }}">&raquo;</a></li>
		{% endif %}
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="page{{ rstart+1 }}">
			<div class="row header">
			    <div class="col-md-1">{{ 'actions'|trans }}</div>
			    <div class="col-md-3">{{ 'service'|trans }}</div>
			    <div class="col-md-6">{{ 'shorttext'|trans }}</div>
			    <div class="col-md-2">{{ 'createdat'|trans }}</div>        
			</div>
	    {% for row in resultset %}
			    <div class="row common-grid-result {{ row.isread  ? 'notification-read' : 'notification-unread' }}">
			        <input type="hidden" class="row-data" value="{{ row|json_encode }}" />
			        <div class="col-md-1">
			            <a class="center-block text-center glyphicon glyphicon-search edit-grid" title="{{ 'Show'|trans }}" href="{{ path('lc_not_inbox',{'notification':row.id}) }}"></a>
			        </div>
			        <div class="col-md-3">
			            <dt>{{ 'service'|trans }}</dt>
			            <dd>{{ row.configNotCli.client.name }}</dd>
			        </div>
			        <div class="col-md-6">
			            <dt>{{ 'shorttext'|trans }}</dt>
			            <dd>{{ row.shorttext }}</dd>
			        </div>
			        <div class="col-md-2">
			            <dt>{{ 'createdat'|trans }}</dt>
			            <dd>{{ row.createdat|date('d/m/Y h:i:s') }}</dd>
			        </div>
			    </div>
			{% if loop.index%perpage==0 %}
				</div>			
				<div class="tab-pane" id="page{{ (loop.index/perpage)+rstart+1 }}">
					<div class="row header">
					    <div class="col-md-1">{{ 'actions'|trans }}</div>
					    <div class="col-md-3">{{ 'service'|trans }}</div>
					    <div class="col-md-6">{{ 'shorttext'|trans }}</div>
					    <div class="col-md-2">{{ 'createdat'|trans }}</div>        
					</div>
			{% endif%}
	    {% endfor %}
	    </div>
	</div>
</div>