
{% extends "PROCERGSLoginCidadaoCoreBundle::grid_layout.html.twig" %}

{% block grid_header %}
{% endblock grid_header %}

{% block grid_row %}
<div class="row notification common-grid-result {{ row.isread  ? 'notification-read' : 'notification-unread' }} {{ grid.getRlast != true ? 'row-last' }}" data-row="{{ grid.getRouteParams|merge({'notification':row.id, 'client_id': row.sender.id})|json_encode }}">
  <div class="media">
    <div class="pull-left">
      {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/userav.png' %}
        {% if row.sender.pictureWebPath != '' %}
           {% set asset_url = '/' ~ row.sender.pictureWebPath  %}
        {% endif %}
        <img alt="{{ row.sender.name }}" class="media-object" src="{{ asset_url }}" width="50" height="50" />
      {% endimage %}
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ row.title }}</h4>
      <div class="client-name">{{ row.sender.name }}</div>
      <div class="date">{{ row.createdat|date('d/m/Y h:i:s') }}</div>
    </div>
  </div>
</div>
{% endblock grid_row %}
{% block grid_infinite_pagination %}
{% endblock grid_infinite_pagination %}
