<div class="panel-group" id="accordion">
    {% for row in resultset %} 
    <div class="panel panel-default">
        <input type="hidden" class="row-data" value="{{ row|json_encode }}" />
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="{{ '#collapse' ~ row.id  }}"><span class="caret"></span> {{ row.name }}</a>
            </h4>
        </div>
        <div id="{{ 'collapse' ~ row.id  }}" class="panel-collapse collapse">
            <div class="panel-body">
                {{ render(controller("PROCERGSLoginCidadaoCoreBundle:Notification:gridSimple", {
				    'page' : app.request.query.get('page'),
				    'client': app.request.query.get('client'),
				    'mode' : app.request.query.get('mode'), 
		            'confignotcli' : row.id
                })) }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>