
{% extends "PROCERGSLoginCidadaoCoreBundle::grid_layout.html.twig" %}

{% block grid_header %}
{% endblock grid_header %}

{% block grid_row %}
<div class="row notification common-grid-result {{ row.isread  ? 'notification-read' : 'notification-unread' }} {{ grid.getRlast != true ? 'row-last' }}" data-row="{{ grid.getRouteParams|merge({'notification':row.id, 'client_id': row.client_id})|json_encode }}">
  <div class="media">
    <div class="pull-left">
      <img alt="{{ row.client_name }}" class="media-object" src="" width="50" height="50" />
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ row.title }}</h4>
      <div class="client-name">{{ row.client_name }}</div>
      <div class="date">{{ row.createdat|date('d/m/Y h:i:s') }}</div>
    </div>
  </div>
</div>
{% endblock grid_row %}
{% block grid_infinity_pagination %}
{% endblock grid_infinity_pagination %}