{% extends "PROCERGSLoginCidadaoCoreBundle:Notification:base.html.twig" %}
{% block content %}
<div id="inbox-detail" class="content app-admin clearfix">
  {% if (app.request.query.get('mode') is not defined) or (app.request.query.get('mode') == 0) %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{ 'Notifications'|trans ~ ' - ' ~ extra_title }}</h4>
            </div>
        </div>
      {{ include("PROCERGSLoginCidadaoCoreBundle:Notification:gridFull.html.twig") }}
    {% else %}
      {{ include("PROCERGSLoginCidadaoCoreBundle:Notification:gridPri.html.twig") }}
  {% endif %}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script >
    $(document).ready(function() {
      var navbarCount = $("#lc-navbar-ul .notification-total-unread-badge");

    $(document).on('click', '#inbox-detail .notification',  function() {
      var self = $(this);
      self.append('<div class="ajax-loader pull-right"></div>');
      var url = '{{ path('lc_not_inbox_show2') }}';
      url += '?'+$.param($.parseJSON(self.attr('data-row')));
      Pwindow({
        id : 'notification-modal',
        url : url,
        dataType :'json',
        selector: $('#notification-modal .modal-body'),
        success : function(data, textStatus, jqXHR) {
          self.find('.ajax-loader').remove();
          if (!data) {
            return;
          }
          if (data.wasread) {
            self.removeClass('notification-unread').addClass('notification-read');
            var count  = parseInt(navbarCount.text()) - 1;
            $('.notification-total-unread-badge').text(count);
            if (self.data('row').client_id) {
                var sideSelector = $('#inbox-count-unread-'+self.data('row').client_id);
                if (sideSelector.length) {
                    sideSelector.contents().first().replaceWith(document.createTextNode(parseInt(sideSelector.text()) - 1));
                }
            }
          }
          if (!data.htmltpl) {
            data.htmltpl = '';
          }
          this.selector.html(data.htmltpl);
        }
      });
    });
    });
</script>
{% endblock %}
