{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="notifications" class="content clearfix">
    <h3>Mensagem</h3>
    {% if notifications is not empty %}
    <ul>
        {% for notification in notifications %}
        <li class="clearfix level-{{ notification.level }}">
            {# <img src="http://placehold.it/95x95" title="{{ notification.client.name }}"> #}
            <div class="box clearfix">
                <h4>{{ notification.title | trans }}</h4>
                <p class="short">{{ notification.shortText | trans }}</p>
                <div class="desc">{{ notification.text | trans | striptags('<a>') | raw | nl2br  }}</div>
                <i class="glyphicon glyphicon-plus"></i>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p class="empty">{% trans %}You don't have any notifications yet.{% endtrans %}</p>
    {% endif %}
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(function() {
        $('#notifications li').on('click', function() {
            $(this).find('.short').toggle();
            $(this).find('.desc').toggle();
            var icon = $(this).find('.glyphicon');
            icon.toggleClass('glyphicon-plus');
            icon.toggleClass('glyphicon-minus');
        });
    })
</script>
{% endblock %}