<div class="settings-nav col-sm-3 col-lg-2" id="notification-sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li class="profile glyph">
          <a href="{{ path('lc_home') }}" role="button">
            <i class="glyphicon glyphicon-arrow-left icon"></i>
            <span>{{ 'notification.menu.inbox'|trans }}</span>
          </a>
        </li>
        <li class="nav-divider"></li>
        <li class="profile glyph">
          <a href="{{ path('lc_not_inbox') }}" role="button" class="clearfix">
            <span style="padding-left:0px;">{{ 'notification.menu.inbox.all'|trans }}</span>
            <div class="icon-count" style="margin-top: -18px;">
                <span class="badge notification-count notification-total-unread-badge">{{ notifications_helper.getTotalUnread }}</span>
            </div>
          </a>
        </li>
     {% for cli in clients %}
        <li class="nav-divider"></li>
        <li class="clearfix">
          <a href="#" class="collapse-toggle clearfix" data-toggle="collapse" data-target="#collapse{{ cli['id'] }}">
            {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/userav.png' %}
                {% if cli['picture_path'] is not null %}
                    {% set asset_url = '/' ~ lc_client_picture_web_path(cli['picture_path'])  %}
                {% endif %}
                <img alt="{{ cli['name'] }}" class="media-object notification-sidebar-main-img" src="{{ asset_url }}"/>
            {% endimage %}
            <span>{{ cli['name'] }}</span>
            <div class="icon-count">
              <span id="inbox-count-unread-{{ cli['id'] }}" class="badge notification-count">
                {{ cli['total'] }}
                <span class="caret"></span>
              </span>
            </div>
          </a>
          <ul aria-labelledby="drop{{ cli['id'] }}" role="menu" class="collapse submenu" id="collapse{{ cli['id'] }}">
            <li >
              <a href="{{ path('lc_not_inbox',{'client' : cli['id']}) }}" tabindex="-1" role="menuitem">{{ 'notification.sub.inbox'|trans }}</a>
            </li>
            <li class="nav-divider"></li>
              <li >
                <a href="{{ path('lc_not_inbox',{'client' : cli['id'], 'mode' : 1}) }}" tabindex="-1" role="menuitem">{{ 'notification.sub.priority'|trans }}</a>
              </li>
              <li class="nav-divider"></li>
              <li >
                <a href="{{ path('lc_not_config',{'client' : cli['id']}) }}" tabindex="-1" role="menuitem">{{ 'notification.sub.configure'|trans }}</a>
              </li>
          </ul>
        </li>
    {% endfor %}
    </ul>
</div>