<div class="settings-nav col-sm-3">
    <ul class="nav nav-pills nav-stacked">
        <li class="profile glyph dropdown">
          <a href="{{ path('lc_not_inbox') }}" role="button">{{ 'notification.menu.inbox'|trans }}</a>
        </li>
     {% for cli in clients %}
        <li class="profile glyph dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" id="drop{{ cli['id'] }}">
            <span>{{ cli['name'] }}</span>
            <div class="pull-right">
              <span id="inbox-count-unread-{{ cli['id'] }}" class="badge notification-count">{{ cli['total'] }}</span>
              <span class="caret"></span>
            </div>
          </a>
          <ul aria-labelledby="drop{{ cli['id'] }}" role="menu" class="dropdown-menu" id="drop-menu{{ cli['id'] }}">
            <li >
              <a href="{{ path('lc_not_inbox',{'client' : cli['id']}) }}" tabindex="-1" role="menuitem">{{ 'notification.sub.inbox'|trans }}</a>
            </li>
              <li >
                <a href="{{ path('lc_not_inbox',{'client' : cli['id'], 'mode' : 1}) }}" tabindex="-1" role="menuitem">{{ 'notification.sub.priority'|trans }}</a>
              </li>
              <li >
                <a href="{{ path('lc_not_config',{'client' : cli['id']}) }}" tabindex="-1" role="menuitem">{{ 'notification.sub.configure'|trans }}</a>
              </li>
          </ul>
        </li>
    {% endfor %}
    </ul>
</div>