{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
    <div class="content addresses">
        <h1>{{ 'Addresses' | trans }}</h1>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
            {% block addresses %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts  '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/components/typeahead.bundle.js'
                    '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/components/handlebars-v2.0.0.js'
                    '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/person.address.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@PROCERGSLoginCidadaoCoreBundle/Resources/public/css/components/typeaheadjs.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}