{% if form is not defined and edit_form is defined %}
    {% set form = edit_form %}
{% endif %}
{{ form_start(form) }}
{% form_theme form 'PROCERGSLoginCidadaoCoreBundle::Form/fields.html.twig' %}
<a name="form" class="anchor"></a>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title" style="padding-top: 7.5px;">
            {{ form_label(form.name, null, {'label_attr': {'class': 'sr-only2' | trans} }) }}
            {{ form_widget(form.name, {'attr': {'placeholder': 'ex: Home Address' | trans} }) }}
            {{ form_errors(form.name) }}
        </h4>
    </div>

    <div class="panel-body">
        <div class="form-group">
            {{ form_label(form.country) }}
            {{ form_widget(form.country, {'attr': {'placeholder': 'ex: Brazil' | trans} }) }}
            {{ form_errors(form.country) }}
        </div>
        <div class="form-group">
            {{ form_label(form.postalCode) }}
            {{ form_widget(form.postalCode, {'attr': {'placeholder': 'ex: DE24 8SG' | trans} }) }}
            {{ form_errors(form.postalCode) }}
        </div>
        <div class="form-group">
            {{ form_label(form.state) }}
            {{ form_widget(form.state, {'attr': {'placeholder': 'ex: Rio Grande do Sul' | trans} }) }}
            {{ form_widget(form.statesteppe, {'attr': {'style': 'display: none;'}}) }}
            {{ form_errors(form.state) }}
        </div>
        <div class="form-group">
            {{ form_label(form.city) }}
            {{ form_widget(form.city, {'attr': {'placeholder': 'ex: Porto Alegre' | trans} }) }}
            {{ form_widget(form.citysteppe, {'attr': {'style': 'display: none;'}}) }}
            {{ form_errors(form.city) }}
        </div>
        <div class="form-group">
            {{ form_label(form.address) }}
            {{ form_widget(form.address, {'attr': {'placeholder': 'ex: 221B Baker Street' | trans} }) }}
            {{ form_errors(form.address) }}
        </div>
        <div class="form-group">
            {{ form_label(form.addressNumber) }}
            {{ form_widget(form.addressNumber) }}
            {{ form_errors(form.addressNumber) }}
        </div>
        <div class="form-group">
            {{ form_label(form.complement) }}
            {{ form_widget(form.complement, {'attr': {'placeholder': 'ex: apartment 2' | trans} }) }}
            {{ form_errors(form.complement) }}
        </div>
    </div>
    <div class="panel-footer">
        <div class="form-group text-right">
            {{ form_row(form.save) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
