{{ form_start(form) }}
<a name="form"></a>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title" style="padding-top: 7.5px;">
            {{ form_label(form.name, null, {'label_attr': {'class': 'sr-only2' | trans} }) }}
            {{ form_widget(form.name, {'attr': {'placeholder': 'ex: Home Address' | trans} }) }}
        </h4>
    </div>

    <div class="panel-body">
        <div class="form-group">
            {{ form_label(form.line1) }}
            {{ form_widget(form.line1, {'attr': {'placeholder': 'ex: 221B Baker Street' | trans} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.line2, null, {'label_attr': {'class': 'sr-only' | trans} }) }}
            {{ form_widget(form.line2, {'attr': {'placeholder': 'ex: apartment 2' | trans} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.postalCode) }}
            {{ form_widget(form.postalCode, {'attr': {'placeholder': 'ex: DE24 8SG' | trans} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.city) }}
            {{ form_widget(form.city, {'attr': {'placeholder': 'ex: London' | trans} }) }}
            <small>{% trans %}If you are in another country leave the city blank and fill in this information in the second line of your address.{% endtrans %}</small>
        </div>
    </div>
    <div class="panel-footer">
        <div class="form-group text-right">
            {{ form_row(form.save) }}
        </div>
    </div>
</div>
{{ form_end(form) }}