{% extends "PROCERGSLoginCidadaoCoreBundle:PersonAddress:base.html.twig" %}

{% if form is not defined and edit_form is defined %}
    {% set form = edit_form %}
{% endif %}

{% block addresses %}
    {{ include("PROCERGSLoginCidadaoCoreBundle:PersonAddress:list.component.html.twig") }}
    {% if edit_form is not defined %}
        {{ include("PROCERGSLoginCidadaoCoreBundle:PersonAddress:form.component.html.twig") }}
    {% endif %}
    <script>
        var selectors = {
            'city': {
                'url': '{{ path('api_1_get_cities', {'city': 'QUERY', '_format': 'json'}) }}'.replace('QUERY', '%QUERY'),
                'template': '<p><strong>{\{name}}</strong>, {\{state.acronym}}</p>',
                'displayKey': function (city) {
                    return city.name + ', ' + city.state.acronym;
                },
            },
            'state': {
                'url': '{{ path('api_1_get_states', {'state': 'QUERY', '_format': 'json'}) }}'.replace('QUERY', '%QUERY'),
                'template': '<p><strong>{\{name}}</strong>, {\{country.iso2}}</p>',
                displayKey: function (state) {
                    return state.name + ', ' + state.country.iso2;
                }
            },
            'country': {
                'url': '{{ path('api_1_get_countries', {'country': 'QUERY', '_format': 'json'}) }}'.replace('QUERY', '%QUERY'),
                'template': '<p><strong>{\{name}}</strong></p>',
                displayKey: function (country) {
                    return country.name;
                }
            }
        };
        var addressEdit = {};
        addressEdit.addStateMessage = "{{ 'add.other.state'| trans }}";
        addressEdit.addCityMessage = "{{ 'add.other.city'| trans }}";
        addressEdit.loadMessage = "{{ 'field.loader'| trans }}";
	    addressEdit.countryId = '#{{ form.country.vars.id }}';
	    addressEdit.stateId = '#{{ form.state.vars.id }}';
	    addressEdit.cityId = '#{{ form.city.vars.id }}';
	    addressEdit.stateSteppeId = '#{{ form.statesteppe.vars.id }}';
	    addressEdit.citySteppeId = '#{{ form.citysteppe.vars.id }}';
	    addressEdit.urlSearchState = '{{ path('lc_search_city_by_state') }}';
	    addressEdit.urlSearchCountry = '{{ path('lc_search_state_by_country') }}';
	    addressEdit.preferredcountriesId = '#{{ form.preferredcountries.vars.id }}';        
        
    </script>
{% endblock %}
