{% extends 'PROCERGSLoginCidadaoCoreBundle:Dev:base.html.twig' %} {% block content %}
<div id="app-detail" class="content app-admin clearfix">
    <h5>{{ 'Services'|trans }}</h5>
    <a id="add_service" class="btn-sm btn-primary glyphicon glyphicon-plus" href="{{ path('lc_dev_client_new') }}"></a>
    <label for="add_service">{{ 'add'|trans }} {{ 'Service'|trans }}</label>           
    {% include "PROCERGSLoginCidadaoCoreBundle:Dev/Client:grid.html.twig" %}
</div>

{% endblock %} 

{% block javascripts %} 
{{ parent() }}
<script type="text/javascript">
</script>
{% endblock %}
