{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% set wait_email = scope | length == 1 and scope | first == 'email' %}

{% block title %}{{ 'Complete Missing Fields' | trans }}{% endblock %}

{% block content %}
    <div id="profile-edit" class="content profile-edit">
        {% if wait_email %}
            <div class="email-validate-waiting">
                <p>{% trans with { '%client%': client.name } %}<strong>%client%</strong> requires that you have a validated email in order to proceed.{% endtrans %}</p>

                <p>{% trans %}Validating your email address is pretty simple and fast. You just have to click the link or button in the email we sent you.{% endtrans %}</p>

                <p>{% trans with { '%client%': client.name } %}After you validate your email address this screen will change automatically and you'll proceed to <strong>%client%</strong>.{% endtrans %}</p>

                <div class="text-center">
                    <button class="btn-link show-help-email">{% trans %}I'm having trouble finding the confirmation email{% endtrans %}</button>
                </div>

                <div class="help-email" style="display: none;">
                    <p>{% trans %}If you are having trouble to find the confirmation email, please make sure it isn't in the junk mail section of your email program or site.{% endtrans %}</p>

                    <p>{% trans %}If you are certain the email was not received, it's possible that you mistyped your email address. You can change you email address below.{% endtrans %}</p>

                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {% if form.person is defined or form.placeOfBirth is defined %}
                        {{ form_row(form.person.email, { 'attr': { 'data-original': form.person.vars.value.email } }) }}
                        <div class="row data-changed" style="display: none">
                            <div class="col-sm-10" style="margin-top: 5px;">
                                {{ 'If your email is mistyped, correct it and click the following button.' | trans }}
                            </div>
                            <div class="col-sm-2 text-right">
                                <input type="submit" value="{{ 'Change Email'|trans }}" class="btn btn-success">
                            </div>
                        </div>
                    {% endif %}
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="email-validate-success text-center" style="display: none">
                <p>{{ 'Your email was successfully validated.' | trans }}</p>
                <a class="btn btn-success" href="{{ form.vars.value.redirectUrl }}">{{ 'Back to %client%' | trans({ '%client%': client.name }) }}</a>
            </div>
        {% else %}
            <h1 class="visible-xs">{{ 'Complete Missing Fields' | trans }}</h1>

            <p>{% trans with { '%client%': client.name } %}<strong>%client%</strong> needs some additional details about you. Please complete the missing information below to continue.{% endtrans %}</p>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {% if form.person is defined or form.placeOfBirth is defined %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'Personal Details' | trans }}</h2>
                    </div>
                    <div class="panel-body">
                        {% if form.person is defined %}
                            {{ form_row(form.person) }}
                        {% endif %}

                        {% if form.placeOfBirth is defined %}
                            {{ form_row(form.placeOfBirth) }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if form.idcard is defined %}
                <div class="id-card-forms-placeholder">
                    {{ include("PROCERGSLoginCidadaoCoreBundle:IdCard:form.component.html.twig", {'form': form.idcard, 'hide_footer': true }) }}
                </div>
            {% endif %}

            {% if form.address is defined %}
                {{ include("PROCERGSLoginCidadaoCoreBundle:PersonAddress:form.component.html.twig", {'form': form.address, 'embeded': true, 'hide_footer': true, 'name_as_normal_field': true }) }}
            {% endif %}

            <div class="row">
                <div class="col-sm-10" style="margin-top: 5px;">
                    {{ 'After completing your information, click the following button to continue:' | trans }}
                </div>
                <div class="col-sm-2 text-right">
                    <input type="submit" value="{{ 'Send'|trans }}" class="btn btn-success">
                </div>
            </div>
            {{ form_end(form) }}

        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts  '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/dynamic-form/idCard.js'
                    '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/dynamic-form/locationSelect.js'
                    '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/components/jquery-scrollto.js'
                    '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/jquery.mask.min.js' filter='uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function () {
            $('.birthdate').mask('00/00/0000', {'translation': {0: {pattern: /[0-9*]/}}});
            $('.cpf').mask('000.000.000-00', {'translation': {0: {pattern: /[0-9*]/}}});

            locationSelection.formUrl = '{{ path('dynamic_form_location') }}';

        {% if wait_email %}
                dynamicForm.validEmail.wait();

                $('button.show-help-email').on('click', function () {
                    $(this).fadeOut('fast', function () {
                        $('.help-email').fadeIn();
                    });
                });

                $('input[data-original]').on('change keyup', function () {
                    if ($(this).val() != $(this).data('original')) {
                        $('.data-changed').fadeIn();
                    } else {
                        $('.data-changed').fadeOut();
                    }
                });
        {% endif %}
            });

            var dynamicForm = {
                'idCard': {
                    'loadedFormStateId': '{{ form.vars.data.state ? form.vars.data.state.id : 0 }}',
                    'formUrl': '{{ path('client_dynamic_form', { 'scope': 'id_cards', 'clientId': client.id }) }}',
                    'unlockState': function () {
                        $('#form_idcard_state').removeAttr('disabled').removeAttr('readonly');
                    }
                },
                'validEmail': {
                    'longPollingUrl': '{{ path('wait_valid_email') }}',
                    'wait': function () {
                        $.get(dynamicForm.validEmail.longPollingUrl, function (data) {
                            console.log(data);
                            if (data === true) {
                                $('.email-validate-waiting').slideUp();
                                $('.email-validate-success').slideDown().promise().done(function () {
                                    alert("Email verificado com sucesso!");
                                    window.location = dynamicForm.redirectUrl;
                                });
                            }
                        }).fail(function () {
                            dynamicForm.validEmail.wait();
                        });
                    }
                },
                'redirectUrl': '{{ form.vars.value.redirectUrl }}',
            };
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  '@PROCERGSLoginCidadaoCoreBundle/Resources/public/css/dynamic_form.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block content_columns %}container{% endblock %}
{% block sidebar %}{% endblock %}
{% block notificationExtreme %}
    {{ include("PROCERGSLoginCidadaoCoreBundle::notification_extreme.html.twig", { columns: block('content_columns') } ) }}
{% endblock %}
{% block footer %}
    {% set columns = block('content_columns') %}
    {{ include("PROCERGSLoginCidadaoCoreBundle::footer.html.twig") }}
{% endblock %}
