{% extends 'PROCERGSLoginCidadaoUIBundle::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <h1>{% trans with {'%user.name%': user.firstName} %}Welcome %user.name%{% endtrans %}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>{% trans %}Authorized Applications{% endtrans %}</h2>
        <ul class="list-group">
        {% for auth in user.getAuthorizations %}
            <li class="list-group-item">
                <a href="{{ path('ui_revoke', { 'clientId': auth.client.id }) }}" data-token="{{ csrf_token(path('ui_revoke', { 'clientId': auth.client.id })) }}" class="btn btn-float btn-danger revoke">{{ 'Revoke Access' | trans }}</a>
                <h4 class="list-group-item-heading">{{ auth.client.name }}</h4>
                <p class="list-group-item-text">
                    <strong>{{ 'Description:' | trans }}</strong>
                    {{ auth.client.description }}
                </p>
                <p class="list-group-item-text">
                    <strong>{{ 'Access scope:' | trans }}</strong>
                {% for scope in auth.scope %}
                    <span class="label label-default">{{ ('scope.' ~ scope) | trans }}</span>
                {% endfor %}
                </p>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function(){
        $(".list-group-item").on('click', 'a.btn-danger.revoke', function(event) {
            $(this).removeClass("btn-danger")
                    .addClass("btn-warning")
                    .html("{{ 'Click again to confirm' | trans }}");
            event.stopPropagation();
            event.preventDefault();
        });
        $(".list-group-item").on('click', 'a.btn-warning.revoke', function(event) {
            var button = $(this);
            button.addClass('disabled')
                    .prop('disabled', true)
                    .html("{{ 'Please, wait...' | trans }}");
            
            $.post(
                button.attr('href'),
                { token: button.data('token') },
                function (data) {
                    button.addClass("btn-success disabled")
                            .removeClass("btn-danger btn-warning")
                            .html("{{ 'Revoked' | trans }}")
                            .click(function(e) {
                                e.preventDefault();
                            });
                }
            ).fail(function () {
                button.addClass("btn-danger")
                        .removeClass("btn-warning disabled")
                        .prop("disabled", false)
                        .html("{{ 'Revoke Access' | trans }}");
            });
            
            event.stopPropagation();
            event.preventDefault();
        });
        $(".list-group-item").on('click', 'a:disabled', function(event) {
            event.stopPropagation();
            event.preventDefault();
        });
    });
</script>
{% endblock %}