{% extends "LoginCidadaoCoreBundle::grid_layout.html.twig" %}

{% block grid_header_action %}
<div class="col-md-2">{{ 'Actions'|trans }}</div>
{% endblock grid_header_action %}

{% block grid_header_data %}
<div class="col-md-3">{{ 'Name'|trans }}</div>
<div class="col-md-7">{{ 'Default'|trans }}</div>
{% endblock grid_header_data %}

{% block grid_body_empty %}
{% endblock grid_body_empty %}

{% block grid_row_action %}
<div class="col-md-2 action-column-grid">
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-warning edit-row-grid" id="{{ grid.getId }}-row-{{ row.id }}"  data-row="{{ grid.getRouteParams|merge({'id':row.id})|json_encode }}">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="label-action-column-grid">{{ 'Edit'|trans }} </span>
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-danger remove-row-grid" id="{{ grid.getId }}-row-{{ row.id }}" data-row="{{ grid.getRouteParams|merge({'id':row.id})|json_encode }}">
                <span class="glyphicon glyphicon-remove"></span>
                <span class="label-action-column-grid"> {{ 'Remove'|trans }} </span>
            </button>
        </div>
    </div>
</div>
{% endblock grid_row_action %}

{% block grid_row_data %}
<div class="col-md-3">
    <dt>{{ 'Name'|trans }}</dt>
    <dd>{{ row.name }}</dd>
</div>
<div class="col-md-7">
    <dt>{{ 'Default'|trans }}</dt>
    <dd>{{ row.default }}</dd>
</div>
{% endblock grid_row_data %}

{% block grid_infinite_pagination %}
<div class="btn-group btn-group-justified">
    {% if grid.getRlast and grid.isInfiniteGrid %}
    <div class="btn-group">
    	<button type="button" class="btn btn-default infinitescroll-next-button " data-retrive="#{{ grid.getId }}">
    		<span class="glyphicon glyphicon glyphicon-list"></span> {{ 'more'|trans }}
    	</button>
	</div>
	{% endif %}
	<div class="btn-group">
        <button type="button" class="btn btn-primary" id="new_placeholder">
    		<span class="glyphicon glyphicon glyphicon-plus"></span> {{ 'add'|trans }}
    	</button>
	</div>
</div>
{% endblock grid_infinite_pagination %}