{% extends 'LoginCidadaoCoreBundle::base.html.twig' %}

{% block content_columns %}col-sm-7 col-sm-offset-4{% endblock %}
{% block body %}

    <div class="row limit-960">
        {% block sidebar %}
            {{ include("LoginCidadaoCoreBundle::extensible.sidebar.html.twig") }}
        {% endblock sidebar %}

        <div class="{{ block('content_columns') }} limit-960">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-bar">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-bar">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-sm-12 settings-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block footer %}
    {% set columns = 'col-sm-7 col-sm-offset-4 logged' %}
    {{ include("LoginCidadaoCoreBundle::footer.html.twig") }}
{% endblock %}

{% block stylesheets_custom %}
    {% stylesheets '@lc_logged_css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
