<div class="custom-recaptcha">
  <div class="recaptcha-widget recaptcha_nothad_incorrect_sol recaptcha_isnot_showing_audio " id="recaptcha_widget">
    <div id="recaptcha_image" style="width: 300px; height: 57px;"><img width="300" height="57" alt="{{ 'recaptcha.instructions.img'|trans }}" id="recaptcha_challenge_image"></div>
    <div class="recaptcha-main">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <label>
            <strong>
              <span class="recaptcha_only_if_image" id="recaptcha_instructions_image">
                {{ 'recaptcha.instructions.image'|trans }}
              </span>
              <span class="recaptcha_only_if_audio" id="recaptcha_instructions_audio">
                {{ 'recaptcha.instructions.audio'|trans }}
              </span>
            </strong>
            <span id="recaptcha_challenge_field_holder" style="display: none;"></span><input type="text" name="recaptcha_response_field" id="recaptcha_response_field" autocomplete="off" class="">
          </label>
        </div>

        <div class="col-xs-12 col-sm-5">
          <div class="recaptcha-buttons">
            <a title="{{ 'recaptcha.instructions.new.challenge'|trans }}" href="javascript:Recaptcha.reload()" id="recaptcha_reload_btn">
              <span>
                {{ 'recaptcha.instructions.new.challenge'|trans }}
              </span>
            </a>
            <a title="{{ 'recaptcha.instructions.new.audio'|trans }}" href="javascript:Recaptcha.switch_type('audio');" class="recaptcha_only_if_image" id="recaptcha_switch_audio_btn">
              <span>
                {{ 'recaptcha.instructions.new.audio'|trans }}
              </span>
            </a>
            <a title="{{ 'recaptcha.instructions.new.image'|trans }}" href="javascript:Recaptcha.switch_type('image');" class="recaptcha_only_if_audio" id="recaptcha_switch_img_btn">
              <span>
                {{ 'recaptcha.instructions.new.image'|trans }}
              </span>
            </a>
            <a title="{{ 'recaptcha.instructions.help'|trans }}" href="javascript:Recaptcha.showhelp()" id="recaptcha_whatsthis_btn">
              <span>{{ 'recaptcha.instructions.help'|trans }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>