{% trans_default_domain 'FOSUserBundle' %}
<h1 class="title">{{ 'form.register.call_to_action' | trans }}</h1>

{% if actionUrl is not defined %}
    {% set actionUrl = 'fos_user_registration_register' %}
{% endif %}

{{ form_start(form, {'action': path(actionUrl), 'attr': {'role':'form', 'class':'fos_user_registration_register clearfix'}}) }}

{% for type, messages in app.session.flashbag.all %}
    {% for message in messages %}
        <div class="flash-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="form-content">
    {{ form_errors(form) }}
    {% if form.firstName is defined %}
        {{ form_row(form.firstName) }}
    {% endif %}

    {% if form.surname is defined %}
        {{ form_row(form.surname) }}
    {% endif %}

    {% if form.cpf is defined %}
        {{ form_row(form.cpf) }}
    {% endif %}

    {{ form_row(form.email) }}

    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        <em class="help-block">{{ password_hint.hintString }}</em>
        {{ form_widget(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>

        {{ form_row(form.plainPassword.second) }}

    {{ form_widget(form) }}

    <p class='terms'>
        {% trans with { '%linkTerms%': path("lc_privacy")} %}By clicking on create account, you agree to our <a href="%linkTerms%">Privacy and Terms of Service</a>, including our Use of Cookies.{% endtrans %}
    </p>

    <button class="btn btn-block btn-success" type="submit">{{ 'registration.submit'|trans }}</button>
</div>
{{ form_end(form) }}
