<footer>
    <ul class="no-first dashed text-center">
        <li><a href="{{ path('lc_help') }}">{{ 'Help' | trans }}</a></li>
        <li><a href="{{ path('lc_contact') }}">{{ 'Contact' | trans }}</a></li>
        <li><a href="https://github.com/redelivre/login-cidadao/"
               target="_blank">{{ 'GitHub Repository' | trans }}</a></li>
        <li>Copyleft @2014, 2016</li>
    </ul>
</footer>
