{% extends 'LoginCidadaoCoreBundle::base.html.twig' %}

{% block header %}
{% endblock %}

{% block footer %}
    {{ include('LoginCidadaoCoreBundle::compact.base.footer.html.twig') }}
{% endblock %}

{% block body %}
    <div class="vertical-center-with-footer">
        <div class="panel panel-compact center-block">
            <div class="panel-heading">
                <div class="heading-container">
                    {{ include('LoginCidadaoCoreBundle::common.compact.logo.html.twig') }}
                </div>
                <div class="heading-container buttons text-right">
                    {% block top_buttons %}
                        {% if app.user != null %}
                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-compact-text btn-compact-logout">
                                {{ 'compact.logout.button' | trans }}
                            </a>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <div class="panel-body {% block panel_body_class %}{% endblock %}">
                {% for type, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-label="{{ 'flash_message.close' | trans }}"><span
                                        aria-hidden="true">&times;</span></button>
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block panel_body %}
                {% endblock %}
            </div>
            <div class="panel-footer {% block panel_footer_class %}hidden{% endblock %}">
                {% block panel_footer %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets_custom %}
    {% stylesheets '@lc_compact_layout_css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
