<div class="settings-nav col-sm-3 col-lg-2">
    <ul class="nav nav-pills nav-stacked">
        {% block menu_items %}
            <li class="profile glyph {{ app.request.attributes.get('_route') == 'lc_dashboard' ? 'active' }}">
                <a href="{{ path('lc_dashboard') }}" class="clearfix">
                    <i class="glyphicon glyphicon-home icon"></i>
                    <span>{% trans %}Dashboard{% endtrans %}</span>
                </a>
            </li>
            <li class="profile glyph {{ app.request.attributes.get('_route') == 'fos_user_profile_edit' ? 'active' }}">
                <a href="{{ path('fos_user_profile_edit') }}" class="clearfix">
                    <i class="glyphicon glyphicon-user icon"></i>
                    <span>{% trans %}Profile{% endtrans %}</span>
                </a>
            </li>
            <li class="profile glyph {{ app.request.attributes.get('_route') == 'lc_profile_badges' ? 'active' }}">
                <a href="{{ path('lc_profile_badges') }}" class="clearfix">
                    <span>{{ 'Badges'|trans() }}</span>
                    <i class="glyphicon glyphicon-certificate icon"></i>
                </a>
            </li>
            <li class="profile glyph {{ (app.request.attributes.get('_route') == 'lc_documents' or app.request.attributes.get('_route') starts with 'lc_person_id_cards') ? 'active' }}">
                <a href="{{ path('lc_documents') }}" class="clearfix">
                    <span>{% trans %}Documents{% endtrans %}</span>
                    <i class="glyphicon glyphicon-file icon"></i>
                </a>
            </li>
            <li class="profile glyph {{ app.request.attributes.get('_route') == 'lc_person_addresses' or app.request.attributes.get('_route') == 'lc_person_addresses_edit' or app.request.attributes.get('_route') == 'lc_person_addresses_new' ? 'active' }}">
                <a href="{{ path('lc_person_addresses') }}" class="clearfix">
                    <span>{% trans %}Addresses{% endtrans %}</span>
                    <i class="glyphicon glyphicon-map-marker icon"></i>
                </a>
            </li>
            <li class="services glyph {{ app.request.attributes.get('_route') == 'lc_authorization_list' or app.request.attributes.get('_route') == 'lc_app_details' ? 'active' }}">
                <a href="{{ path('lc_authorization_list') }}" class="clearfix">
                    <span>{% trans %}Services{% endtrans %}</span>
                    <i class="glyphicon glyphicon-th icon"></i>
                </a>
            </li>
            {% if is_granted('FEATURE_EDIT_USERNAME') %}
                <li class="username {{ app.request.attributes.get('_route') == 'lc_update_username' ? 'active' }}">
                    <a href="{{ path('lc_update_username') }}" class="clearfix">
                        <span>{% trans %}Change Username{% endtrans %}</span>
                        <i class="glyphicon glyphicon-pencil icon"></i>
                    </a>
                </li>
            {% endif %}
            <li class="password {{ app.request.attributes.get('_route') == 'fos_user_change_password' ? 'active' }}">
                <a href="{{ path('fos_user_change_password') }}" class="clearfix">
                    <span>{% trans %}Security{% endtrans %}</span>
                    <i class="glyphicon glyphicon-lock icon"></i>
                </a>
            </li>
            <li class="services glyph {{ app.request.attributes.get('_route') == 'lc_statistics' or app.request.attributes.get('_route') == 'lc_statistics_user_badge' or app.request.attributes.get('_route') == 'lc_statistics_user_region' or app.request.attributes.get('_route') == 'lc_statistics_user_city' or app.request.attributes.get('_route') == 'lc_statistics_user_services' ? 'active' }}">
                <a href="{{ path('lc_statistics') }}">
                    <span>{{ 'statistics.list'|trans() }}</span>
                    <i class="glyphicon glyphicon-stats icon"></i>
                </a>
            </li>
            {% if app.user is not null and is_granted('FEATURE_ORGANIZATIONS') %}
                <li class="services glyph {{ app.request.attributes.get('_route') starts with 'lc_organizations_' ? 'active' }}">
                    <a href="{{ path('lc_organizations_list') }}" class="clearfix">
                        <span>{{ 'organizations.menu.label' | trans }}</span>
                        <i class="icon glyphicon glyphicon-briefcase"></i>
                    </a>
                </li>
            {% endif %}
            {% if app.user is not null and is_granted('ROLE_SUPER') %}
                <li class="services glyph">
                    <a href="{{ path('lc_admin') }}" class="clearfix">
                        <span>{{ 'admin.title'|trans() }}</span>
                        <i class="glyphicon glyphicon-tasks icon"></i>
                    </a>
                </li>
            {% endif %}
            {% if app.user is not null and is_granted('ROLE_DEV') %}
                <li class="services glyph">
                    <a href="{{ path('lc_dev') }}" class="clearfix">
                        <span>{{ 'developer.area'|trans() }}</span>
                        <i class="glyphicon glyphicon-wrench icon"></i>
                    </a>
                </li>
            {% endif %}
        {% endblock %}
    </ul>
</div>
