{% extends '::base.html.twig' %}

{% block header %}
    <div class="navbar">
        <div class="container">
            {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/brasaoRS.png' %}
            <img src="{{ asset_url }}" alt="{%trans%}Available services{%endtrans%}" width="50" height="60" class="brasao">
            {% endimage %}
            <a href="javascript:meuAuth.loginPopup(this)" class="btn btn-success btn-login pull-right">Entrar</a>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class='footer-login font-a'>
        <div>
            <nav>
                <ul>
                    <li>{%trans%}Government of Rio Grande do Sul{%endtrans%}</li>
                    <li><a href="#">{%trans%}Privacy and Terms of Service{%endtrans%}</a></li>
                    <li><a href="#">{{ 'Help' | trans }}</a></li>
                </ul>
            </nav>
        </div>
    </footer>
{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/*.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie7.css' filter='cssrewrite' %}
        <!--[if IE 7]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie8.css' filter='cssrewrite' %}
        <!--[if IE 8]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie9.css' filter='cssrewrite' %}
        <!--[if IE 9]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/jquery.js'
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/jquery.placeholder.js'
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        <script type="text/javascript">
        var meuAuth = {};
        meuAuth.loginPopup = function (obj, evt) {
            var url = '{{ path("fos_user_security_login") }}';
            window.open(url, '', "width=600,height=450");
        };
        </script>
    {% endjavascripts %}

    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/ie/ie.js'
    %}
        <!--[if lt IE 9]>
          <script type="text/javascript" src="{{ asset_url }}"></script>
        <![endif]-->
    {% endjavascripts %}


    <!--[if lt IE 10]>
        <script type="text/javascript">
        $('input[placeholder], textarea[placeholder]').placeholder();
        </script>
    <![endif]-->

{% endblock %}