{% extends '::base.html.twig' %}

{% block header %}
{% include "PROCERGSLoginCidadaoCoreBundle::navbar.html.twig" %}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block footer %}

    <footer class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Informações Úteis</h3>
                <ul>
                    <li><a href="{{ path('lc_general') }}">Licença de Conteúdo</a></li>
                    <li><a href="{{ path('lc_general') }}">{%trans%}Privacy and Terms of Service{%endtrans%}</a></li>
                    <li><a href="{{ path('lc_general') }}">Política de Privacidade</a></li>
                    <li><a href="">Repositório Github</a></li>
                    <li><a href="">Humans.txt</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h3>Precisa de Ajuda?</h3>
                <ul>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Suporte e Informações</a></li>
                </ul>

                <h3>Fique por Dentro</h3>
                <ul class="social">
                    <li class="flickr"><a href=""></a></li>
                    <li class="twitter"><a href=""></a></li>
                    <li class="facebook"><a href=""></a></li>
                    <li class="instagram"><a href=""></a></li>
                    <li class="youtube"><a href=""></a></li>
                    <li class="google"><a href=""></a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h3>Sobre o Governo</h3>
                {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/logo_gov2.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}Available services{% endtrans %}">
                {% endimage %}
            </div>
        </div>
        <div class="row copyright">
            <span>Copyright @2014 Procergs</span>
        </div>
    </footer>
{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/*.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie7.css' filter='cssrewrite' %}
        <!--[if IE 7]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie8.css' filter='cssrewrite' %}
        <!--[if IE 8]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie9.css' filter='cssrewrite' %}
        <!--[if IE 9]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/jquery.js'
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/jquery.placeholder.js'
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/navbar.js'
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/ie/ie.js'
    %}
        <!--[if lt IE 9]>
          <script type="text/javascript" src="{{ asset_url }}"></script>
        <![endif]-->
    {% endjavascripts %}


    <!--[if lt IE 10]>
        <script type="text/javascript">
        $('input[placeholder], textarea[placeholder]').placeholder();
        </script>
    <![endif]-->

{% endblock %}