{% extends '::base.html.twig' %}

{% block metatags %}
{{ parent() }}
<meta property="og:site_name" content="{% trans %}Login Cidadão{% endtrans %}"/>
<meta property="og:description" content="{% trans %}With only one account, the citizen will be able to use government's digital services.{% endtrans %}"/>
{% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/facebook-image.png' %}
<meta property="og:image" content="{{ app.request.scheme ~'://' ~ app.request.host ~ asset_url }}" />
{% endimage %}
<meta property="fb:app_id" content="{{ facebook_app_id }}"/>
{% endblock %}

{% block header %}
{% include "PROCERGSLoginCidadaoCoreBundle::navbar.html.twig" %}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block footer %}

    <footer class="container footer">
        <div class="row">
            <div class="col-sm-4">
                <h3>{% trans %}Useful Information{% endtrans %}</h3>
                <ul>
                    <li><a href="{{ path('lc_about') }}">{% trans %}About Citizen's Login{% endtrans %}</a></li>
                    <li><a href="{{ path('lc_privacy') }}">{% trans %}Privacy and Terms of Service{% endtrans %}</a></li>
                    <li><a href="https://github.com/PROCERGS/login-cidadao/" target="_blank">{% trans %}GitHub Repository{% endtrans %}</a></li>
                    <li><a href="{{ asset('humans.txt') }}" target="_blank">humans.txt</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h3>{% trans %}Need help?{% endtrans %}</h3>
                <ul>
                    <li><a href="{{ path('lc_contact') }}">{{ 'Contact' | trans }}</a></li>
                    <li><a href="{{ path('lc_help') }}">{{ 'Help' | trans }}</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h3 class="invisible">{% trans %}About the Government{% endtrans %}</h3>
                {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/logo_gov2.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}Government{% endtrans %}">
                {% endimage %}

                <h3 class="text-right">
                    <a href="//creativecommons.org/licenses/by-sa/4.0/">
                        {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/cc_by_sa.png' %}
                        <img src="{{ asset_url }}" alt="{% trans %}Creative commons{% endtrans %}">
                        {% endimage %}
                    </a>
                </h3>
            </div>
        </div>
        <div class="row copyright">
            <span>Copyleft @2014 {% trans %}Governo do Rio Grande do Sul{% endtrans %}</span>
            {% block credits %}{% endblock %}
        </div>
    </footer>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
    {% stylesheets 'bundles/procergslogincidadaocore/css/*.css' filter='cssrewrite' filter='?uglifycss' %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie7.css' filter='cssrewrite' filter='?uglifycss' %}
        <!--[if IE 7]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie8.css' filter='cssrewrite' filter='?uglifycss' %}
        <!--[if IE 8]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie9.css' filter='cssrewrite' filter='?uglifycss' %}
        <!--[if IE 9]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
        <style>
            html {
                background-image: url({{ asset('bundles/procergslogincidadaocore/images/'~background_helper.backgroundImage.file) }});
            }
        </style>
{% endblock %}

{% block javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/jquery.placeholder.js'
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/*' filter='?uglifyjs2' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/ie/ie.js' filter='?uglifyjs2'
    %}
        <!--[if lt IE 9]>
          <script type="text/javascript" src="{{ asset_url }}"></script>
        <![endif]-->
    {% endjavascripts %}


    <!--[if lt IE 10]>
        <script type="text/javascript">
        $('input[placeholder], textarea[placeholder]').placeholder();
        </script>
    <![endif]-->
<script type="text/javascript" src="//updateyourbrowser.net/asn.js"></script>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ facebook_app_id }}',
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : false  // parse XFBML
        });

        FB.getLoginStatus(function(response) {
        {% if app.session.get('facebook.logout') is not null %}
            var sessionClean = {{ app.session.remove('facebook.logout') }};
            FB.logout();
        {% endif %}
            var button = $('a.connect.facebook');
            if (button.length > 0) {
                var url = button.data('href');
                if (response.status === 'unknown') {
                    url += '?logout';
                }
                button.attr('href', url);
            }

        });
    };

    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46166474-3', 'rs.gov.br');
  ga('send', 'pageview');

</script>
{% endblock %}
