{% extends 'PROCERGSLoginCidadaoCoreBundle::base.html.twig' %}

{% block header %}
{% include "PROCERGSLoginCidadaoCoreBundle::navbar.html.twig" %}
{% endblock %}

{% block body %}
    {% block sidebar %}
        <div class="col-md-3 col-sm-3">
            <ul class="settings-nav nav nav-pills nav-stacked">
                <li class="profile active"><a href=""><span>Perfil</span><i class="bg"></i></a></li>
                <li class="services"><a href=""><span>Serviços</span><i class="bg"></i></a></li>
                <li class="notifications"><a href=""><span>Notificações</span><i class="bg"></i></a></li>
                <li class="username"><a href=""><span>Definir nome de usuário</span><i class="bg"></i></a></li>
                <li class="password"><a href=""><span>Alterar senha</span><i class="bg"></i></a></li>
                <li class="settings"><a href=""><span>Configurações</span><i class="bg"></i></a></li>
            </ul>

            <div class="progress-box">
                <h5 style="padding: 10px 10px 0 10px;">Situação do Cadastro</h5>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span>50%</span>
                  </div>
                </div>
            </div>
        </div>
    {% endblock sidebar %}

    <div class="settings-content col-md-9 col-sm-9">
    {% block content %}{% endblock content %}
    </div>

{% endblock body %}

{% block footer %}
    <footer class='font-a'>
        <div>
            <nav>
                <ul>
                    <li>{%trans%}Government of Rio Grande do Sul{%endtrans%}</li>
                    <li><a href="#">{%trans%}Privacy and Terms of Service{%endtrans%}</a></li>
                    <li><a href="#">{{ 'Help' | trans }}</a></li>
                </ul>
            </nav>
        </div>
    </footer>
{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/*.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie7.css' filter='cssrewrite' %}
        <!--[if IE 7]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie8.css' filter='cssrewrite' %}
        <!--[if IE 8]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie9.css' filter='cssrewrite' %}
        <!--[if IE 9]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/jquery.js'
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/ie/ie.js'
    %}
        <!--[if lt IE 9]>
          <script type="text/javascript" src="{{ asset_url }}"></script>
        <![endif]-->
    {% endjavascripts %}
{% endblock %}
