{% extends 'PROCERGSLoginCidadaoCoreBundle::base.html.twig' %}

{% block header %}
{% include "PROCERGSLoginCidadaoCoreBundle::navbar.html.twig" %}
{% endblock %}

{% block body %}
    {% block sidebar %}
        <div class="col-md-3 col-sm-3">
            <ul class="settings-nav nav nav-pills nav-stacked">
                <li class="profile {% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}active{% endif %}">
                    <a href="{{ path('fos_user_profile_edit') }}">
                        <span>{% trans %}Profile{% endtrans %}</span>
                        <i class="bg"></i>
                    </a>
                </li>
                <li class="services {% if app.request.attributes.get('_route') == 'lc_apps' %}active{% endif %}">
                    <a href="{{ path('lc_apps') }}">
                        <span>
                            {% trans %}Services{% endtrans %}
                            <i class="glyphicon glyphicon-th pull-right"></i>
                        </span></a>
                </li>
                <li class="notifications {% if app.request.attributes.get('_route') == 'lc_notifications_list' %}active{% endif %}">
                    <a href="{{ path('lc_notifications_list') }}">
                        <span>
                            {% trans %}Notifications{% endtrans %}
                            <i class="glyphicon glyphicon-bell pull-right"></i>
                        </span>
                    </a>
                </li>
                <li class="username {% if app.request.attributes.get('_route') == 'lc_update_username' %}active{% endif %}">
                    <a href="{{ path('lc_update_username')}}">
                        <span>{% trans %}Change Username{% endtrans %}</span>
                        <i class="bg"></i>
                    </a>
                </li>
                <li class="password {% if app.request.attributes.get('_route') == 'fos_user_change_password' %}active{% endif %}"   >
                    <a href="{{ path('fos_user_change_password')}}">
                        <span>{% trans %}Change password{% endtrans %}</span>
                        <i class="bg"></i>
                    </a>
                </li>
                <li class="settings">
                    <a href="">
                        <span>{% trans %}Settings{% endtrans %}</span>
                        <i class="bg"></i>
                    </a>
                </li>
            </ul>

            <div class="progress-box">
                <h5 style="padding: 10px 10px 0 10px;">{% trans %}Situation{% endtrans %}</h5>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span>50%</span>
                  </div>
                </div>
            </div>
        </div>
    {% endblock sidebar %}

    <div class="settings-content col-md-9 col-sm-9">
    {% block content %}{% endblock content %}
    </div>

{% endblock body %}

{% block footer %}
    <footer class='font-a'>
        <div>
            <nav>
                <ul>
                    <li>{%trans%}Government of Rio Grande do Sul{%endtrans%}</li>
                    <li><a href="#">{%trans%}Privacy and Terms of Service{%endtrans%}</a></li>
                    <li><a href="#">{{ 'Help' | trans }}</a></li>
                </ul>
            </nav>
        </div>
    </footer>
{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/*.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets 'bundles/procergslogincidadaocore/css/logged/*.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie7.css' filter='cssrewrite' %}
        <!--[if IE 7]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie8.css' filter='cssrewrite' %}
        <!--[if IE 8]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie9.css' filter='cssrewrite' %}
        <!--[if IE 9]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/jquery.js'
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/ie/ie.js'
    %}
        <!--[if lt IE 9]>
          <script type="text/javascript" src="{{ asset_url }}"></script>
        <![endif]-->
    {% endjavascripts %}
{% endblock %}
