{% extends '::base.html.twig' %}

{% block header %}
{% include "PROCERGSLoginCidadaoCoreBundle::navbar.html.twig" %}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block footer %}

    <footer class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>{% trans %}Useful Information{% endtrans %}</h3>
                <ul>
                    <li><a href="{{ path('lc_general') }}">{% trans %}Content License{% endtrans %}</a></li>
                    <li><a href="{{ path('lc_general') }}">{% trans %}Privacy and Terms of Service{% endtrans %}</a></li>
                    <li><a href="{{ path('lc_general') }}">{% trans %}Privacy Policy{% endtrans %}</a></li>
                    <li><a href="https://github.com/PROCERGS/login-cidadao/">{% trans %}GitHub Repository{% endtrans %}</a></li>
                    <li><a href="{{ asset('humans.txt') }}">humans.txt</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h3>{% trans %}Need help?{% endtrans %}</h3>
                <ul>
                    <li><a href="">{{ 'Contact' | trans }}</a></li>
                    <li><a href="">{{ 'Help' | trans }}</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h3>{% trans %}About the Government{% endtrans %}</h3>
                {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/logo_gov2.png' %}
                <img src="{{ asset_url }}" alt="{% trans %}Government{% endtrans %}">
                {% endimage %}
            </div>
        </div>
        <div class="row copyright">
            <span>Copyright @2014 PROCERGS</span>
        </div>
    </footer>
{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/*.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie7.css' filter='cssrewrite' %}
        <!--[if IE 7]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie8.css' filter='cssrewrite' %}
        <!--[if IE 8]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie9.css' filter='cssrewrite' %}
        <!--[if IE 9]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/jquery.js'
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/jquery.placeholder.js'
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/navbar.js'
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/ie/ie.js'
    %}
        <!--[if lt IE 9]>
          <script type="text/javascript" src="{{ asset_url }}"></script>
        <![endif]-->
    {% endjavascripts %}


    <!--[if lt IE 10]>
        <script type="text/javascript">
        $('input[placeholder], textarea[placeholder]').placeholder();
        </script>
    <![endif]-->

{% endblock %}
