{% extends 'PROCERGSLoginCidadaoCoreBundle::base.html.twig' %}

{% block body %}
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        {{ flashMessage }}
    </div>
{% endfor %}

    <div class="row">
    {% block sidebar %}
        <div class="settings-nav col-sm-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="profile glyph {{ app.request.attributes.get('_route') == 'fos_user_profile_edit' ? 'active' }}">
                    <a href="{{ path('fos_user_profile_edit') }}">
                        <span>
                            {% trans %}Profile{% endtrans %}
                            <i class="glyphicon glyphicon-user pull-right"></i>
                        </span>
                    </a>
                </li>
                <li class="services glyph {{ app.request.attributes.get('_route') == 'lc_authorization_list' or app.request.attributes.get('_route') == 'lc_app_details' ? 'active' }}">
                    <a href="{{ path('lc_authorization_list') }}">
                        <span>
                            {% trans %}Services{% endtrans %}
                            <i class="glyphicon glyphicon-th pull-right"></i>
                        </span></a>
                </li>
                <li class="notifications glyph {{ app.request.attributes.get('_route') == 'lc_notifications_list' ? 'active' }}">
                    <a href="{{ path('lc_notifications_list') }}">
                        <span>
                            {% trans %}Notifications{% endtrans %}
                            <i class="glyphicon glyphicon-bell pull-right"></i>
                        </span>
                    </a>
                </li>
                <li class="username {{ app.request.attributes.get('_route') == 'lc_update_username' ? 'active' }}">
                    <a href="{{ path('lc_update_username')}}">
                        <span>{% trans %}Change Username{% endtrans %}</span>
                        <i class="bg"></i>
                    </a>
                </li>
                <li class="password {{ app.request.attributes.get('_route') == 'fos_user_change_password' ? 'active' }}"   >
                    <a href="{{ path('fos_user_change_password')}}">
                        <span>{% trans %}Change password{% endtrans %}</span>
                        <i class="bg"></i>
                    </a>
                </li>
                {% if app.user is not null and is_granted('ROLE_ADMIN') %}
                <li class="services glyph {{ app.request.attributes.get('_route') == 'lc_admin_app_list' or app.request.attributes.get('_route') == 'lc_admin_app_new' or app.request.attributes.get('_route') == 'lc_admin_app_show' ? 'active' }}">
                    <a href="{{ path('lc_admin_app_list') }}">
                        <span>
                            {{ 'admin.apps.list'|trans() }}
                            <i class="glyphicon glyphicon-th pull-right"></i>
                        </span></a>
                </li>
                <li class="services glyph {{ app.request.attributes.get('_route') == 'lc_admin_sugg_list' or app.request.attributes.get('_route') == 'lc_admin_sugg_show' ? 'active' }}">
                    <a href="{{ path('lc_admin_sugg_list') }}">
                        <span>
                            {{ 'admin.sugg.list'|trans() }}
                            <i class="glyphicon glyphicon-th pull-right"></i>
                        </span></a>
                </li>
                
                {% endif %}
                {# <li class="settings glyph">
                    <a href="">
                        <span>
                            {% trans %}Settings{% endtrans %}
                            <i class="glyphicon glyphicon-cog pull-right"></i>
                        </span>
                    </a>
                </li> #}
            </ul>

            {# <div class="progress-box">
                <h5 style="padding: 10px 10px 0 10px;">{% trans %}Situation{% endtrans %}</h5>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span>50%</span>
                  </div>
                </div>
            </div> #}
        </div>
    {% endblock sidebar %}

    <div class="settings-content col-sm-9">
    {% block content %}{% endblock content %}
    </div>

    </div>

{% endblock body %}

{% block stylesheets %}
{{ parent() }}

    {% stylesheets 'bundles/procergslogincidadaocore/css/logged/*.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript">
        validador.cep.urlQuery = '{{ path('lc_consultaCep2') }}';
    </script>
{% endblock %}
