{% extends 'PROCERGSLoginCidadaoCoreBundle::base.html.twig' %}

{% block header %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/logo_gov.png' %}
        <img src="{{ asset_url }}" alt="{%trans%}Government of Rio Grande do Sul - Promoting equality makes the difference{%endtrans%}" height="65" class="pull-left">
    {% endimage %}



    <div class="dropdown pull-right">
          <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
    </div>

  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block footer %}
    <footer class='font-a'>
        <div>
            <nav>
                <ul>
                    <li>{%trans%}Government of Rio Grande do Sul{%endtrans%}</li>
                    <li><a href="#">{%trans%}Privacy and Terms of Service{%endtrans%}</a></li>
                    <li><a href="#">{{ 'Help' | trans }}</a></li>
                </ul>
            </nav>
        </div>
    </footer>
{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/*.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie7.css' filter='cssrewrite' %}
        <!--[if IE 7]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie8.css' filter='cssrewrite' %}
        <!--[if IE 8]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie9.css' filter='cssrewrite' %}
        <!--[if IE 9]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/jquery.js'
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/ie/ie.js'
    %}
        <!--[if lt IE 9]>
          <script type="text/javascript" src="{{ asset_url }}"></script>
        <![endif]-->
    {% endjavascripts %}
{% endblock %}
