{% trans_default_domain 'FOSUserBundle' %}
<h1 class="title">{{ 'form.login.call_to_action' | trans }}</h1>
{{ form_start(form1, {'action' : path("fos_user_security_check"), 'attr' : {'role' : 'form'}}) }}
<div class="form-content">

    {% if error is defined and error is not null %}
        <div class="form-group">
            <div class="input-error alert-danger">
                <ul>
                    <li>{{ error.messageKey|trans({}, 'security') }}</li>
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form1.username) }}
        {{ form_errors(form1.username) }}
        {{ form_widget(form1.username, {'attr' : {'placeholder' : 'security.login.username', 'tabindex': '1', 'onKeyUp' : 'validator.onKeyUpMultiformat(this, event)', 'class':'form-control', 'value' : last_username }}) }}
    </div>

    <div class="form-group">
        <label for="{{ form1.password.vars.id }}" class="required" style="display: block">
            {{ 'form.plainPassword' | trans }}
            <a id="resetting_request" target="_blank" tabindex="6" class="pull-right" href="{{ path('fos_user_resetting_request') }}">{{ 'resseting.forgot_password' | trans }}</a>
        </label>
        {{ form_errors(form1.password) }}
        {{ form_widget(form1.password, {'attr' : {'placeholder' : 'security.login.password', 'tabindex': '2', 'class':'form-control'}}) }}
    </div>

    {% if form1.recaptcha is defined %}
        <div class="form-group captcha-container">
            {{ include("PROCERGSLoginCidadaoCoreBundle::common.recaptcha.html.twig") }}
            {% form_theme form1 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}
            {{ form_widget(form1.recaptcha, { 'attr': {'options' : {'theme' : 'custom'}, 'tabindex': '2' } }) }}
        </div>
    {% endif %}

    <div class="form-group">
        <div class="checkbox remember-group">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" tabindex="4" />{{ 'security.login.remember_me'|trans }}
            </label>
        </div>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-block btn-success" tabindex="5">{{ 'security.login.submit'|trans }}</button>
    </div>
</div>

{{ form_end(form1) }}