{% trans_default_domain 'FOSUserBundle' %}
<h1 class="title">{{ 'form.register.call_to_action' | trans }}</h1>

{% if actionUrl is not defined %}
    {% set actionUrl = 'fos_user_registration_register' %}
{% endif%}

{{ form_start(form, {'action': path(actionUrl), 'attr': {'role':'form', 'class':'fos_user_registration_register clearfix'}}) }}

{% for type, messages in app.session.flashbag.peekAll() %}
    {% for message in messages %}
        <div class="flash-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="form-content">
    {{ form_errors(form) }}
    {% if form.firstName is defined %}
        <div class="form-group">
            {{ form_label(form.firstName, 'form.firstName' | trans) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder' : 'form.firstName.example' }}) }}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            {{ form_errors(form.firstName) }}
        </div>
    {% endif %}

    {% if form.surname is defined %}
        <div class="form-group">
            {{ form_label(form.surname, 'form.surname' | trans) }}
            {{ form_widget(form.surname, {'attr': {'class': 'form-control', 'placeholder' : 'form.surname.example' }}) }}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            {{ form_errors(form.surname) }}
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.email, 'form.email' | trans) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder' : 'form.email.example' }}) }}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword, 'form.plainPassword' | trans) }}
        {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder' : 'form.plainPassword.example' }}) }}
        {{ form_errors(form.plainPassword) }}
    </div>

    <div class="form-group">
        {{ form_label(form.mobile, 'form.phone' | trans) }}
        {{ form_widget(form.mobile, {'attr': {'class': 'form-control', 'placeholder' : ('form.phone.example' | trans) }}) }}
        {{ form_errors(form.mobile) }}
    </div>

    <p class='terms'>{% trans with { '%linkTerms%': path("lc_privacy")} %}By clicking on create account, you agree to our <a href="%linkTerms%">Privacy and Terms of Service</a>, including our Use of Cookies.{% endtrans %}</p>

    <button class="btn btn-block btn-success" type="submit">{{ 'registration.submit'|trans }}</button>
</div>
{{ form_end(form) }}
