<footer class="row limit-960">
  {# <div class="content col-xs-12 col-lg-10 col-lg-offset-2 col-lg-pull-1"> #}
  <div class="content {{ columns }}">
    <div class="row inner-row">

      <div class="col-sm-12 col-lg-4">
        <h3>{% trans %}Useful Information{% endtrans %}</h3>
        <ul>
          <li><a href="{{ path('lc_about') }}">{% trans %}About Citizen's Login{% endtrans %}</a></li>
          <li><a href="{{ path('lc_privacy') }}">{% trans %}Privacy and Terms of Service{% endtrans %}</a></li>
          <li><a href="https://github.com/PROCERGS/login-cidadao/" target="_blank">{% trans %}GitHub Repository{% endtrans %}</a></li>
          <li><a href="{{ asset('humans.txt') }}" target="_blank">humans.txt</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-lg-4">
        <h3>{% trans %}Need help?{% endtrans %}</h3>
        <ul>
          <li><a href="{{ path('lc_contact') }}">{{ 'Contact' | trans }}</a></li>
          <li><a href="{{ path('lc_help') }}">{{ 'Help' | trans }}</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-lg-4">
        <h3 class="text-right">
          <a href="//creativecommons.org/licenses/by-sa/4.0/">
            {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/cc_by_sa.png' %}
            <img src="{{ asset_url }}" alt="{% trans %}Creative commons{% endtrans %}">
            {% endimage %}
          </a>
        </h3>
      </div>

    </div>

    <div class="row inner-row copyright">
      <span>Copyleft @2014</span>
      {% block credits %}{% endblock %}
    </div>
  </div>
</footer>