{% block grid %}

<div id="{{ grid.getId }}" data-grid-extra-opts="{{ grid.getExtraOpts|json_encode }}" data-grid-currpage="{{ grid.getPage }}" class="common-grid-results" {{ grid.isInfinityGrid ? 'data-infinity-grid="true"' }}>

  {# GRID PAGINATION #}
  {% block grid_pagination %}
  <ul class="pagination" role="tablist" style="{{ grid.isInfinityGrid ? 'display: none;' }}">
    {% if grid.getPage > 0 %}
    <li><a href="{{ path(grid.getRoute, grid.getRouteParams|merge({page:grid.getPage-1})) }}">&laquo;</a></li>
    {% endif %}
    {% for i in 0..grid.getRpage  %}
    <li><a href="#page{{ (i+1)+grid.getRstart }}" role="tab" data-toggle="tab">{{ (i+1)+grid.getRstart }}</a></li>
    {% endfor %}
    {% if grid.getRlast %}
    <li><a href="{{ path(grid.getRoute, grid.getRouteParams|merge({page:grid.getPage+1})) }}">&raquo;</a></li>
    {% endif %}
  </ul>
  {% endblock grid_pagination %}

  {# GRID BODY #}
  {% block grid_body %}
  <div class="panel panel-default">
    {% if grid.getResultset|length >0 %}

    {# GRID HEADER #}
    {% block grid_header %}
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>
    {% endblock grid_header %}

    {# GRID CONTENT #}
    <div class="panel-body">
      <div class="list-group">
      {% for row in grid.getResultset %}
        {% block grid_row %}
        <a href="#" class="list-group-item row common-grid-result {{ grid.getRlast != true ? 'row-last' }}" data-row="{{ 'row' }}"></a>
        {% endblock grid_row %}
      {% if loop.index%grid.getPerpage==0 %}
      </div>
      <div class="tab-pane" id="page{{ (loop.index/grid.getPerpage)+grid.getRstart+1 }}">
        {{ block('grid_header') }}
      {% endif%}
      {% endfor %}
      {% else %}
      {% block grid_body_empty %}
        <div class="common-grid-result-no-result text-center">{{ 'grid.search.noresult'|trans }}</div>
      {% endblock grid_body_empty %}
      {% endif %}
    </div>
  </div>
  {% endblock grid_body %}

{% block grid_infinity_pagination %}
  {% if grid.getRlast and grid.isInfinityGrid %}
  <div class="btn-group">
    <button type="button" class="btn btn-default infinityscroll-next-button " data-retrive="#{{ grid.getId }}">
      <span class="glyphicon glyphicon glyphicon-list"></span> {{ 'more'|trans }}
    </button>
  </div>
  {% endif %}
  {% endblock grid_infinity_pagination %}
</div>

{% endblock grid %}
