<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header {% if app.user == null %}pull-left{% endif %}">
            {% if app.user != null %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lc-navbar-collapse">
                <span class="sr-only">{% trans %}Toggle Navigation{% endtrans %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% endif %}

            {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/brasaoRS.png' %}
            <img src="{{ asset_url }}" alt="{% trans %}Available services{% endtrans %}" class="navbar-brand">
            {% endimage %}
        </div>

        {% if app.user == null %}
        <div class="pull-right">
            <a data-href="{{ url("fos_user_security_login") }}" class="btn btn-login btn-success navbar-btn">{{ 'Log in' | trans }}</a>
        </div>
        {% else %}
        <div class="collapse navbar-collapse" id="lc-navbar-collapse">
            <ul class="nav navbar-nav">
                {# Apps list #}
                <li class="dropdown icons apps">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-th">
                            <span class="icon-label">{% trans %}Applications{% endtrans %}</span>
                        </i>
                    </a>
                    <ul class="dropdown-menu clearfix">
                    {% for auth in app.user.getAuthorizations %}
                        <li>
                            <a href="">
                                <img src="http://placehold.it/50x50" alt="">
                                <span>{{ auth.client.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                        <li class="text-center all"><a href="{{ url('lc_apps') }}">{% trans %}View all services{% endtrans %}</a></li>
                    </ul>
                </li>

                {# Notifications #}
                <li class="dropdown icons notification">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-bell">
                            {% if notifications_helper.getUnread is not empty %}
                            <span class="label label-danger">{{ notifications_helper.getUnread | length }}</span>
                            {% endif %}
                            <span class="icon-label">{% trans %}Notifications{% endtrans %}</span>
                        </i>
                    </a>
                    <ul class="dropdown-menu">

                        {% if notifications_helper.getUnread is not empty %}
                            {% for notification in notifications_helper.getUnread %}
                                {% if notification.resolveTarget is defined %}
                                    {% set target = notification.resolveTarget(app_router) %}
                                {% else %}
                                    {% set target = url('lc_notifications_list') %}
                                {% endif %}

                            <li class="level-{{ notification.level }}">
                                <a href="{{ target }}"><strong>{{ notification.title | trans }}</strong> - {{ notification.shortText | trans }}</a>
                            </li>
                            {% endfor %}
                            <li class="text-center all"><a href="{{ url('lc_notifications_list') }}">{% trans %}View all notifications{% endtrans %}</a></li>
                        {% else %}
                        <li class="none">{% trans %}You don't have any unread notification.{% endtrans %}</li>
                        {% endif %}
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ url('fos_user_profile_edit') }}" class="profile-card">
                        <img src="{% include 'PROCERGSLoginCidadaoCoreBundle:Person:currentUserPicture.html.twig' %}" alt="" class="profile-picture">
                        <span class="profile-username">{{ app.user.username }}</span>
                    </a>
                </li>
                <li class="icons">
                    <a href="{{ url('fos_user_security_logout')}}">
                        <i class="glyphicon glyphicon-log-out">
                            <span class="icon-label">{% trans from "FOSUserBundle" %}layout.logout{% endtrans %}</span>
                        </i>
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% if app.user is not null and notifications_helper.getUnreadExtreme is not empty %}
    {% for notification in notifications_helper.getUnreadExtreme %}
<div class="notification-extreme alert alert-danger">
    <div class="container">
        <strong>{{ notification.title | trans }}</strong>
        {{ notification.shortText | trans }}
    </div>
</div>
    {% endfor %}
{% endif %}