<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header {% if app.user == null %}pull-left{% endif %}">
            {% if app.user != null %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">{% trans %}Toggle Navigation{% endtrans %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% endif %}

            {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/brasaoRS.png' %}
            <img src="{{ asset_url }}" alt="{% trans %}Available services{% endtrans %}" class="navbar-brand">
            {% endimage %}
        </div>

        {% if app.user == null %}
        <div class="pull-right">
            <a href="{{ path("fos_user_security_login") }}" class="btn btn-login btn-success navbar-btn">{{ 'Log in' | trans }}</a>
        </div>
        {% else %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {# Apps list #}
                <li class="dropdown icons">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon apps">
                            <span class="icon-label">{% trans %}Applications{% endtrans %}</span>
                        </i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="">App1</a></li>
                    </ul>
                </li>

                {# Notifications #}
                <li class="dropdown icons">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon notifications">
                            <span class="icon-label">{% trans %}Notifications{% endtrans %}</span>
                        </i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="">Notification</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle profile-card" data-toggle="dropdown">
                        {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/userav.png' %}
                        <img src="{{ asset_url }}" alt="" class="profile-picture" width="34" height="34">
                        {% endimage %}
                        <span class="profile-username">{{ app.user.username }}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout')}}">{% trans from "FOSUserBundle" %}layout.logout{% endtrans %}</a></li>
                    </ul>
                </li>
                <li class="icons">
                    <a href="{{ path('fos_user_security_logout')}}">
                        <i class="icon logout">
                            <span class="icon-label">{% trans from "FOSUserBundle" %}layout.logout{% endtrans %}</span>
                        </i>
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>



<nav class="navbar navbar-default navbar-inverse" role="navigation" style="display:none;">
  <div class="container">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" class="icon apps"></a>
            </li>
            <li class="dropdown">
                <a href="#" class="icon notifications dropdown-toggle" data-toggle="dropdown"></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" class="icon user">
                {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/userav.png' %}
                <img src="{{ asset_url }}" alt="" class="img" width="33" height="33">
                {% endimage %}
                <span class="name">Pessoa da Silva</span>
            </a>
        </li>
        <li><a href="{{ path('fos_user_security_logout')}}" class="icon logout"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>