{% extends "LoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block title %}{{ 'access_log.page.title' | trans }} | {{ parent() }}{% endblock title %}

{% block content %}
    <div class="content organizations">

        <h1 class="visible-xs">{{ 'access_log.page.title' | trans }}</h1>

        <div class="form-content">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'access_log.page.title' | trans }}</div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% if logs | length == 0 %}
                            <div class="alert alert-warning" role="alert">
                                {{ 'dashboard.logs.login.no_entries' | trans }}
                            </div>
                        {% endif %}
                        {% for log in logs %}
                            <li class="list-group-item">
                                {{ include('LoginCidadaoCoreBundle:AccessLog:entry.fragment.html.twig', { 'log': log }) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
