{% extends "LoginCidadaoCoreBundle::base.loggedIn.html.twig" %}


{% block title %}{{ 'Security' | trans }} | {{ parent() }}{% endblock title %}

{% block content %}
    <div class="form-content">
        <div class="content security clearfix">
            <h1 class="visible-xs">{{ 'Two-Factor Authentication' | trans }}</h1>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'Confirm Two-Factor Authentication Deactivation' | trans }}</h2>
                </div>
                <div class="panel-body">
                    {{ form_start(form, {'action': path('2fa_disable'), 'attr': {'role':'form', 'class':'lc_2fa_disable'} }) }}

                    <p>{% trans %}By disabling Two-Factor Authentication you are reducing your account's security.{% endtrans %}</p>

                    {{ form_row(form.current_password) }}

                    <a class="btn btn-default pull-left" href="{{ path('fos_user_change_password')}}">{{ 'Keep it activated' | trans }}</a>
                    {{ form_widget(form.disable, { 'attr': { 'class': 'pull-right btn-danger' } }) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
