{% extends 'LoginCidadaoCoreBundle::compact.base.html.twig' %}

{% block panel_body_class %}task-email-validation{% endblock %}

{% block panel_body %}
    <h1>{{ '2fa.auth.title' | trans }}</h1>

    <p>{{ '2fa.auth.ask_code' | trans }}</p>

    <form class="form" action="" method="post" role="form">
        {% for flashMessage in app.session.flashbag.get("two_factor") %}
            <p class="error">{{ flashMessage|trans }}</p>
        {% endfor %}

        <div class="form-group">
            <label for="_auth_code" class="sr-only">{{ '2fa.auth.label' | trans }}</label>
            <input id="_auth_code" type="text" autocomplete="off" name="_auth_code" class="form-control"
                   placeholder="{{ '2fa.auth.placeholder' | trans }}"/>
        </div>

        {% if useTrustedOption %}
            <div class="checkbox">
                <label for="_trusted">
                    <input id="_trusted" type="checkbox" name="_trusted"/>
                    {{ "scheb_two_factor.trusted" | trans }}
                </label>
            </div>
        {% endif %}

        <button type="submit" class="btn btn-success pull-right">{{ 'security.login.submit'|trans }}</button>

        {# The logout link gives the user a way out if they can't complete the second step #}
        <a class="btn btn-link pull-left" href="{{ path("fos_user_security_logout") }}">{{ 'Cancel' | trans }}</a>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('form').preventDoubleSubmission();
        });
    </script>
{% endblock %}
