{% extends "LoginCidadaoCoreBundle::base.loggedIn.html.twig" %}


{% block title %}{{ 'Security' | trans }} | {{ parent() }}{% endblock title %}

{% block content %}
    <div class="form-content">
        <div class="content security clearfix">
            <h1 class="visible-xs">{{ 'Generate new Backup Codes' | trans }}</h1>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'Confirm Backup Codes Generation' | trans }}</h2>
                </div>
                <div class="panel-body">
                    {{ form_start(form, {'action': path('2fa_backup_codes_generate'), 'attr': {'role':'form', 'class':'lc_2fa_backup_code_generation'} }) }}

                    {{ form_row(form.current_password) }}

                    <a class="btn btn-default pull-left" href="{{ path('fos_user_change_password')}}">{{ 'Cancel' | trans }}</a>
                    {{ form_widget(form.generate, { 'attr': { 'class': 'pull-right btn-success' } }) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
