{% extends "PROCERGSLoginCidadaoCoreBundle:Admin:base.html.twig" %}
{% block content %}
  <div id="statistics" class="content statistics-badges">

    <h1 class="visible-xs">{{ 'admin.statistics.userByBadge'|trans }}</h1>

      {% for client, badges in data %}
        <div class="panel panel-default">
          <div class="panel-heading">{{ client }}</div>
          <div class="panel-body">
            <ul class="list-group">
              {% for badge, value in badges %}
                {% for key, item in value %}
                <li class="list-group-item">
                  {% if item is iterable %}
                    {% for k, num in item %}
                      <div>{{ key }} {{ k }} - {{ num }}</div>
                    {% endfor %}
                  {% else %}
                  {{ key }} - {{ item }}
                  {% endif %}
                </li>
                {% endfor %}

              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
  </div>
{% endblock %}