{% extends "LoginCidadaoCoreBundle:Dev:base.html.twig" %}

{% block content %}
<div class="content broadcast">

    <div class="panel panel-default">
      <div class="panel-heading">
          <h2 class="panel-title">
              {{ 'Broadcast' | trans }} - {{ broadcast.createdat|date('d/m/Y H:i:s') }}
          </h2>
      </div>
      <div class="panel-body">
          <p><strong>{{ 'Title' | trans }}</strong> : {{ broadcast.title }}</p>
          <p><strong>{{ 'Short text' | trans }}</strong> : {{ broadcast.shortText }}</p>
          <p><strong>{{ 'Category' | trans }}</strong> : {{ broadcast.category.name }}</p>

          <p><strong>{{ 'Message' | trans }}</strong> </p>
          <div class="well" id="notification-preview">{{  broadcast.htmlTemplate | raw }}</div>

          <p><strong>{{ 'Receivers' | trans }}</strong></p>
          <select class="form-control" multiple="multiple">
          {% for receiver in broadcast.receivers %}
            <option>{{ receiver.firstName ? receiver.firstName : receiver.userName }}</option>
          {% endfor %}
          </select>

          {% if broadcast.sent == false %}
            {{ form_start(form) }}
              <div class="form-bar text-right clearfix" style="margin-top: 50px;">
              {{ form_widget(form.save, {'attr': {'class': 'btn btn-success pull-right'}}) }}
              </div>
            {{ form_end(form) }}
          {% endif %}
      </div>
    </div>
    <a href="{{ path('lc_dev_broadcasts') }}" class="btn btn-link" role="button">{{ 'Back to broadcasts list' | trans }}</a>
</div>
{% endblock content %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LoginCidadaoNotificationBundle/Resources/public/css/broadcast.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}