{% extends "LoginCidadaoCoreBundle:Dev:base.html.twig" %}

{% block content %}
<div class="content broadcast">

    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">{{ 'Select one client' | trans }}</h2></div>
      <div class="panel-body">
        <div class="list-group">
          {% for client in clients %}
            <a href="{{ path('lc_dev_broadcast_new', {'clientId': client.id}) }}" class="list-group-item">
                {{ client.name }}
            </a>
        {% endfor %}
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LoginCidadaoNotificationBundle/Resources/public/css/broadcast.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}