{% extends "LoginCidadaoCoreBundle::grid_layout.html.twig" %}

{% block grid_header_action %}
{% endblock grid_header_action %}

{% block grid_header_data %}
<div class="col-md-12">{{ 'Broadcasts'|trans }}</div>
{% endblock grid_header_data %}

{% block grid_row_action %}
<a href="{{ path('lc_dev_broadcasts_clients') }}" role="button" class="btn btn-primary">{{ 'New Broadcast' | trans }}</a>
{% endblock grid_row_action %}

{% block grid_row_data %}
<a href="{{ path('lc_dev_broadcast_about', {'broadcastId': row.id}) }}" class="list-group-item broadcast-item">
    <h4 class="list-group-item-heading">{{ row.title }}</h4>
    <p class="list-group-item-text">{{ row.shortText }}</p>
    <p class="list-group-item-text">{{ row.category.name }}</p>
    <p class="list-group-item-text">{{ row.createdat|date('d/m/Y H:i:s') }}</p>
    {% if row.sent == false %}
    <span class="label label-warning">{{ 'Not sent' | trans }}</span>
    {% endif %}
</a>
{% endblock grid_row_data %}


{% block grid_row %}
    {{ block('grid_row_data') }}
{% endblock grid_row %}

{% block grid_infinite_pagination %}
    <div class="btn-group btn-group-justified">
        {% if not grid.getRlast and grid.isInfiniteGrid %}
            {% set routeParams = { 'page': grid.page + 1 } %}
            <div class="btn-group">
                <button type="button" class="btn btn-info infinitescroll-next-button " data-retrive="#{{ grid.getId }}">
                  {{ 'load more'|trans }}
                </button>
            </div>
        {% endif %}
    </div>
{% endblock grid_infinite_pagination %}