{% extends "LoginCidadaoCoreBundle:Dev:base.html.twig" %}

{% block content %}
    <div id="inbox-detail" class="content notifications clearfix">
        <a href="{{ path('lc_dev_broadcasts_clients') }}" role="button" class="btn btn-primary" id="btn-broadcast-new">{{ 'New Broadcast' | trans }}</a>
        {{ include("LoginCidadaoNotificationBundle:Broadcast:grid.html.twig") }}
    </div>
{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LoginCidadaoNotificationBundle/Resources/public/css/broadcast.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}