{% extends "LoginCidadaoCoreBundle:Dev:base.html.twig" %}

{% block content %}
    <div class="content notifications-broadcast-new">        
            
        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="panel-title">{{ 'Broadcast Settings' | trans }}</h2></div>
            <div class="panel-body">
                {{ form_row(form.category) }}
                {{ form_row(form.receivers) }}
            </div>
            <div class="panel-footer text-right">
                <input class='btn btn-success' type="submit" value="{{ 'Next'|trans }}" />
            </div>
        </div>
        {{ form_end(form) }}
            
        
    </div>
{% endblock content %}