{% extends "LoginCidadaoCoreBundle:Dev:base.html.twig" %}

{% block content %}
<div class="content notifications-broadcast-preview">

  <div class="panel panel-default">
    <div class="panel-heading"><h2 class="panel-title">{{ 'Broadcast Preview' | trans }}</h2></div>
    <div class="panel-body">
    {{ form_start(form) }}
      {{ form_row(form.title) }}
      {{ form_row(form.shortText) }}

      <label>{{ 'Placeholders' | trans }}</label>
      <ul class="list-group">
      {% for placeholder in form.placeholders %}
        {% set placeholderObj = placeholder.vars.data.placeholder %}
        <li class="list-group-item placeholder clearfix">
            <span class="label" data-placeholder="{{ placeholderObj.name }}">{{ placeholderObj.name }}</span>
            {{ form_widget(placeholder.value, {'attr': {'class': 'pull-right value'}} ) }}
        </li>
      {% endfor %}
      </ul>
      <button type="button" class="btn btn-primary" id="btn-preview">{{ 'Preview' | trans }}</button>

      <h4>{{ 'Template' | trans }}</h4>
      <div class="well" id="notification-preview">{{ form.vars.data.template | raw}}</div>
      <div class="hidden" id="hidden-template">{{ form.vars.data.template | raw}}</div>

      <h4>{{ 'Sending for...' | trans }} <span class="badge">{{ form.vars.data.receivers|length }}</span></h4>
      <ul class="list-group">
        {% for receiver in form.vars.data.receivers|slice(0,5) %}
          <li class="list-group-item">{{ receiver.firstName ? receiver.firstName : receiver.userName }}</li>
        {% endfor %}
      </ul>

      <div class="form-bar text-right clearfix">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_widget(form.saveAndAdd, {'attr': {'class': 'btn btn-success'}}) }}
      </div>

    {{ form_end(form) }}

    </div>
  </div>
</div>
{% endblock content %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LoginCidadaoNotificationBundle/Resources/public/css/broadcast.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@LoginCidadaoNotificationBundle/Resources/public/js/jquery.ba-replacetext.js'
        '@LoginCidadaoNotificationBundle/Resources/public/js/broadcast.js'
        filter='?uglifyjs2'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}