{% extends 'LoginCidadaoCoreBundle:Admin:base.html.twig' %}
{% block content %}
    <div class="content">

        <h1 class="visible-xs">{{ 'Profile'|trans }}</h1>

        <div id="admin-person-edit">
            {% form_theme form 'LoginCidadaoCoreBundle::Form/fields.html.twig' %}
            {{ form_start(form, {'attr' : {'role' : 'form'}}) }}
            {{ form_errors(form) }}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'General'|trans }}</h2>
                </div>
                <div class="panel-body">
                    <div class="row clearfix">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img src="{{ include("LoginCidadaoCoreBundle:Person:currentUserPicture.html.twig", {'targetPerson': person}) }}" alt="" class="col-xs-12 img-responsive"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            {{ form_row(form.username) }}
                            {{ form_row(form.firstName) }}
                            {{ form_row(form.surname) }}
                            {{ form_row(form.email) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.birthdate) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.country) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.state) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.city) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.mobile) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'lc.admin.person.metadata.title'|trans }}</h2>
                </div>
                <div class="panel-body">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="userCreatedAt">{{ 'lc.admin.person.metadata.createdAt' | trans }}</label>
                                <span id="userCreatedAt" class="form-control" readonly="readonly">
                                    {{ person.createdAt | date('lc.admin.person.metadata.date_format' | trans) }}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailConfirmedAt">{{ 'lc.admin.person.metadata.emailConfirmedAt.label' | trans }}</label>
                                <span id="emailConfirmedAt" class="form-control" readonly="readonly">
                                    {% if person.emailConfirmedAt is not null %}
                                        {{ person.emailConfirmedAt | date('lc.admin.person.metadata.date_format' | trans) }}
                                    {% else %}
                                        {{ 'lc.admin.person.metadata.emailConfirmedAt.empty' | trans }}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastLogin">{{ 'lc.admin.person.metadata.lastLogin' | trans }}</label>
                                <span id="lastLogin" class="form-control" readonly="readonly">
                                    {{ person.lastLogin | date('lc.admin.person.metadata.date_format' | trans) }}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastLogin">{{ 'lc.admin.person.metadata.hasCpf.label' | trans }}</label>
                                <span id="lastLogin" class="form-control" readonly="readonly">
                                    {% if person.cpf is not null %}
                                        {% if is_granted('ROLE_VIEW_USERS_CPF') %}
                                            {{ person.cpf }}
                                        {% else %}
                                            {{ 'lc.admin.person.metadata.hasCpf.yes' | trans }}
                                        {% endif %}
                                    {% else %}
                                        {{ 'lc.admin.person.metadata.hasCpf.no' | trans }}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if form.roles is defined %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'Security'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                {{ form_row(form.roles) }}
                                <div class="form-bar text-right">
                                    <input class='btn btn-success' type="submit" value="{{ 'Send'|trans }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {{ form_end(form) }}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'Services'|trans }}</h2>
                </div>
                <div class="panel-body">
                    {% if person.getAuthorizations|length > 0 %}
                        <ul class="list-group">
                            {% for auth in person.getAuthorizations %}
                                {% if auth.client.uid != defaultClientUid %}
                                    <li class="list-group-item service clearfix">
                                        <div class="media clearfix">
                                            <div class="pull-left">
                                                <img src="{{ include('LoginCidadaoCoreBundle:Client:imageUrl.html.twig', { 'client': auth.client }) }}" width="65" height="65" alt="" class="media-object">
                                            </div>
                                            <div class="media-body">
                                                <h5 class="media-heading">{{ auth.client.name }}</h5>
                                                <label for="authorization_{{ auth.id }}">{{ 'lc.admin.person.metadata.authorization.createdAt' | trans }}:</label>
                                                <span id="authorization_{{ auth.id }}">{{ auth.createdAt | date('lc.admin.person.metadata.date_format' | trans) }}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    {% else %}
                        <p class="empty">{% trans %}There are no active services yet.{%  endtrans %}</p>
                    {% endif %}
                </div>
            </div>

            {% if is_granted('FEATURE_IMPERSONATION_REPORTS') %}
                {{ render(controller('LoginCidadaoCoreBundle:Admin/Person:impersonationReports', { 'id': person.id })) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
