<div class="pull-left notification-image">
    <img class="media-object" src="{{ include('PROCERGSLoginCidadaoCoreBundle:Client:imageUrl.html.twig', { 'client': notification.sender }) }}" alt="{{ notification.sender.name }}" title="{{ notification.sender.name }}">
</div>
<div class="media-body notification-body">
    <h4 class="media-heading">{{ notification.title }}</h4>
    {{ notification.shortText }}
</div>
