{% extends "PROCERGSLoginCidadaoCoreBundle:Admin:base.html.twig" %} 
{% block content %}
<div id="app-detail" class="content app-admin clearfix">
    <h5>{{ 'Services'|trans }}</h5>
    <p>
        <a href="{{ path('lc_admin_app_new') }}" class="btn btn-primary btn-sm">{{ 'New Service'|trans }} </a>
    </p>
    {% if clients|length > 0 %}
    <div class="content">

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'Service'|trans }}</th>
                        <th>{{ 'URL'|trans }}</th>
                        <th>{{ 'Actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
              {% for client in clients %}
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.siteurl }}</td>
                        <td>
                            <a href="{{ path('lc_admin_app_show', {'id': client.id}) }}">
                                <span>
                                    <i class="glyphicon glyphicon-search"></i>{{ 'Details'|trans }}
                                </span>
                            </a>
                            <a href="{{ path('lc_admin_app_edit', {'id': client.id}) }}">
                                <span>
                                    <i class="glyphicon glyphicon-pencil"></i>{{ 'Edit'|trans }}
                                </span>
                            </a>
                        </td>
                    </tr>
              {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% else %}
    <div>{{ 'No services registered.'|trans }}</div>
    {% endif %}

</div>

{% endblock %} {% block javascripts %} {{ parent() }}
<script type="text/javascript">
</script>
{% endblock %}
