{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %} {% block content %}
<div id="app-detail" class="content clearfix">

    <h3>{{ client.name }}</h3>

    <div class="content">
        <div class="desc row">
            <div class="col-sm-12 col-md-4">
                            {% if client.getPictureWebPath is not null and client.getPictureWebPath != '' %}
                <img src="/{{ client.getPictureWebPath }}" alt="" class="center-block" style="width: 90%;">
                            {% else %}
                <img src="//placehold.it/220x220" alt="" class="center-block">
                            {% endif %}
            </div>

            <div class="col-sm-12 col-md-7 col-md-offset-1">
                <p>{{ client.description }}</p>
            </div>

        </div>
        <p style="margin-top: 50px;">{{ 'Redirect URIs'| trans }}</p>
        <ul class="permissions">
            {% for item in client.redirecturis %}
            <li>{{ item }}</li> {% endfor %}
        </ul>
        <p style="margin-top: 50px;">{{ 'Allowed Scopes'| trans }}</p>
        <ul class="permissions">
            {% for item in client.allowedscopes %}
            <li>{{ ('scope.' ~ item) | trans }}</li> {% endfor %}
        </ul>
        <p style="margin-top: 50px;">{{ 'Allowed Grant Types'| trans }}</p>
        <ul class="permissions">
            {% for item in client.allowedgranttypes %}
            <li>{{ item }}</li> {% endfor %}
        </ul>
        <p style="margin-top: 50px;">{{ 'Landing Page'| trans }}</p>
        <ul class="permissions">
            <li>{{ client.landingpageurl }}</li>
        </ul>
        <p style="margin-top: 50px;">{{ 'Terms of Use'| trans }}</p>
        <ul class="permissions">
            <li>{{ client.termsofuseurl }}</li>
        </ul>
        <p style="margin-top: 50px;">{{ 'Secret/Private Key'| trans }}</p>
        <ul class="permissions">
            <li>{{ client.secret }}</li>
        </ul>
        <p style="margin-top: 50px;">{{ 'Public Id'| trans }}</p>
        <ul class="permissions">
            <li>{{ client.publicid }}</li>
        </ul>
    </div>

</div>

{% endblock %}
