{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div class="content applications">

    <h1 class="visible-xs">{% trans %}Services{% endtrans %}</h1>

    {# ################# #
     #  ACTIVE SERVICES  #
     # ################# #}
     <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">{% trans %}Active Services{% endtrans %}</h2></div>
      <div class="panel-body">
        {% if user.getAuthorizations|length > 0 %}
        {% for auth in user.getAuthorizations %}
        <div class="services list-group">
          <a href="{{ path('lc_app_details', {'clientId': auth.client.id}) }}" class="list-group-item clearfix">
            {% if auth.client.getPictureWebPath is not null and auth.client.getPictureWebPath != '' %}
            <img src="/{{ auth.client.getPictureWebPath }}" width="65" height="65" alt="" class="client-img">
            {% else %}
            <img src="//placehold.it/65x65" alt="" class="center-block">
            {% endif %}
            <h6 class="title">{{ auth.client.name }}{{ auth.client.name }}{{ auth.client.name }}</h6>
            <div class="status"><span class="label label-success pull-right">{% trans %}Active{%  endtrans %}</span></div>
          </a>
        </div>
        {% endfor %}

        {% else %}
        <p class="empty">{% trans %}There are no active services yet.{%  endtrans %}</p>
        {% endif %}
      </div>
    </div>

    {# ################ #
     #  OTHER SERVICES  #
     # ################ #}
     {% if apps|length > 0 %}
     <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">{% trans %}Other Services{% endtrans %}</h2></div>
      <div class="panel-body">
        {% for client in apps %}
        <div class="services list-group">
          <a href="{{ path('lc_app_details', {'clientId': client.id}) }}" class="list-group-item clearfix">
            {% if client.getPictureWebPath is not null and client.getPictureWebPath != '' %}
            <img src="/{{ client.getPictureWebPath }}" width="65" height="65" alt="" class="client-img">
            {% else %}
            <img src="//placehold.it/65x65" alt="" class="client-img">
            {% endif %}
            <h6 class="title">{{ client.name }}</h6>
            <div class="status"><span class="label label-default pull-right">{% trans %}Inactive{%  endtrans %}</span></div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}


    {# ################# #
     #  SUGGESTION FORM  #
     # ################# #}
     <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">{{ 'Suggest a Service' | trans }}</h2></div>
      <div class="panel-body">
        {{ form_start(form, {'action': path('lc_suggestions_new_service'), 'attr': {'role':'form' } }) }}
        {{ form_errors(form) }}
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              {{ form_label(form.text, 'Describe your suggestion'|trans) }}
              {{ form_widget(form.text, {'attr': {'class': 'form-control'}}) }}
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              <div class="input-error">{{ form_errors(form.text) }}</div>
            </div>
            <div class="text-right">
              <input class="btn btn-success" type="submit" value="{{ 'Send' |trans }}" />
            </div>
          </div>
        </div>
        {{ form_end(form) }}

        <div class="row">
          {% for type, messages in app.session.flashbag.all() %}
          {% for message in messages %}
          <div class="col-sm-12">
            <div class="text-center bg-success flash-{{ type }}">
              {{ message }}
            </div>
          </div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>

      <div class="last-suggestions clearfix">
        <h5 class="title">{{ 'Your last suggested Services'|trans }}</h5>
        {% if suggs|length > 0 %}
        {% for sugg in suggs %}
        <span class="label label-info">{{ sugg.text }}</span>
        {% endfor %}
        {% endif %}
      </div>

    </div>


  </div>


  {% endblock %}

  {% block javascripts %}
  {{ parent() }}
  {% javascripts '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/components/salvatore.min.js' %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script>

    $(function() {
    // switch display application list
    $('.app-toggle .btn').on('click', function() {

      if ( !$(this).hasClass('active') ) {

        $('.app-toggle .btn').removeClass('active');
        $(this).addClass('active');
        $('#applications .list-group').css({'margin-top': '-30px', 'opacity' : 0 });

        var self = $(this);
        setTimeout( function(){
          switch (self.data("display")) {
            case 'list':
            $('#applications ul').removeClass('grid').addClass('list');
            break;
            case 'grid':
            $('#applications ul').removeClass('list').addClass('grid');
            break;
          }
          $('#applications .list-group').css({'margin-top' : 0, 'opacity' : 1});
        }, 1000);

      }
    });

    $(window).resize(function() {

      if ($(this).width() < 768) {
        $('.app-toggle .btn[data-display="grid"]').trigger('click');
        $('.app-toggle .btn[data-display="list"]').attr('disabled', 'disabled');
      } else {
        $('.app-toggle .btn[data-display="list"]').removeAttr('disabled');
      }

    });

  });

</script>
{% endblock %}
