{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="applications" class="content clearfix">

    <div class="clearfix">
        <h3 class="pull-left">{% trans %}Services{% endtrans %}</h3>
    </div>

    <div class="list-group">
        <h4>{% trans %}Active Services{% endtrans %}</h4>
        {% if user.getAuthorizations|length > 0 %}
            <ul class="grid clearfix">
            {% for auth in user.getAuthorizations %}

                <li>
                    <a href="{{ path('lc_app_details', {'clientId': auth.client.id}) }}">
                        {% if auth.client.getPictureWebPath is not null and auth.client.getPictureWebPath != '' %}
                            <img src="/{{ auth.client.getPictureWebPath }}" width="65" height="65" alt="" class="center-block">
                        {% else %}
                            <img src="http://placehold.it/65x65" alt="" class="center-block">
                        {% endif %}
                        <span class="name center-block text-center">{{ auth.client.name }}</span>
                        <span class="activated status">{% trans %}Activated{%  endtrans %}</span>
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="empty">{% trans %}No service activated{%  endtrans %}</p>
        {% endif %}

        <h4>{% trans %}Other Services{% endtrans %}</h4>
        {% if apps|length > 0 %}
            <ul class="grid clearfix">
                {% for client in apps %}

                    <li>
                        <a href="{{ path('lc_app_details', {'clientId': client.id}) }}">
                            {% if client.getPictureWebPath is not null and client.getPictureWebPath != '' %}
                                <img src="/{{ client.getPictureWebPath }}" width="65" height="65" alt="" class="center-block">
                            {% else %}
                                <img src="http://placehold.it/65x65" alt="" class="center-block">
                            {% endif %}
                            <span class="name center-block text-center">{{ client.name }}</span>
                            <span class="status">{% trans %}Deactivated{%  endtrans %}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="empty">{% trans %}No service deactivated{%  endtrans %}</p>
        {% endif %}
    </div>
      <h4>{{ 'client.suggestion.title'|trans }}</h4>
    <div class="form-content">
        {{ form_start(form, {'action': path('lc_apps_sugg'), 'attr': {'role':'form' } }) }}
        {{ form_errors(form) }}
          <div class="row clearfix">
              <div class="col-md-7">
                  <div class="form-group">
                      {{ form_label(form.text, 'client.suggestion.field'|trans) }}
                      {{ form_widget(form.text, {'attr': {'class': 'form-control'}}) }}
                      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                      <div class="input-error">{{ form_errors(form.text) }}</div>
                  </div>
                        <div class="text-right">
                        <input class="btn btn-success" type="submit" value="{{ 'common.submit'|trans }}" />
                     </div>
              </div>
          </div>
          {{ form_end(form) }}
          <div class="row">
              {% for type, messages in app.session.flashbag.all() %}
                  {% for message in messages %}
                  <div class="col-md-12">
                      <div class="text-center bg-success flash-{{ type }}">
                          {{ message }}
                      </div>
                  </div>
                  {% endfor %}
              {% endfor %}
          </div>
      </div>
        <h4>{{ 'client.suggestions.title'|trans }}</h4>
        {% if suggs|length > 0 %}
            <ul class="">
                {% for sugg in suggs %}
                    <li>
                        <span>{{ sugg.text }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="empty">{{ 'client.suggestions.none'|trans }}</p>
        {% endif %}

  </div>



{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

$(function() {
    // switch display application list
    $('.app-toggle .btn').on('click', function() {

        if ( !$(this).hasClass('active') ) {

            $('.app-toggle .btn').removeClass('active');
            $(this).addClass('active');
            $('#applications .list-group').css({'margin-top': '-30px', 'opacity' : 0 });

            var self = $(this);
            setTimeout( function(){
                switch (self.data("display")) {
                    case 'list':
                        $('#applications ul').removeClass('grid').addClass('list');
                        break;
                    case 'grid':
                        $('#applications ul').removeClass('list').addClass('grid');
                        break;
                }
                $('#applications .list-group').css({'margin-top' : 0, 'opacity' : 1});
            }, 1000);

        }
    });

    $(window).resize(function() {

        if ($(this).width() < 768) {
            $('.app-toggle .btn[data-display="grid"]').trigger('click');
            $('.app-toggle .btn[data-display="list"]').attr('disabled', 'disabled');
        } else {
            $('.app-toggle .btn[data-display="list"]').removeAttr('disabled');
        }

    });

});

</script>
{% endblock %}
